{% extends "layout.html" %}
{% load i18n %}
{% block title %}Hồ sơ{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/change_password.js"></script>
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" media="all" />
{% endblock %}

{% block container_class%}col2-left-layout{% endblock%}

{% block main_content %}
<div class="main profile-custom ">
    <!-- Start MENU -->
    {% include 'registration/menu_profile.html' %}
    <!-- End MENU -->

    <div class="col-main">
        <div class="my-account">
            <div class="page-title">
                <h1>Thay đổi mật khẩu</h1>
            </div>
            <div class="col-lg-12" >
                <div class="row">
                    <form action="" method="post" autocomplete="off" id="change-pass-validate" class="scaffold-form metiz-edit-account" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="row">
                                <div class='top-row'>
                                    <div class="col-sm-6 form-group">
                                        <label>Mật Khẩu Cũ</label>
                                        <div class="inline">
                                            <input type="password" id="old_password" name="old_password" 
                                            placeholder="Mật Khẩu Cũ" class="form-control">
                                            {% if form.old_password.errors %}
                                                {{ form.old_password.errors }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="top-row">
                                    <div class="col-sm-6 form-group">
                                        <label>Mật Khẩu Mới</label>
                                        <div class="inline">
                                            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Mật Khẩu Mới">
                                            {% if form.new_password.errors %}
                                                {{ form.new_password.errors }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Nhập Lại Mật Khẩu Mới</label>
                                         <div class="inline">
                                            <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Nhập Lại Mật Khẩu Mới">
                                            {% if form.new_password2.errors %}
                                                {{ form.new_password2.errors }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons-set metiz-edit-btn">
                                <button type="submit" title="Lưu lại" class="button"><span><span>Lưu lại</span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-left sidebar"></div>
    </div>
</div>
{% endblock %}
