{% extends "layout.html" %} 
{% load i18n %} 
{% block title %}Hồ sơ{% endblock title %} 

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/profile.js"></script>
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" media="all" />
{% endblock %}

{% block container_class%}col2-left-layout{% endblock%}

{% block main_content %}
<div class="main profile-custom ">
    <div class="col-left sidebar col-left-first">
        <div class="block block-account">
            <div class="block-title">
                <strong><span>Tài khoản</span></strong>
            </div>
            <div class="block-content">
                <ul>
                    <li class="last"><a href="{% url 'profile' %}">Thông tin tài khoản</a></li>
                    <li class="active"><a href="{% url 'change_password' %}">Thay đổi mật khẩu</a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="col-main">
        <div class="my-account">
            <div class="page-title">
                <h1>Thay đổi mật khẩu</h1>
            </div>
            <div class="col-lg-12 >
                <div class="row">
                    <form action="" method="post" autocomplete="off" id="change-pass-validate" class="scaffold-form metiz-edit-account" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Mật khẩu cũ</label>
                                    <div class="inline">
                                        <input type="password" id="password1" name="password1" 
                                        placeholder="Mật khẩu cũ" class="form-control">
                                        {% if register_form.password1.errors %}
                                            {{register_form.password1.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Mật khẩu mới</label>
                                    <div class="inline">
                                        <input type="password" name="password2" id="password2" class="form-control" placeholder="Mật khẩu mới">
                                        {% if register_form.password2.errors %}
                                            {{register_form.password2.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>Nhập lại mật khẩu mới</label>
                                     <div class="inline">
                                        <input type="password" name="password3" id="password3" class="form-control" placeholder="Nhập lại mật khẩu mới">
                                        {% if register_form.password3.errors %}
                                            {{register_form.password3.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="buttons-set metiz-edit-btn">
                                <button type="submit" title="Lưu lại" class="button"><span><span>Lưu lại</span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-left sidebar"></div>
    </div>
</div>
{% endblock %}