{% extends "layout.html" %}
{% load i18n %}
{% block title %}Thông tin thẻ thành viên{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/barcode/jquery-barcode.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/info_member_card.js"></script>
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" media="all" />
{% endblock %}

{% block container_class%}col2-left-layout{% endblock%}

{% block main_content %}
<div class="main profile-custom ">
    <!-- Start MENU -->
    {% include 'registration/menu_profile.html' %}
    <!-- End MENU -->

    <div class="col-main info-member-card">
        <div class="my-account">
            <div class="page-title">
                <h1>THÔNG TIN THẺ THÀNH VIÊN</h1>
            </div>
            {% if not card_info %}
            <div class="row info-mc-1">
                <div class="col-md-12">
                    <p class="mc-1-des-1">Thông báo: Bạn chưa đăng ký thẻ thành viên hoặc đã có thẻ thanh viên nhưng chưa liên kết với tài khoản.</p>
                    <p class="mc-1-des-2">Nếu bạn đã có thẻ thành viên, vui lòng nhập vàp mã số thẻ và liên kết với tài khoản để có thể xem và chỉnh sửa thông tin cá nhân.</p>
                    <form action="" method="POST" class="form-inline" id="form-member-card">
                        <div class="form-group">
                            <div class="col-xs-8 col-sm-7 div-input">
                                <label>Mã số Thẻ:</label>
                                <input type="text" class="form-control" name="card_member">
                                <label class="error" for="card_member" id='card_member-error'></label>
                            </div>
                            <div class="col-xs-4 col-sm-5 div-btn">
                                <button id="btn-link-card" class="btn">LIÊN KẾT TÀI KHOẢN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="row info-mc-2">
                <div class="col-md-12 mc-2-des">
                    <p><label>Mã thẻ: </label><div id="barcode-member-card"></div> 
                        <input type="hidden" name="barcode_member_card" value="{{card_info.card_member}}" />
                    </p>
                    <p><label>Cấp độ thẻ: </label> {{card_info.level}}</p>
                    <p><label>Điểm tích lũy: </label> {{card_info.point}}</p>
                </div>
                <div class="col-md-12">
                    <p><label>Danh mục đổi quà:</label> </p>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Quà tặng</th>
                                <th>Điểm đổi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Get list gift from js -->
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-left sidebar"></div>
    </div>
</div>
{% endblock %}
