{% load i18n %} 
{% autoescape off %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Metiz Account Password Reset.</title>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/css/password_reset_email.css"></script>
  </head>
  <body class="">
    <table id="tb_welcome" style="" cellpadding="0" cellspacing="0" class="tb_welcome">
      <tbody>
          <tr>
              <td colspan="2" class="padding-logo" align="left" valign="top"><h2>Metiz cinema</h2></td>
          </tr>
          <tr>
              <td colspan="2" class="sperator-header" align="center" valign="middle">
                  <hr >
              </td>
          </tr>
          <tr>
              <td colspan="2" class="padding-40" align="left" valign="top">To initiate the password reset process for your {{ user.email }} TestSite Account. Please click the link below:</td>
              
          </tr><br>
          <tr>
            <td colspan="2" class="padding-40" align="left" valign="top"><span class="site_url font-20" id="site_url" ><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="activation" target="_blank" >Reset Password</a></span></td>
          </tr><br>
          <tr>
            <td colspan="2" class="padding-40" align="left" valign="top"><span class="site_url" id="site_url"></span> If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</td>
          </tr><br>
          <tr>
            <td colspan="2" class="padding-40" align="left" valign="top"><span class="site_url" id="site_url"></span> Thank you for registering and welcome to Metiz!</td>
          </tr>
          <tr>
              <td colspan="2" class="sperator-footer" align="left" valign="top">
                  <hr>
              </td>
          </tr>
          <tr>
              <td colspan="2" class="footer1" align="left" valign="top">
              <span class="padding-content">Sincerely,</span>
              <br/>
              <span class="padding-content">The Metiz Team</span></td>
          </tr>
      </tbody>
  </table>
  </body>
</html>
{% endautoescape %}