{% extends 'layout.html' %}

{% load i18n %}

{% block title %}Đặt lại mật khẩu mới{% endblock title %} 

{% block container_class %}col1-layout {% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/password_reset.js"></script>
{% endblock %}

{% block body_class %}
  customer-account-forgotpassword
{% endblock %}

{% block main_content %}
<div class="main">            
    <div class="col-main">
        {% if validlink %}
            <div class="form-forgot-pass password-reset-confirm">
                <div class="form-change-pass">
                    <h2>Đặt lại mật khẩu mới</h2>
                    <form action="#" method="post" id="form-validate">
                        <div class="fieldset">          
                            <p class="form-instructions"> * Vui lòng nhập mật khẩu mới của bạn vào ô bên dưới. Mật khẩu của bạn không được quá giống với các thông tin cá nhân khác của bạn, phải chứa ít nhất 8 ký tự, mật khẩu không nên thường được sử dụng, không thể hoàn toàn là số.</p>
                            <ul class="form-list">
                                <li>
                                    <div class="input-box">
                                        {% csrf_token %}
                                        <p>
                                            <label for="id_new_password1">Mật khẩu mới:</label> 
                                            <input id="id_new_password1" name="new_password1" type="password" required="" placeholder="Nhập mật khẩu mới"> <span class="helptext"></span>
                                        </p>
                                        <ul>
                                            <li>Your password can't be too similar to your other personal information.</li>
                                            <li>Your password must contain at least 8 characters.</li>
                                            <li>Your password can't be a commonly used password.</li>
                                            <li>Your password can't be entirely numeric.</li>
                                        </ul>
                                        <p></p>
                                        <p>
                                            <label for="id_new_password2">Xác nhận mật khẩu mới:</label> 
                                            <input id="id_new_password2" name="new_password2" type="password" required="" placeholder="Nhập lại mật khẩu mới">
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons-set">
                            <button type="submit" title="Gửi đi" class="button"><span><span>Xác nhận thay đổi</span></span></button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="form-forgot-pass">
                <div class="note-forgot-pass note-pass-reset-done">
                    <p>
                        Liên kết đặt lại mật khẩu không hợp lệ, có thể bởi vì nó đã được sử dụng. Vui lòng đặt lại mật khẩu mới.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}