{% extends "layout.html" %}

{% load i18n %}

{% block title %}Tìm lại mật khẩu{% endblock title %} 

{% block container_class %}col1-layout {% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
  customer-account-forgotpassword
{% endblock %}

{% block main_content %}
<div class="main">            
    <div class="col-main pass-reset-form">
        <div class="page-title">
            <h1>Bạn muốn tìm lại mật khẩu?</h1>
        </div>
        <div class="form-forgot-pass">
            <div class="note-forgot-pass">
                <h3>Tìm lại mật khẩu</h3>
                <p> 
                    Bạn không nhớ mật khẩu? bạn có thể đặt lại mật khẩu bằng email.
                </p>
            </div>
            <div class="form-change-pass">
                <h2>Đặt lại mật khẩu </h2>
                <form action="#" method="post" id="form-validate">
                    <div class="fieldset">          
                        <p class="form-instructions">Vui lòng nhập địa chỉ email của bạn vào ô bên dưới. Bạn sẽ nhận được một liên kết để thiết lập lại mật khẩu.</p>
                        <ul class="form-list">
                            <li>
                                <div class="input-box">
                                {% csrf_token %}
                                {{ form.as_p }}
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons-set">
                        <button type="submit" title="Gửi đi" class="button"><span><span>Gửi đi</span></span></button>
                    </div>
                    <p class="back-link"><a href="{% url 'login' %}"><small>&laquo; </small>Quay lại trang đăng nhập</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}