{% extends 'layout.html' %}

{% load i18n %}

{% block title %}Mật khẩu thay đổi thành công{% endblock title %} 

{% block container_class %}col1-layout {% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
  customer-account-forgotpassword
{% endblock %}

{% block main_content %}
<div class="main">            
    <div class="col-main">
        <div class="page-title">
            <h1>Mật khẩu thay đổi thành công</h1>
        </div>
        <div class="form-forgot-pass">
            <div class="note-forgot-pass note-pass-reset-done">
                <p>
                    Mật khẩu của bạn đã được đặt. Bạn có thể tiếp tục và <a href="{% url 'login' %}">đăng nhập</a> ngay bây giờ.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}