{% extends "layout.html" %}
{% load i18n %}
{% block title %}Hồ sơ{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/profile.js"></script>
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" media="all" />
{% endblock %}

{% block container_class%}col2-left-layout{% endblock%}

{% block main_content %}
<div class="main profile-custom ">
    <div class="col-left sidebar col-left-first">
        <div class="block block-account">
            <nav class="navbar navbar-inverse sidebar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0);">TÀI KHOẢN</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav post-detail-metiz">
                        <li class="active">
                            <a href="{% url 'profile' %}">Thông tin tài khoản<span class="pull-right hidden-xs showopacity fa fa-user-circle-o"></span></a>
                        </li>
                        <li>
                            <a href="{% url 'change_password' %}">Thay đổi mật khẩu<span class="pull-right hidden-xs showopacity fa fa-unlock-alt"></span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-main">
        <div class="my-account">
            <div class="page-title">
                <h1>Thông tin tài khoản</h1>
            </div>
            <div class="col-lg-12 >
                <div class="row">
                    <form action="{% url 'update_profile' %}" method="post" autocomplete="off" id="profile-validate" class="scaffold-form metiz-edit-account" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label for="full_name">{% trans "Full Name" %}</label>
                                    <div class="inline">
                                        <input type="text" name="full_name" id="full_name" value="{%if full_name %}{{ full_name }}{% endif %}" title="User Name" class="input-text validate-mobile required-entry" /> 
                                        {% if form.full_name.errors %}
                                            {{form.full_name.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "Gender" %}</label>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="gender" id="gender" value="male" checked="checked"> {% trans "Male" %}
                                        <input class="form-check-input" type="radio" name="gender" id="gender" value="female" > {% trans "Female" %}
                                      </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "Birth Date" %}</label>
                                    <div class="inline">
                                        <input type="text" name="birth_date" id="birth_date" value="{% if birth_date %}{{ birth_date | date:'d-m-Y' }}{% endif %}" placeholder="{% trans 'Choose Your Birthday..' %}" class="form-control">                
                                        {% if form.birth_date.errors %}
                                            {{form.birth_date.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "Phone" %}</label>
                                    <div class="inline">
                                        <input type="text" name="phone" value="{% if phone %}{{ phone }}{% endif %}" id="phone" placeholder="{% trans 'Enter Phone Here..' %}" class="form-control">
                                        {% if form.phone.errors %}
                                            {{form.phone.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "Email"%}</label>
                                    <div class="inline">
                                        <input type="text" id="email" value="{{ email }}" name="email" placeholder="{% trans 'Enter Email Here..' %}" class="form-control" disabled>
                                        {% if form.email.errors %}
                                            {{form.email.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "Personal ID" %}</label>
                                    <div class="inline">
                                        <input type="text" name="personal_id" value="{% if personal_id %} {{ personal_id }} {% endif %}" id="personal_id" placeholder="{% trans 'Enter Personal ID Here..' %}" class="form-control">
                                        {% if form.personal_id.errors %}
                                            {{form.personal_id.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "City"%}</label>
                                    <div class="inline">
                                        <input type="hidden" id="id_city" value="{{ city }}">
                                        <select class="form-control list-city" name="city" id="city">
                                            <option value="" disabled selected>{% trans "Choose City" %}</option>
                                        </select>
                                        {% if form.city.errors %}
                                            {{form.city.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label>{% trans "District"%}</label>
                                     <div class="inline">
                                        <input type="hidden" id="id_district" value="{{ district }}">
                                        <select class="form-control list-district" name="district" id="district">
                                            <option disabled selected>{% trans "Choose District" %}</option>
                                        </select>
                                        {% if form.district.errors %}
                                            {{form.district.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label>{% trans "Address" %}</label>
                                    <div class="inline">
                                        <textarea name="address" id="address" placeholder="{% trans 'Enter Address Here..' %}" rows="3" class="form-control">{% if address %}{{ address }} {% endif %}</textarea>
                                        {% if form.address.errors %}
                                            {{form.address.errors}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="buttons-set metiz-edit-btn">
                                <button type="submit" title="Lưu lại" class="button"><span><span>Lưu lại</span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-left sidebar"></div>
    </div>
</div>
{% endblock %}
