{% extends "layout.html" %} 
{% load i18n %} 
{% block title %}Hồ sơ{% endblock title %} 

{% block extrascript %}
{% endblock %}

{% block extrastylesheet %}
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" media="all" />
{% endblock %}

{% block container_class%}col2-left-layout{% endblock%}

{% block main_content %}
<div class="main profile-custom ">
    <div class="col-left sidebar col-left-first">
        <div class="block block-account">
            <div class="block-title">
                <strong><span>Tài khoản</span></strong>
            </div>
            <div class="block-content">
                <ul>
                    <li class="active"><a href="{% url 'profile' %}">Thông tin tài khoản</a></li>
                    <li class="last"><a href="{% url 'change_password' %}">Thay đổi mật khẩu</a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="col-main">
        <div class="my-account">
            <div class="page-title">
                <h1>Thông tin tài khoản</h1>
            </div>
            <form action="{% url 'update_profile' %}" method="post" autocomplete="off" id="form-validate" class="scaffold-form metiz-edit-account" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="fieldset">
                    <ul class="form-list">
                        <li class="fields">
                            <div class="customer-name">
                                <div class="field name-firstname">
                                    <label for="firstname">Tên</label>
                                    <div class="input-box">
                                        <input type="text" name="username" id="username" value="{{ username }}" title="User Name" class="input-text validate-mobile required-entry" />                      
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="right">
                            <label for="gender">Giới tính</label>
                            <div class="input-box">
                                <input type="text" name="gender" id="gender" value="{% if gender %}{{ gender }}{% endif %}" title="Gender" class="input-text validate-mobile required-entry" />
                                               
                            </div>
                        </li>
                        <li>                    
                            <label for="month">Ngày sinh</label>
                            <div class="input-box customer-dob">
                                <input type="text" name="birth_date" id="birth_date" value="{{ birth_date }}" title="birth_date" class="input-text validate-mobile required-entry" />                  
                            </div>
                        </li>
                        <li class="right">
                            <label for="telephone" class="required"><em>*</em>Điện thoại</label>
                            <div class="input-box">
                            {% if phone %}
                                {{ phone }}
                            {% endif %}
                            </div>
                         </li>
                        <li>
                            <label for="email" class="required"><em>*</em>Địa chỉ email</label>
                            <div class="input-box">
                                {{ email }}
                                        
                            </div>
                        </li>
                        <li class="right">
                            <label for="personal_id">CMND hoặc Hộ chiếu</label>
                            <div class="input-box">
                                <input type="text" name="personal_id" value="" title="Địa chỉ" id="id_personal_id" class="input-text  required-entry" />
                            </div>
                        </li>
                        <li class="fields field-country">
                            <div class="field field-country-first">
                                <label for="city" class="required "><em>*</em>Tỉnh/Tp</label>
                                <div class="input-box">
                                    <select id="city" name="city" title="Tỉnh/Tp" class="validate-select">
                                        <option value="">Vui lòng chọn...</option>
                                        <option value="65">Hồ Chí Minh</option>                          
                                        <option value="64">Hà Nội</option>                                                       
                                        <option value="60" selected>Đà Nẵng</option>                
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="right">
                            <div class="field field-city">
                                <label for="district" class="required "><em>*</em>Quận/Huyện</label>
                                <div class="input-box">
                                    <select class="input-box input-box-city validate-select" id="city" name="district" title="Quận/Huyện" >
                                        <option value="">Vui lòng chọn...</option>
                                        <option value="Huyện Hòa Vang">Huyện Hòa Vang</option>                                              
                                        <option value="Quận Cẩm Lệ">Quận Cẩm Lệ</option>                                                       
                                        <option value="Quận Hải Châu">Quận Hải Châu</option>                                                       
                                        <option value="Quận Liên Chiểu">Quận Liên Chiểu</option>                                                       
                                        <option value="Quận Ngũ Hành Sơn">Quận Ngũ Hành Sơn</option>                                                       
                                        <option value="Quận Sơn Trà">Quận Sơn Trà</option>                                                       
                                        <option value="Quận Thanh Khê">Quận Thanh Khê</option>                                                       
                                        <option value="Other" selected>Other</option>                                                       
                                    </select>
                                </div>
                            </div>
                        </li>
            <!-- Customer Address -->
                        <li class="wide">
                            <label for="address" class="required"><em>*</em>Địa chỉ</label>
                            <div class="input-box">
                                <input type="text" name="address" value="{% if address %}{{ address }} {% endif %} " title="Địa chỉ" id="address" class="input-text  required-entry" />
                            </div>
                        </li>           
                    </ul>
                </div>   
                <div class="buttons-set metiz-edit-btn">
                    <button type="submit" title="Lưu lại" class="button"><span><span>Lưu lại</span></span></button>
                </div>
                <p class="required">* Dữ liệu cho phép cập nhật</p>
            </form>
        </div>
        <div class="col-left sidebar"></div>
    </div>
</div>
{% endblock %}