{% extends "layout.html" %} 
{% load i18n %} 
{% block title %}{% trans "Signup" %}{% endblock title %} 

{% block extrascript %} 
    <script src="{{ STATIC_URL }}assets/websites/js/signup.js"></script>
   
{% endblock %} 

{% block extrastylesheet %} 
 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/datetimepicker/jquery.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/signup.css">
    
{% endblock %} 

{% block main_content %}
<div class="main">
    <div class="col-main">
        <div class="account-wrap">
            <div class="product-collateral account-tabs">
                <ul class="toggle-tabs nav nav-tabs">
                    <li class="{% if is_login %} active {% endif %}"><span><a href="#login" data-toggle="tab">Đăng nhập</a></span></li>
                    <li class="{% if is_signup %} active {% endif %}"><span><a href="#create" data-toggle="tab">Đăng ký</a></span></li>
                </ul>
                
                <div id="myTabContent" class="tab-content">
                    <!-- ======================== SIGN IN ===================-->
                    <div class="tab-pane in col-lg-12 well {% if is_login %} active {% endif %}" id="login">
                        <div class="row">
                            <form class="signin" id="signin_form" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Email" %}</label>
                                            <input type="text" name="email" id="email" placeholder="{% trans 'Enter Email Here..' %}" class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Password"%}</label>
                                            <input type="password" name="password" id="password" class="form-control">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-login">Login</button>
                                </div>
                            </form>
                        </div>
                        <a class="login-forgot-pass" href="{% url 'password_reset' %}">Tìm lại mật khẩu?</a>
                    </div>

                    <!-- ======================== SIGN UP ===================-->
                    <div class="col-lg-12 well tab-pane {% if is_signup %} active {% endif %}" id="create">
                        <div class="row">
                            {% if register_form.errors %}
                                 {% for field in register_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form class="signup" id="signup_form" method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label for="full_name">{% trans "Full Name" %}</label>
                                            <div class="inline">
                                                <input type="text" name="full_name" id="full_name" placeholder="{% trans 'Enter Full Name Here..' %}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Gender" %}</label>
                                            <div class="form-check form-check-inline">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="gender" id="gender" value="male" checked="checked"> {% trans "Male" %}
                                                <input class="form-check-input" type="radio" name="gender" id="gender" value="female" > {% trans "Female" %}
                                              </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Birth Date" %}</label>
                                            <div class="inline">
                                                <input type="text" name="birth_date" id="birth_date" placeholder="{% trans 'Choose Your Birthday..' %}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Phone" %}</label>
                                            <div class="inline">
                                                <input type="text" name="phone" id="phone" placeholder="{% trans 'Enter Phone Here..' %}" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Email"%}</label>
                                            <div class="inline">
                                                <input type="text" id="email" name="email" placeholder="{% trans 'Enter Email Here..' %}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Personal ID" %}</label>
                                            <div class="inline">
                                                <input type="text" name="personal_id" id="personal_id" placeholder="{% trans 'Enter Personal ID Here..' %}" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Password"%}</label>
                                            <div class="inline">
                                                <input type="password" id="password1" name="password1" 
                                                placeholder="{% trans 'Enter Password Here..' %}"class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "City"%}</label>
                                            <div class="inline">
                                                <select class="form-control list-city" name="city" id="city">
                                                    <option value="" disabled selected>{% trans "Choose City" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "Confirm Password" %}</label>
                                            <div class="inline">
                                                <input type="password" name="password2" id="password2" class="form-control" placeholder="{% trans 'Enter Password Again..' %}">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>{% trans "District"%}</label>
                                             <div class="inline">
                                                <select class="form-control list-district" name="district" id="district">
                                                    <option disabled selected>{% trans "Choose District" %}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>{% trans "Address" %}</label>
                                            <div class="inline">
                                                <textarea name="address" id="address" placeholder="{% trans 'Enter Address Here..' %}" rows="3" class="form-control"></textarea>
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <input name="is_agree" id="is_agree" required="requierd" class="checkbox validation-passed" autocomplete="off" type="checkbox"> 
                                            <label class="is_agree" for="is_agree">
                                                Tôi đã đọc, hiểu và đồng ý với các <a href="{% url 'get_cms' %}?key_query=kq_dieu_khoan_chung">điều khoản</a>.</label>
                                        </div>
                                    </div>
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> 
                                    {% endif %}
                                    <button type="submit" class="btn btn-login" disabled>Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}