{% extends "layout.html" %}
{% load i18n %}
{% block title %}Lịch sử giao dịch online{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/transaction_history.js"></script>
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/profile.css" media="all" />
{% endblock %}

{% block container_class%}col2-left-layout{% endblock%}

{% block main_content %}
<div class="main profile-custom ">
    <!-- Start MENU -->
    {% include 'registration/menu_profile.html' %}
    <!-- End MENU -->

    <div class="col-main transaction-history">
        <div class="my-account">
            <div class="page-title">
                <h1>LỊCH SỬ GIAO DỊCH ONLINE</h1>
            </div>
            <div class="row info-th">
                <div class="col-md-12 info-th-1">
                    <p>Số lân đặt vé (online): 10</p>
                    <hr/>
                </div>
                <div class="col-md-12 info-th-2">
                    <div class="col-md-7 th-1-des">
                        <p><label>Mã đặt vé: </label> 111222</p>
                        <p><label>Trạng thái: </label> Thành công</p>
                        <p><label>Mô tả đặt vé: </label> Tên phim Bà gìa gặp kẻ cướp, Ngày 20/9/2018, Giờ chiếu: 8h-11h, Số ghế: G1</p>
                        <p><label>Chi phí: </label> 65.000VND</p>
                    </div>
                    <div class="col-md-5 th-2-des">
                        <img src="https://metiz.vn/media/poster_film/ONG.jpg" alt="haha"/>
                    </div>
                    <div class="col-md-12 th-3-des"><hr/></div>
                </div>
                <div class="col-md-12 info-th-2">
                    <div class="col-md-7 th-1-des">
                        <p><label>Mã đặt vé: </label> 111222</p>
                        <p><label>Trạng thái: </label> Thành công</p>
                        <p><label>Mô tả đặt vé: </label> Tên phim Bà gìa gặp kẻ cướp, Ngày 20/9/2018, Giờ chiếu: 8h-11h, Số ghế: G1</p>
                        <p><label>Chi phí: </label> 65.000VND</p>
                    </div>
                    <div class="col-md-5 th-2-des">
                        <img src="https://metiz.vn/media/poster_film/ONG.jpg" alt="haha"/>
                    </div>
                </div>
                <div class="col-md-12 info-th-3 text-center">
                    <button class="btn">Xem thêm</button>
                </div>
            </div>
        </div>
        <div class="col-left sidebar"></div>
    </div>
</div>
{% endblock %}
