.main-blog{
    width: 100%;
}
.blog-detail-custom{
    padding-top: 50px;
    padding-bottom: 30px;
}
.blog-detail-custom .blog-detail-title{
    text-align: center;
    margin-bottom: 30px;
}
.blog-detail-custom .blog-detail-image{
    width: 60%;
    margin:auto;
}
.blog-detail-custom .blog-detail-image img{
    width: 100%;
}
.blog-detail-custom .blog-detail-content{
    margin: 20px 0;
}
.blog-detail-custom .blog-detail-title p, 
.blog-detail-custom .blog-detail-decs p,
.blog-detail-custom .blog-detail-content p {
    font-family: "Montserrat", sans-serif;
}
.blog-detail-footer{
    margin: 50px 0;
}
.blog-detail-footer .title-blog-detail-footer{
    margin-bottom: 30px;
    text-align: center;
}
.blog-detail-footer img{
    width: 100%;
}
/*==== Related Post =====*/
.related-blog {
    margin-top:10px;
}
.related-blog-title {
    border-bottom:  1px solid #ccc;
}
h3.title {
    text-transform: uppercase;
}
.area-image-relate {
    padding: 10px;
}
.area-image-relate img {
    width: 100%;
    height: 180px;
}
.caption {
    padding-top: 10px;
}
.caption h5 {
    text-align: center;
    font-family: "SairaSemiCondensed-Regular", sans-serif;
    font-size: 15px;
}
a:link {
    text-decoration: none;
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 736px){
    .title-blog-detail-footer{
        width: 100%;
    }
}
@media only screen and (max-width: 414px){

}
@media only screen and (max-width: 375px){

}
@media only screen and (max-width: 320px){
    
}