.booking-custom, .booking-custom .booking-details p{
    font-family: "Montserrat", sans-serif;
}
.booking-custom>div>h2{
    font-family: "SairaSemiCondensed-Bold", sans-serif;
}
.booking-details .seatCharts-legend{
    font-size: 12px;
}
.booking-custom .step-2-navigator a{
    font-family: "SairaSemiCondensed-Light", sans-serif;
}
.front{
    margin: 5px 32px 45px 32px;
    background-image: repeating-linear-gradient(50deg, #E3E3E3 0px, #E3E3E3 3px,
        transparent 3px, transparent 4px, #E3E3E3 0px);
    color: #0e1d2f;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.booking-details {
    position: relative;
}
.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 16px;
}
.booking-details p{
    line-height:26px;
    font-size:15px;
    font-family: "SairaSemiCondensed-Medium", sans-serif
}
.booking-details p span{
    color:#666
}
div.seatCharts-cell {
    color: #182C4E;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 11px;
}
div.seatCharts-seat {
    color: #777;
    cursor: pointer;
}
div.seatCharts-row {
    height: 35px;
}
div.seatCharts-seat.available {
    border: 2px solid #c9c2b5;
    background-color: rgba(255, 255, 255, 0);
}
div.seatCharts-seat.focused {
    background-color: #76B474;
    border: none;
}
div.seatCharts-seat.selected {
    background-color: #72ba14;
}
div.seatCharts-seat.unavailable {
    background: url('../../websites/images/Seat_booked.png');
    cursor: not-allowed;
}
div.seatCharts-container {
    border-right: 1px dotted #adadad;
    padding: 20px;float: left;
}
div.seatCharts-legend {
    padding-left: 0px;
    position: absolute;
}
ul.seatCharts-legendList {
    padding-left: 0px;
}
.seatCharts-legendItem{
    float:left;
    width:50%;
    height: 60px;
    margin-top: 10px;
    line-height: 2;
}
span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
}
.checkout-button {
    background: #0e1d2f;
    border-radius: 15px;
    color: #fff;
    display: block;
    width:80px;
    height:24px;
    line-height:20px;
    margin: 10px auto;
    border: 2px solid #0e1d2f;
    font-size: 14px;
    cursor:pointer
}
.checkout-button:hover{
    background: #ff5400;
    border: 2px solid #ff5400;
}
#selected-seats {
    max-height: 152px;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
}
#selected-seats li{
    float:left;
    width:72px;
    height:26px;
    line-height:26px;
    border:1px solid #d3d3d3;
    background:#f7f7f7;
    margin:6px;
    font-size:14px;
    font-weight:bold;
    text-align:center
}
.booking-custom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.booking-custom>.row{
    margin-bottom: 50px;
}
.step-2-navigator {
    width: 100%;
    background: #cdc197;
    padding: 0;
}
.step-2-navigator .back-and-forward {
    padding: 15px;
}
.step-2-navigator .btn-changeschedule {
    background-image: url('/static/assets/websites/images/btn_total_prev02.png');
    background-repeat: no-repeat;
    font-weight: bold;
    color: #231f20;
    padding: 0px 0 0 26px;
    background-position-y: 3px;
}
.step-2-navigator .btn-continue {
    background-image: url('/static/assets/websites/images/btn_total_next02.png');
    background-repeat: no-repeat;
    font-weight: bold;
    color: #231f20;
    padding: 0px 28px 0 0;
    background-position-y: 3px;
    background-position-x: 52px;
}
.step-2-navigator .btn-changeschedule:hover,
.step-2-navigator .btn-continue:hover{
    cursor: pointer;
}
.seatCharts-row{
    display:table;
    margin:0px auto 0px auto;
}
.ajax-loader{
    margin: 0px; 
    padding: 0px; 
    position: fixed; 
    right: 0px; 
    top: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: rgb(102, 102, 102, 0.28); 
    z-index: 30001; 
    opacity: 0.8; 
}
.ajax-loader>p{
    position: absolute; 
    top: 40%; 
    left: 44%;
}
div.seatCharts-space{
    height: 100%;
}
div.seatCharts-seat.available.seat-vip {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ffc000;
}
div.seatCharts-seat.available.seat-couple {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #ec008c;
}
div.seatCharts-seat.available.seat-ld {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #83399a;
}
.booking-refresh {
    margin-top: 220px;
    margin-left: 4px;
}
.booking-details .booking-refresh a{
    color: #241d1e;
} 
.booking-refresh a:hover{
    color: #B13026;
    text-decoration: none;
    cursor: pointer;
}
.booking-details .booking-refresh i{
    color: #7e8eaa;
}
.clear-both {
    clear: both;
}
/*Modal member card info*/
#member_card_modal .member-card-footer {
    text-align: right;
}
#member_card_modal .modal-body p.member-card-info {
    margin-bottom: 30px;
}
#seat-map:focus{
    outline: none;
}
@media only screen and (max-width: 1366px){
    .ajax-loader>p{
        left: 42%;
    }
}
@media only screen and (max-width: 1024px){
    .ajax-loader>p{
        top: 30%; 
        left: 40.5%;
    }
}
@media only screen and (max-width: 768px){
    .booking-details{
        margin-left: 4%;
    }
    div.seatCharts-container{
        border-right: none;
    }
    .main-container{
        scroll-direction: horizontal;
    }
    .ajax-loader>p{
        top: 44%; 
        left: 49%;
    }
}
@media only screen 
and (min-width: 568px) 
and (max-width: 736px) 
and (orientation: landscape){
    div.seatCharts-cell {
        height: 18px;
        width: 18px;
        line-height: 15px;
        margin: 2px;
        font-size: 8px;
    }
    .ajax-loader>p{
        top: 55%; 
        left: 46.5%;
    }
    .booking-refresh {
        margin-left: 0px;
    }
    div.seatCharts-seat.unavailable {
        background: url('../../websites/images/Seat_booked.png') -4px -3px;
        cursor: not-allowed;
    }
}
@media only screen and (max-width: 480px) {
    div.seatCharts-cell{
        height: 12px;
        width: 12px;
        line-height: 12px;
        margin: 1px;
        font-size: 6px;
    }
    div.seatCharts-row{
        height: 22px;
    }
    div.seatCharts-seat{
        border-radius: 2px;
    }
    div.seatCharts-container{
        padding: 0px;
    }
    #seat-map{
        margin-bottom: 25px;
    }
    ul.seatCharts-legendList .seatCharts-legendItem{
        height: 35px;
    }
    ul.seatCharts-legendList li>.seatCharts-seat{
        margin-top: 9px;
    }
}
@media only screen and (max-width: 414px){
    .ajax-loader>p{
        top: 45%; 
        left: 45%;
    }
    div.seatCharts-space {
        height: auto;
    }
    .booking-refresh {
        margin-top: 163px;
    }
    div.seatCharts-seat.unavailable {
        background: url(../../websites/images/Seat_booked.png) -6px -6px;
        cursor: not-allowed;
    }
    div.seatCharts-seat.available {
        border: 1px solid #c9c2b5;
    }
    div.seatCharts-seat.available.seat-vip {
        border: 1px solid #ffc000;
    }
    div.seatCharts-seat.available.seat-couple {
        border: 1px solid #ec008c;
    }
    div.seatCharts-seat.available.seat-ld {
        border: 1px solid #83399a;
    }
    #seat-map .front{
        font-size: 12px;
    }
}
@media only screen and (max-width: 375px){
    div.seatCharts-cell {
        height: 11px;
        width: 11px;
        line-height: 10px;
        font-size: 5px;
    }
    div.seatCharts-seat.unavailable {
        background: url(../../websites/images/Seat_booked.png) -7.1px -7.4px;
        cursor: not-allowed;
    }
}
@media only screen and (max-width: 320px){
    .ajax-loader>p{
        top: 50%; 
        left: 44%;
    }
    div.seatCharts-cell {
        height: 8px;
        width: 8px;
        line-height: 8px;
        font-size: 4px;
    }
    div.seatCharts-seat.unavailable {
        background: url(../../websites/images/Seat_booked.png) -8.2px -8.4px;
        cursor: not-allowed;
    }
}