h1 {
	text-align: center;
	margin-bottom: 50px;
}
.multiple-custom .btn-group,
.multiple-custom button.multiselect.dropdown-toggle.btn.btn-default {
	width: 100%;
	text-align: left;
}
.multiple-custom .btn .caret {
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 41px;
}

#search-btn {
	margin-left: 10px;
}
.has-success .form-control {
	border: default;
}

table.table tbody td:last-child {
	text-align: right !important;
}

table.table tbody td, table.table th {
	border: 1px solid #ddd !important;
}
table.table thead th {
	text-align: center;
	background-color: #739abb;
	color: #fff;
}
#form-search .align-right label {
	margin-top: 8px;
}
.align-right {
	text-align: right;
}
.content-two {
	margin-top: 50px;
}

td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.details td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}

.ui-widget-header .ui-icon {
    background-image: url("../images/ui-icons_444444_256x240.png");
}

.container {
    width: 95%;
}
.container {
    max-width: 1270px
}

.paginate_input {
	width: 50px;
}

/*.container {
    max-width: 90% !important;
}*/

.page-header {
	background-color: #38779f;
	margin: 0px 0 20px;
}
.logo {
    background: url('../images/logo.png') no-repeat;
	background-size: 100% 100%;
	width: 128px;
	height: 91px;
	position: absolute;
	/*top: 14px;*/
}


.nav-tabs > li > a {
    color: #fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #555
}

input[type="radio"], input[type="checkbox"] {
    margin-top: 9px;
}

label.s-option {
	vertical-align: middle;
}
.search-input, .ms-container{
	width: 100% !important;
}

.blockUI {
	z-index: 9999 !important;
}

.table-simple .dataTables_info, .table-simple .dataTables_length {
	display: none;
}