.content-seperator b,
.content-seperator strong {
    font-family: "Montserrat-Medium", sans-serif;
}

.content-seperator{
    font-family: "Montserrat-Light", sans-serif;
    line-height: 22px;
}
.col-left, .title-about-metiz {
    padding-top: 30px;
}
.col2-left-layout .col-main{
    padding: 0 0 30px 30px;
}
nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}
.col-left .navbar-inverse{
    background: rgba(255, 255, 255, 0);
    border-color: #ff5400;
}
.col-left  .navbar-inverse .navbar-nav>.active>a, 
.col-left  .navbar-inverse .navbar-nav>.active>a:hover, 
.col-left .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #ff5400;
}
.col-left  .navbar-inverse .navbar-nav>li>a, 
.col-left  .navbar-inverse .navbar-nav>li>a:focus{
    color: #0e1d2f;
    font-size: 14px;
}
.col-left .navbar-header a{
    display: none;
}
.title-about-metiz h1{
    color: #e71a0f;
}
.content-seperator iframe{
    width: 100%;
    height: 401px;
}
.post-detail-metiz li .pull-right{
    margin-top: 3px;
}
.std h3, h4.panel-title{
    font-family: "Montserrat-Light", sans-serif;
    line-height: 22px;
}

body.mfp-zoom-out-cur{
    overflow: hidden;
}
@media only screen and (max-width: 768px){
    .col-left  .navbar-collapse, .skip-content {
        background-color: rgba(255, 255, 255, 0);
    }
    .title-about-metiz{
        text-align: center;
    }
    .col-left .navbar-header a{
        display: block;
    }
    .col-left .navbar-inverse .navbar-brand{
        color: #fb0000;
    }
    .col2-left-layout .col-main {
        padding: 0;
    }
    .col-left ul, li{
        float: none;
    }
    .col2-left-layout .col-main .col2-set{
        padding: 0 20px 0px 261px;
    }
    .col-left .navbar-toggle{
        background-color: #ff5400;
    }
    .col-left .navbar-inverse .navbar-toggle, .col-left .navbar-inverse .navbar-collapse{
        border-color: #ff5400;
    }
    .about-image-metiz {
        float: left;
        width: 100%;
    }
    .about-image-metiz ul {
        float: left;
        width: 100%;
    }
    .about-image-metiz ul li {
        float: left;
        width: 32%;
        height: 142px;
        border: 1px solid;
        margin: 10px 4px;
        border-radius: 3px;
    }
    .about-image-metiz ul li img {
        float: left;
        width: 100%;
        height: 142px;
        border-radius: 3px;
    }
    .content-seperator iframe{
        width: 100%;
        height: 315px;
    }
    #faqAccordion .panel-title a.ing{
        display: inline-block;
        width: 100%;
    }
    #faqAccordion .panel-title div.pull-right{
        margin-right: -10px;
    }
    .col-left .navbar-inverse .navbar-nav>li>a:hover{
        background-color: rgba(255, 255, 255, 0);
        color: #0e1d2f;
    }
}
@media only screen and (min-width: 767px) and (max-width: 768px){
    #faqAccordion .panel-body:after{
        content: '';
        display: inline;
    }
    .content-seperator iframe{
        width: 100%;
    }
}
@media only screen 
and (min-width: 568px) 
and (max-width: 736px) 
and (orientation: landscape){
    .col2-left-layout .col-main .col2-set{
        padding: 0 15px 0px 15px;
    }
    .mfp-content img.mfp-img{
        min-height: 375px;
    }
}
@media only screen and (width: 568px) {
    .about-image-metiz ul li {
        width: 48%;
    }
    .about-image-metiz ul li, .about-image-metiz ul li img  {
        height: 175px;
    }
}
@media only screen and (max-width: 767px){
    .col2-left-layout .col-main .col2-set{
        padding: 0 15px 0px 15px;
    }
}
@media only screen and (max-width: 414px){
    .content-seperator iframe{
        width: 100%;
        height: 267px;
    }
    .about-image-metiz ul li {
        width: 47%;
    }
    .about-image-metiz ul li, .about-image-metiz ul li img {
        height: 120px;
    }
    #faqAccordion .panel-title i.pull-right{
        margin-right: -25px;
        margin-top: 3px;
    }
    .mfp-container {
        margin-top: 40%;
    }
    .mfp-container {
        position : absolute; 
        height: auto;
    }
}
@media only screen and (max-width: 375px) {
    .about-image-metiz ul li, .about-image-metiz ul li img {
        height: 110px;
    }
}
@media only screen and (max-width: 360px){ 
    .about-image-metiz ul li, .about-image-metiz ul li img  {
        height: 110px;
    }
}
@media only screen and (max-width: 320px){
    .about-image-metiz ul li, .about-image-metiz ul li img {
        height: 95px;
    }
    .content-seperator iframe{
        height: 226px;
    }
    
}
/*small/medium side display*/
@media (min-width: 768px) {
    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
        margin-left: 200px;
    }
    .col-left .navbar-inverse{
        margin-right: 20px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }
    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
        margin-top: 0px;
        padding-top: 14px;
    }
    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav > li:last-child{
        margin-bottom: 0px;
        padding-bottom: 14px;
    }
    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }
    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    /*gives sidebar width/height*/
    nav.sidebar{
        width: 240px;
        height: 100%;
        /*margin-left: -197px;*/
        float: left;
        z-index: 10;
        margin-bottom: 10px;
    }
    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }
    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}
@media (min-width: 769px) {
    nav.sidebar{
        margin-left: 0;
    }
}
@media (min-width: 1330px) {
    /*Show all nav*/
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}