.content-error{
    margin: 100px 0;
}
.color-error, 
.error-405 {
    color: #ff5400;
}
h1.color-error{
    font-size: 90px;
}
h3.color-error{
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 50px;
}
h3.error-405 {
    font-size: 20px;
    margin-top: -21px;
    margin-bottom: 20px;
}
