.product_view_trailer iframe{
	width: 560px;
	height: 315px;
}
.product-view .nav-tabs>li>span {
	border: 0px;
	border-radius: 0px;
	background-color: #e71a0f;
	color: #ffffff;
	font-size: 12px;
	margin-right: -4px;
}
.product-view .nav-tabs>li>span:hover {
	border: 0px;
	border-radius: 0px;
	background-color: #e71a0f;
	color: black;
}
.sr-only { 
	margin-left: 5px;
	overflow: visible;
	clip: auto; 
}
.rating-container .clear-rating {
	display: none;
}
.rating-num { 
	margin-top:0px;
	font-size: 37px; 
}	
.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:14px;
	margin:10px 0;
}
.review-block-date{
	font-size:14px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:15px;
}
#xzoom-default{
	width: 181px;
}
.col-main >div.custom-fiml-detail{
	padding-top: 40px;
}
.custom-fiml-detail .product-shop div.std{
    display: -webkit-box;
}
.custom-fiml-detail .product-shop>div>label{
    width: 100px;
}
@media only screen and (min-width: 771px) {
	.rating-block{
		height: 187px;
	}
}
.product-shop, .h1, #film-detail-tab-1, .product-name-reponsive h1{
	color: #0e1d2f;
}
ul.metiz-film-detail-tabs li {
    display: inline-block;
    float: none;
    border-radius: 20px;
}
ul.metiz-film-detail-tabs {
    width: 100%;
    list-style-type: none;
    text-align: center;
    border-bottom: none;
}
.product-view .nav-tabs>li>span{
	font-family: "SairaSemiCondensed-SemiBold", sans-serif;
	padding: 10px 25px 10px 25px;
	border: 1.5px solid #0e1d2f;
	border-radius: 35px;
	background: rgba(255, 255, 255, 0);
	color: #0e1d2f;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	float: left;
	width: 120px
}
.product-view .nav-tabs>li>span:hover {	
	border: 1.5px solid #ff5400;
	border-radius: 35px;
	background-color: #ff5400;
	color: #fff;
}
.product-view .nav-tabs>li.active>span{
	color: #ffffff;
	background-color: #ff5400;
	border: 1.5px solid #ff5400;
	font-weight: bold;
}
.product-view .nav-tabs>li:first-child, .product-view .nav-tabs>li:nth-child(2){
	padding-right: 10px;
}
.product-view .tabs-format-metiz .tab-content{
	padding: 70px 0 20px;
}
.booking-ticket-bot .button, 
.product-shop .button,
.product-name-reponsive .button{
	padding: 10px 23px 10px 23px;
	border-radius: 25px;
    border: 1.5px solid #0e1d2f;
    font-weight: bold;
    background: #0e1d2f;
    margin-top: -10px;
}
.booking-ticket-bot .button:hover, 
.product-shop .button:hover,
.product-name-reponsive .button:hover{
	background: #ff5400;
	border: 1.5px solid #ff5400;
}
.movie-detail-fb-booking li{
	padding-top: 3px;
}
.product-name-reponsive h1{
	text-transform: uppercase;
}
.custom-fiml-detail .product-shop .product-name .h1,
.custom-fiml-detail .product-name-reponsive h1{
	font-size: 22px;
    font-family: 'SairaSemiCondensed-Bold';
}
.custom-fiml-detail{
	font-family: "Montserrat-Light", sans-serif;
}
.custom-fiml-detail .product-shop label{
	font-family: "Montserrat-Medium", sans-serif;
}
@media only screen and (max-width: 768px) {
	.review-custom{
		width: 94%;
	}
	.booking-ticket-bot .button, 
	.product-shop .button, 
	.product-name-reponsive .button{
		font-size: 16px;
	} 
	.poster-small-new-offer {
		padding: 10px;
	}
}
@media only screen and (max-width: 771px) {
	.cate-new-offer {
	    z-index: 3;
	}
	.product-view .product-image img{
		height: 235px;
		width: 180px;
	}
}
@media only screen and (max-width: 710px){
	.format-new-offer h4{
		font-size: 12px;
	}
	.format-new-offer h3{
		font-size: 17px;
	}
	.catalog-category-view .col-main{
		float: none;
	}
	.colum-right-new-offer{
		margin-left: 5px;
	}
	.rating-desc{
		margin-top: 20px;
	}
}
@media screen and (max-width: 736px) {
	.poster-small-new-offer {
		width: 230px;
		height: 230px;
	}

}
@media screen and (max-width: 667px) {
	.poster-small-new-offer {
		width: 180px;
		height: 180px;
	}
}
@media screen and (max-width: 414px) {
 	.product-name-reponsive .button, .booking-ticket-bot .button{
		padding: 5px 13px 5px 13px;
		border-radius: 16px;
		border: 1.5px solid #0e1d2f;
	    font-size: 13px;
	    margin-top: -5px;
	}
	.product-name-reponsive .button:hover{
		border: 2px solid #ff5400;
	}
	.product-view .nav-tabs>li>span{
		width: 117px;
		font-size: 16px;
	}
	.colum-right-new-offer{
		margin-left: 0;
	}
	.news-custom .load-more{
		margin-left: 0px;
	}
	.name-new-offer {
		font-size: 12px;
	}
}
@media screen and (max-width: 400px) {
	.product-view .nav-tabs>li>span{
		font-size: 13px;
		width: 87px;
		padding: 5px 10px 5px 10px;
	}
	.cate-new-offer h1{
		font-size: 22px;
	}
}
@media screen and (max-width: 360px) {
	.poster-small-new-offer {
		width: 150px;
		height: 150px;
	}
	.colum-right-new-offer h2.product-name {
		font-size: 12px;
	}
	.format-new-offer h4{
		font-size: 10px;
	}
	.format-new-offer h3{
		font-size: 16px;
	}
	.news-custom .load-more{
		width: 112px;
	}
	.product-name-reponsive .button, 
	.booking-ticket-bot .button{
		padding: 5px 8px 5px 8px;
	    font-size: 12px;
	}
}
.movie-rating .std{
	font-weight: bold;
}
.cate-new-offer img{
	display: inline-block;
}
.product-name-reponsive .col-left{
	width: 83.3%;
	float: left;
	position: relative;
    min-height: 1px;
}
.product-name-reponsive .col-right{
	width: 16.6%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
}
.booking-ticket-bot{
	margin-bottom: 30px;
}
.rating-container .caption{
	display: none;
}
.img-rounded{
	width: 60px;
	height: 60px;
}
.rating-container .filled-stars{
	color: #ffef00;
}
.news-custom{
	margin-bottom: 50px;
}
.format-new-offer h4{
	line-height: 2;
}
.product-view .product-name .col-md-10{
	padding-left: 0;
}
.product-view .add-to-cart-wrapper{
	padding-left: 0;
}
.movie-technology-icons a span{
	margin-left: 0;
}