
.dropdown-menu>li{
	float: none;
}
.navbar-nav li.dropdown>a{
	font-size: 15px;
	background: transparent;
	font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 2px
}
.navbar-nav li.dropdown>a:focus{
	/* opacity:0; */
	color: #e71a0f;
	outline: none;
}
.dropdown-menu>li>a{
	padding: 7px 20px;
    line-height: 20px;
	font-weight: bold;
    
}
#header-nav {
    border-bottom: none;
}


ul.dropdown-menu>li>a:hover{
	background: transparent;
	color: black;
	background: url("../images/header-star.png") no-repeat scroll 140px center;
	
}

.dropdown-menu>li>a:focus{
	background: transparent;
}
.header-language-background{
	display: none;
}
#header{
	z-index: 4;
    position: relative;
}
@media only screen and (min-width: 768px){
	#header-search{
		display: none;
	}
	.header-search-left {
	    top: -11px;
	}
	.header-search-left>p>a{
		margin-top:0px;
	}
	.logo img{
		height: 126px;
	}
	.logo{
		margin-top:13px;
	}
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background: none;
	}
	.navbar-nav li:hover a{
		color: #848272 !important;
	}
	.navbar-nav>li>.dropdown-menu{
		transition: max-height 0.9s;
	    display: block;
	    overflow: hidden;
	    max-height: 0px;
	    opacity: 0;
	    width: 180px;
	}
	.navbar-nav .dropdown:hover .dropdown-menu {
		opacity: 1;
		max-height: 200px;
	    background-color: #ffffff;
		margin-top: 0px;
		border: solid #848272 2px;
	}
	.logo-small {
    	display: none;
	}
	
}
@media only screen and (min-width: 768px) and (max-width: 770px){
	.nav.navbar-nav{
		padding-top: 50px;

	}
	.logo {
		margin-top:13px;
		left: 0px;
	}
	#header-search{
		display: none;
	}
	.logo img{
		height: 126px;
	}
	
}

@media only screen and (max-width: 767px) {
	.logo img{
		height: 126px;
	}
	.logo{
		margin-top:2px;
	}
	.page-header{
		border-bottom:none;
	}
	.navbar-collapse, .skip-content {
    background-color: #fcffef;
	}
	.main-container {
    	margin-top: 40px;
	}
	.skip-links .navbar-toggle{
		margin: 0px;
		padding: 0px;
	}
	#myNavbar ul,li{
		float: none;
	}
	.dropdown .dropdown-menu{
		width: 100%;
	}
	#header-search {
	    padding: 20px;
	    margin-top: -26px;
	}
	.skip-link.skip-account.navbar-toggle {
		border-right: 1px solid #EDEDED;
	}
	.logo-large {
    	left: 40%;
	}
	.logo-small{
		left:17%;
	}
	ul.dropdown-menu li a{
		color: #636363;
	}
	.navbar-nav .open .dropdown-menu>li>a {
    	padding: 5px 15px 5px 40px;
	}
	.dropdown>a:focus{
		color: #636363;
	}
	.dropdown a{
		color: #636363;
	}
	.navbar-nav li.dropdown>a{
		padding-top: 5px;
		padding-left: 25px;
		background: url('../images/caret.png') no-repeat scroll 4px;
	}
	.navbar-nav li.dropdown{
		border-bottom: 1px solid #EDEDED;
	}
	.skip-links {
	    margin-top: 10px;
	}

}
@media only screen and (max-width: 480px){
	#select-language li a span{
		padding-top: 8px;
	}
	.header-language-background{
		display: block;
	}
	.main-container {
    	margin-top: 61px;
	}
	.logo img{
		height: 77px;
	}
	.logo-small {
	    left: 13%;
	    margin-top:-12px;
	}
	.skip-links {
	    margin-top: -10px;
	}
}
