.mfp-bg{
	opacity: 1;
}
.col-main .nav-tabs>li.active>span{
	color: white;
	border: 0px;
	background-color: #e71a0f;
}
.col-main .nav-tabs>li>span {
	border: 0px;
	border-radius: 0px;
	background-color: #e71a0f;
	color: white;
	font-size: 12px;
	margin-right: -4px;
}
.col-main .nav-tabs>li>span:hover {
	border: 0px;
	border-radius: 0px;
	background-color: #e71a0f;
	color: black;
}
.col-main .tab-content .tab-pane {
	display: block;
	height: 0;
	opacity: 0;
}
.col-main .tab-content .tab-pane.active {
	height: auto;
	opacity: 1;
}

.tab-movie{
	height: 401px; 
	overflow: hidden
}
.tab-event{
	height: 201px; 
	overflow: hidden
}
.link-play{
	display: none
}