.page-detail {
	background: #f1eee9;
}
.page-detail .page-title{
	padding-top: 40px;
}
.rated-c16{
	color: #ff5400;
}
.rated-p{
	color: #6be242;
}
.rated-c13{
	color: #ffd640;
}
.rated-c18{
	color: #f2275b;
}