.page-detail {
	background: #f1eee9;
}
.page-detail .page-title{
	padding-top: 40px;
}
.rated-c16{
	font-family: 'SairaSemiCondensed-Bold';
	color: #ff5400;
	font-size:18px;
}
.rated-p{
	
	color: #6be242;
}
.rated-c13{
	font-family: 'SairaSemiCondensed-Bold';
	font-size:18px;
	color: #ffd640;
}
.rated-c18{
	font-family: 'SairaSemiCondensed-Bold';
	font-size:18px;
	color: #f2275b;
}