.film-lists .product-info{
	color: #0e1d2f;
}
.info-movie-home span{
	font-weight: bold;
}
.add-to-links .button{
	background: #0e1d2f;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
    border: 3px solid #0e1d2f;
    font-weight: bold;
}
.add-to-links .button:hover{
	background: #ff5400;
	border: 3px solid #ff5400;
}
.add-to-links li{
	padding-top: 3px;
}
#load-more{
	width: 140px;
	border-radius: 35px;
	background: #0e1d2f;
	font-family: "SairaSemiCondensed-Bold", sans-serif;
	font-size: 15px;
}
#load-more:hover{
	background: #ff5400;
	border: 1px solid #ff5400;
}
@media screen and (max-width: 420px) {
 	.add-to-links .button{
		padding: 2px 5px 2px 5px;
		border-radius: 15px;
		border: 2px solid #ffffff;
	    font-size: 10px;
	}
	.add-to-links .button:hover{
		border: 2px solid #ff5400;
	}
	#load-more{
		width: 150px;
		margin-left: 40px;
	}
}
.metiz-movies{
	margin-bottom: 50px;
}