.film-lists .product-info{
	color: #0e1d2f;
}
.info-movie-home span{
	font-weight: bold;
}
.add-to-links .button{
	background: #0e1d2f;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
    border: 3px solid #0e1d2f;
    font-weight: bold;
}
.add-to-links .button:hover{
	background: #ff5400;
	border: 3px solid #ff5400;
}
.add-to-links li{
	padding-top: 3px;
}
.category-now-showing .page-title h1{
	text-transform: uppercase;
}
.metiz-movies .film-lists ul.add-to-links li{
	float: none;
	display: inline-block;
}
.metiz-movies .product-cate{
	font-size: 13px;
}
/*image priority*/
.film-lists .priority.position-1{
    background: url(../images/position_1.png) no-repeat scroll 0px 0px transparent;
}
.film-lists .priority.position-2{
    background: url(../images/position_2.png) no-repeat scroll 0% 0px transparent;
} 
.film-lists .priority.position-3{
    background: url(../images/position_3.png) no-repeat scroll 0% 0px transparent;
}
.film-lists .priority.position-1, 
.film-lists .priority.position-2, 
.film-lists .priority.position-3{
    position: absolute;
    right: -7%;
    top: -17px;
    height: 66px;
    width: 18%;
    background-size: 100%;
}
.ajax-loader-film{ 
    position: relative; 
    top: -40px;
    height: 0px;
    background-color: transparent;
}
.ajax-loader-film img{
    margin: 0px auto;
}
@media screen and (max-width: 768px) {
	/*Responsive poster film*/
	.products-grid--max-4-col > li.film-lists {
	    width: 29%;
	    margin-right: 4%;
	}
}
@media screen and (max-width: 736px) {
	.category-now-showing .page-title h1{
		font-size: 25px;
	}
}
@media screen and (max-width: 420px) {
	/*Responsive poster film*/
	.products-grid--max-4-col > li.film-lists {
	    width: 46%;
	    margin-right: 4%;
	}
 	.add-to-links .button{
		padding: 2px 5px 2px 5px;
		border-radius: 15px;
		border: 2px solid #ffffff;
	    font-size: 10px;
	}
	.add-to-links .button:hover{
		border: 2px solid #ff5400;
	}
	.products-grid--max-4-col.products-grid .product-image  img{
		height: 265px;
	}
	.film-lists ul.add-to-links li:last-child{
		margin-top: -4px;
	}
}
@media screen and (max-width: 380px){
	.products-grid--max-4-col.products-grid .product-image  img{
		height: 251px;
	}
	.category-products .products-grid .product-name a{
		font-size: 14px;
	}
	.metiz-info-normal{
		font-size: 12px;
	}
}
@media screen and (max-width: 320px){
	.products-grid--max-4-col.products-grid .product-image  img{
		height: 216px;
	}
}
.metiz-movies{
	margin-bottom: 50px;
}