.film-lists .product-info{
	color: #0e1d2f;
}
.info-movie-home span{
	font-weight: bold;
}
.add-to-links .button{
	background: #0e1d2f;
	padding: 5px 10px 5px 10px;
	border-radius: 25px;
    border: 3px solid #0e1d2f;
    font-weight: bold;
}
.add-to-links .button:hover{
	background: #ff5400;
	border: 3px solid #ff5400;
}
.add-to-links li{
	padding-top: 3px;
}
@media screen and (max-width: 420px) {
 	.add-to-links .button{
		padding: 2px 5px 2px 5px;
		border-radius: 15px;
		border: 2px solid #ffffff;
	    font-size: 10px;
	}
	.add-to-links .button:hover{
		border: 2px solid #ff5400;
	}
	.products-grid--max-4-col.products-grid .product-image  img{
		height: 231px;
	}
	.film-lists ul.add-to-links li:last-child{
		margin-top: -4px;
	}
}
@media screen and (max-width: 320px){
	.products-grid--max-4-col.products-grid .product-image  img{
		height: 421px;
	}
}
.metiz-movies{
	margin-bottom: 50px;
}