#test-popup .col-xs-8 h3{
    color: black;
}
#test-popup .list-item li {
    display: inline-block;
    padding: 0px 1px;
}
#test-popup .list-item a{
    padding: 10px 37px;
    color: #48494c;
}
#test-popup .list-item, .list-cinema{
    margin: 20px 0px;
}
#test-popup .list-item a:hover{
    transition: color 0.5s linear;
    background-color: #282425;
    color: #ffffff;
    text-decoration: none;
}
#test-popup .list-item li.active a{
    background: url('../images/bullet03.gif') no-repeat 20px;
    background-color: #282425;
    color: #ffffff;
    text-decoration: none;
}
#test-popup .list-cinema{
}
#test-popup .list-cinema ul{
}
#test-popup .list-cinema li{
    padding:0px 3px;
}
#test-popup .list-cinema a{
    color: #48494c;
    padding: 10px 30px;
    background: #f3f2f5;
    border-radius: 0px;
}
#test-popup .list-cinema{
    
}

#test-popup .list-cinema a:hover{
    text-decoration: none;
    background-color: #ffffff;
    border-color: #000000;
}
#test-popup .list-cinema.active ul li a:focus{
    background: url('../images/bg_ckth.png') no-repeat 10px;
    text-decoration: none;
    background-color: #ffffff;
    border-color: #000000;
    outline: none;
    box-shadow:none;
}
#test-popup .list-cinema.active ul li a.active{
    background: url('../images/bg_ckth.png') no-repeat 10px;
    text-decoration: none;
    background-color: #ffffff;
    border-color: #000000;
    outline: none;
    box-shadow:none;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px 0px;
  width: 92%;
  max-width: 1310px;
  margin: 50px auto;
}
.slick-prev:before {
    content: '';
    visibility: hidden;
}
.slick-next:before {
     content: '';
     visibility: hidden;
}
.slick-prev img{
    padding-left: 20px;
    padding-top: 18px;
}
.slick-next img{
    padding-top: 18px;
}
.section-lightpink .row {
    margin-right: -15px;
    margin-left: -15px;
}
.div-login {
    width: 100%;
    text-align: left;
}
.div-login .top {
    background: #fff;
    color: #333;
    padding: 20px;
    border-bottom: 1px solid #c0c0c0;
    width: 100%;
    height: auto;
    line-height: 20px;
    font-size: 16px;
    
}
.popup-booking .toggle-tabs{
    border-bottom: 2px solid #2b2b2b;
    border-top: 2px solid #2b2b2b;
    display: inline-block;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
}
.section-white .title{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}

.popup-booking .movie-time-line-box {
    padding-bottom: 30px;
}
.popup-booking .movie-time-line-box .movie-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
}
/* slide */
.section-lightpink {
    background-color: #F9F6EC;
    padding: 40px 0px;
}
.days-popup{
    float:none;
}
.calendar-popup .days-popup li {
    margin: 0 10px;
    position: relative;
    padding-top: 16px;
}
.month{
    visibility: hidden;
}
.start-month .month{
    visibility: visible;
}
.dayofweek{
    margin-top: 12px;
}
.calendar-popup .days-popup li .month > strong {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 3px solid #3e3e3e;
    padding-bottom: 0px;
}
.calendar-popup .days-popup li .badge {
    background-color: transparent;
    color: #C2BDBD;
    font-size: 14px;
    padding: 8px;
}
.calendar-popup .list-time {
    height: 100%;
    position: relative;
    /* padding: 0px 0px 0 30px; */
    padding-right: 20px;
}
#play-date-slider{
    
}
.calendar-popup .days-popup {
    text-align: center;
    /* padding-left: 10px; */
    padding-top: 64px;
}
.lot-table {
    padding-left: 15px;
    margin-top: 15px;
}
.theater_time {
    overflow: hidden;
    width: 100%;
    margin-left: 0;
}
.theater_time > li.sold-out {
    background-color: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
}

.theater_time > li {
    float: left;
    width: 115px;
    margin: 10px 0 0;
    background: #fff;
    border: 1px solid #ebeaea;
    text-align: center;
    margin-right: -1px;
    padding-left: 0;
    padding-right: 0;
    color: #666;
    cursor: pointer;
    position: relative;
}

.theater_time > li a {
    display: block;
    color: #666;
}

.theater_time > li .clock {
    display: none;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: bold;
}
.theater_time > li .time {
    display: block;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: bold;
}
.theater_time > li .ppnum {
    display: block;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
}
.theater_time > li a {
    color: #666;
}
.toggle-tabs li:hover .days-popup{
    border: 2px solid #000000;
}
.current .days-popup{
    border: 2px solid #000000;
}
.list-inline a {
    text-decoration: none;
    transition: color 600ms linear;
}
.list-inline li:hover a{
    background-color: #000000;
    color: #ffffff;
}
.list-inline li:hover .clock{
    display: block;
    border-bottom: 1px solid #000000 ;
}
.list-inline li:hover .time{
    display: none;
}
.days-popup li.available .badge {
    color: #3e3e3e;
    cursor: pointer;
}
.days-popup li.active-date .badge {
    background-color: #3e3e3e;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px 12px;
}
.active-date{
    visibility: visible;
}
.movieslide{
    display: none;
}
.slick-slide, .slick-slide *{ 
    outline: none !important;
}
.warning-footer{
    text-align: center;
    border: 0px;
}
.warning-footer .btn{
    background-color: #000000;
    color: #ffffff;
}
#confirm .modal-header{
    border-bottom:none;
}
#confirm .tab-header{
    width: 100%;
}
#confirm .tab-header li a{
    color: #ffffff;
    background: #7e8eaa;
    text-transform: uppercase;
}
#confirm .tab-header li a:hover{
    border-color: transparent;
}
#confirm .tab-header li.active a{
    background: #ff4900;
    color: #ffffff
}
#confirm .tab-header li a:focus{
    background: #ff4900;
    color: #ffffff;
}
@media only screen and (max-width: 1024px){
    .slick-next img {
        /* padding-left: 26px; */
    }
    .calendar-popup .list-time {
        /* padding: 0px 0px 0px 30px; */
        /* padding-right: 20px; */
    }
    .size{
            margin-left: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .calendar-popup .list-time {
          /* padding: 0px 0px 0px 44px; */

    }
    .size {
        margin-left: 37px;
    }
       
}
@media only screen and (max-width: 767px){
    .size {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 480px){
    .slick-prev img{
        padding-left: 0px;
    }
    .size {
        margin-left: 10px;
    }
}