.breadcrumbs ul li:nth-child(2){
	display:none;
}
.postTitle{
	padding-bottom: 30px;
}
.detail-content-new-offer{
	padding-bottom: 30px;
}
.button-like-share {
	padding: 20px 0;
}
.postDetail {
	font-family: "Montserrat", sans-serif;
}
.postDetail img {
	max-width:100% !important;
	height: 300px !important; 
}
@media only screen and (max-width: 767px) {
	.postTitle{
		text-align: center;
	}
}
@media only screen and (max-width: 414px) {
	.postDetail img {
		height: 300px !important; 
	}
}