.breadcrumbs ul li:nth-child(2){
	display:none;
}
.postTitle{
	padding-bottom: 30px;
}
.detail-content-new-offer{
	padding-bottom: 30px;
}
.button-like-share {
	padding: 20px 0;
}
.postDetail {
	font-family: "Montserrat", sans-serif;
}
.img-square {
	position: relative;
	width: 100%;
}
.img-square:after {
   content: "";
   display: block;
   padding-bottom: 100%;
}
.square-content img {
   position: absolute;
   width: 100%;
   height: 100%;
}
.postDetail img {
	width:100% !important;
	height: 300px !important; 
}
@media only screen and (max-width: 767px) {
	.postTitle{
		text-align: center;
	}
}
@media only screen and (max-width: 414px) {
	.postDetail img {
		height: 300px !important; 
	}
}