.note-pass-reset-done{
    margin-bottom: 50px;
}
.password-reset-confirm .buttons-set{
    margin: auto;
    width: 50%;
}
.form-change-pass .buttons-set .button:hover{
    background-color: #ff5400;
}
.pass-reset-form .form-list {
   display:table;    
}
.pass-reset-form .form-list ul {
    display:table-footer-group;
}
.pass-reset-form .form-list p {
    display:table-header-group;
}
.pass-reset-form .errorlist{
    float: none;
    margin-left: 30px;
}
.pass-reset-form .errorlist li{
    margin-left: 47px;
}
@media only screen and (min-width : 321px) {
    .password-reset-confirm .buttons-set{        
        width: 30%;
    }
}
@media only screen and (min-width : 420px) {
    .form-forgot-pass .buttons-set {
        top: 88px;
    }
    .pass-reset-form .buttons-set{
        clear: none; 
        margin: 0; 
        padding-top: 2px; 
        text-align: none; 
    }
    .pass-reset-form .buttons-set button.button{
        float: left;
        margin-left: 20px;
    }
    
}
@media only screen and (min-width : 767px) {
    .password-reset-confirm .buttons-set{
        float: left;
        padding-bottom: 30px;
    }
    .password-reset-confirm .buttons-set{
        width: 27%;
    }
    .pass-reset-form .buttons-set{
        right: 200px;
    }
    .form-change-pass input{
        border: 1px solid;
        border-radius: 6px;
    }
    .form-instructions{
        margin-left: 30px;
    }
    .form-change-pass .buttons-set{
        margin-top: 30px;
    }
}
@media only screen and (min-width : 1024px) {
    .password-reset-confirm li{
        font-size: 12px;
    }
    .password-reset-confirm .buttons-set{
        position: initial;
        margin-left: 89px;
        width: 46%;
    }
    .password-reset-confirm  .form-change-pass{
        margin-bottom: 80px;
    }
    .password-reset-confirm  .input-box input,
    .form-change-pass .input-box label{
        margin-right: 10px;
    }
}
.password-reset-confirm  .input-box ul:first-of-type{
    display: none;
}
.password-reset-confirm .form-instructions{
    color: red;
}
.password-reset-confirm .input-box label,
.password-reset-confirm .input-box  input{
    text-align: left;
    clear: both;
    float:left;
    margin-right:15px;
    margin-top: 5px;
}
@media only screen and (max-width : 768px) {
    .pass-reset-form h2, .pass-reset-form h3{
        font-size: 18px;
        font-weight: 600;
    }
    .pass-reset-form .page-title h1{
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }
    .customer-account-forgotpassword .page-title h1{
        color: #fff !important;
        font-size: 15px;
        background: none repeat scroll 0 0 #ff5400;
        border-radius: 5px 5px 0 0;
        position: relative;
        top: 2px;
        white-space: nowrap;
        float: left;
        padding: 0px 12px;
        line-height: 40px;
        margin-bottom: 0px;
        border-bottom: none;
    }
    .customer-account-forgotpassword  #form-validate{
        float: left;
        width: 100%;
        position: relative;
    }
    .customer-account-forgotpassword .page-title{
        float: left;
        width: 100%;
        border-bottom: 2px solid #ff5400;
    }
    .form-change-pass{
        float: left;
        width: 96%;
        margin: 30px 2%;
        border: 1px solid #e8e8dd;
        min-height: 209px;
    }
    .form-change-pass h2{
        float: left;
        width: 100%;
        height: 45px;
        padding-left: 30px;
        background: rgba(255, 84, 0, 0.35);
        font-size: 15px;
        color: #0e1d2f;
        line-height: 45px;
    }
    .form-change-pass .back-link a{
        float: left;
        margin-left: 30px;
        color: #e71a0f;
        margin-top: 10px;
    }
    .form-change-pass .form-list{
        float: left;
        margin: 25px 0px 0px 147px;
    }
    .pass-reset-form .form-instructions{
        margin-top: 15px;
    }
    .pass-reset-form .buttons-set{
        margin-top: 31px;
    }
    .pass-reset-done .page-title{
        margin-bottom: 20px;
    }
    .pass-reset-form .form-list p>label{
        margin-right: 10px;
    }
}
@media only screen and (max-width : 680px) {
    .form-change-pass .form-list{
        margin: 25px 0px 0px 55px;
    }
}
@media only screen and (max-width : 420px) {
    .pass-reset-form .buttons-set{
        width: 11%;
        margin: 0 auto;
    }
    .form-change-pass .form-list{
        margin: 25px 0px 0px 15px;
    }
    .pass-reset-form .form-instructions{
        margin-left: 5px;
        text-indent: 5px;
    }
    .customer-account-forgotpassword .col-main{
        padding: 0px 10px;
    }
    .form-change-pass{
        margin: 28px 0;
        width: 100%;
    }
    .form-change-pass h2{
        padding-left: 10px;
    }
    .form-change-pass .back-link a{
        margin-left: 7px;
    }
    .form-change-pass .form-list{
        margin: 25px 0px 0px 10px;
    }
}
@media only screen and (max-width : 375px) {
    .pass-reset-form .buttons-set{
        width: 25%;
        margin: 0 auto;
    }
}
@media only screen and (max-width : 375px) {
    .pass-reset-form .errorlist li{
        margin-left: 1px;
    }
}