.note-pass-reset-done{
    margin-bottom: 50px;
}
@media only screen and (min-width : 767px) {
    .password-reset-confirm .buttons-set{
        float: left;
        padding-bottom: 30px;
    }
    .form-forgot-pass .buttons-set {
        top: 115px;
    }
}
@media only screen and (min-width : 1024px) {
    .password-reset-confirm li{
        font-size: 12px;
    }
    .password-reset-confirm .buttons-set{
        position: initial;
        margin-left: 265px;
    }
    .password-reset-confirm  .form-change-pass{
        margin-bottom: 80px;
    }
    .password-reset-confirm  .input-box input,
    .form-change-pass .input-box label{
        margin-right: 600px;
    }
}
.password-reset-confirm  .input-box ul:first-of-type{
    display: none;
}
.password-reset-confirm .form-instructions{
    color: red;
}
.password-reset-confirm .error, .password-reset-confirm .errorlist{
    margin-right: 600px;
}
.password-reset-confirm .input-box label{
    width: 150px;
}