.note-pass-reset-done{
    margin-bottom: 50px;
}
.password-reset-confirm .buttons-set{
    margin: auto;
    width: 50%;
}
@media only screen and (min-width : 321px) {
    .password-reset-confirm .buttons-set{        
        width: 30%;
    }
}
@media only screen and (min-width : 420px) {
    .form-forgot-pass .buttons-set {
        top: 88px;
    }
    .pass-reset-form .buttons-set{
        clear: none; 
        margin: 0; 
        padding-top: 2px; 
        text-align: none; 
    }
    .pass-reset-form .buttons-set button.button{
        float: left;
        margin-left: 20px;
    }
    .password-reset-confirm .buttons-set{
        width: 10%;
    }
}
@media only screen and (min-width : 767px) {
    .password-reset-confirm .buttons-set{
        float: left;
        padding-bottom: 30px;
    }
    .password-reset-confirm .buttons-set{
        width: 27%;
    }
    .pass-reset-form .buttons-set{
        right: 200px;
    }
}
@media only screen and (min-width : 1024px) {
    .password-reset-confirm li{
        font-size: 12px;
    }
    .password-reset-confirm .buttons-set{
        position: initial;
        margin-left: 100px;
        width: 46%;
    }
    .password-reset-confirm  .form-change-pass{
        margin-bottom: 80px;
    }
    .password-reset-confirm  .input-box input,
    .form-change-pass .input-box label{
        margin-right: 10px;
    }
}
.password-reset-confirm  .input-box ul:first-of-type{
    display: none;
}
.password-reset-confirm .form-instructions{
    color: red;
}
.password-reset-confirm .input-box label,
.password-reset-confirm .input-box  input{
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    margin-top: 5px;
}
@media only screen and (max-width : 768px) {
    .pass-reset-form h2, .pass-reset-form h3{
        font-size: 18px;
        font-weight: 600;
    }
    .pass-reset-form .page-title h1{
        font-size: 20px;
        font-weight: 600;
        color: blue;
    }
}
@media only screen and (max-width : 420px) {
    .pass-reset-form .buttons-set{
        width: 8%;
        margin: 0 auto;
    }
}
@media only screen and (max-width : 375px) {
    .pass-reset-form .buttons-set{
        width: 20%;
        margin: 0 auto;
    }
}