@media only screen and (min-width: 340px){
    .vnpayment{
        padding: 0 20px 50px 20px;
    }
    .vnpayment .btn-default {
        margin: 0 10px 0 10px;
    }
}
.vnpayment .form-control{
    width: 265px;
}
.vnpayment .btn-default {
    color: #fff;
    background-color: #7e8eaa;
    border-color: #7e8eaa;
    margin-bottom: 10px;
}
.vnpayment .btn-default:hover {
    background-color: #ff5400;
    border-color: #ff5400;
}
.payment-return{
    padding: 10px 0 30px 0;
}
.payment-return .panel-heading{
    font-weight: bold;
}
.vnpayment .btn-default{
    margin-bottom: 10px;
}
.vnpayment textarea.form-control{
    height: 95px;
}
.exceeds-time{
    color: red;
    text-align: center;
    margin-bottom: 30px;
}
.vnpayment .btn-default[disabled]:hover{
    background-color: #7e8eaa;
}
.back-booking{
    color: #337ab7;
}
.back-booking:hover{
    cursor: pointer;
}
.table-payment h2{
    width: 100%;
    min-height: 45px;
    padding-left: 17px;
    font-size: 17px;
    color: #e71a0f;
    line-height: 45px;
    border-bottom: 1px solid red;
}
.payment-return .back-link{
    float: right;
    margin-right: 20px;
}
.table-payment{
    float: left;
    width: 96%;
    margin: 30px 2%;
    border: 1px solid #e8e8dd;
    min-height: 250px;
}
.payment-return .row{
    line-height: 1.8;
}
.payment-return .row .col-sm-3{
    font-family: "SairaSemiCondensed-Media", sans-serif;
    font-weight: bold;
}