.vnpayment,
.vnpayment label, input, select, textarea,
.payment-return .panel-body,
.payment-return .back-link a{
    font-family: "Montserrat", sans-serif;
}
.vnpayment .page-title h2, .vnpayment .btn-default,
.vnpayment #create_form button{
    font-family: "SairaSemiCondensed-Bold", sans-serif;
}
select#language.form-control, 
select#bank_code.form-control, 
select#order_type.form-control {
    font-size: 15px;
    padding: 0 5px;
    text-indent: 1px;
}
@media only screen and (min-width: 340px){
    .vnpayment{
        padding: 0 20px 50px 20px;
    }
    .vnpayment .btn-default {
        margin: 0 10px 0 10px;
    }
}
@media only screen and (min-width: 736px){
    .vnpayment .btn-default {
        margin-right: 55px;
    }
}
@media only screen and (min-width: 1024px){
    .vnpayment #create_form button{
        margin-right: 60px;
    }
}
#time-cout-down{
    color: red;
}
.vnpayment .form-control{
    width: 265px;
}
.vnpayment .btn-default {
    color: #fff;
    background-color: #7e8eaa;
    border-color: #7e8eaa;
    margin-bottom: 10px;
}
.vnpayment .btn-default:hover {
    background-color: #ff5400;
    border-color: #ff5400;
}
.payment-return{
    padding: 10px 0 30px 0;
}
.payment-return .panel-heading{
    font-weight: bold;
}
.vnpayment .btn-default{
    margin-bottom: 10px;
}
.vnpayment textarea.form-control{
    height: 95px;
}
.exceeds-time{
    color: red;
    text-align: center;
    margin-bottom: 30px;
}
.vnpayment .btn-default[disabled]:hover{
    background-color: #7e8eaa;
}
.back-booking{
    color: #337ab7;
}
.back-booking:hover{
    cursor: pointer;
}
.table-payment h2{
    width: 100%;
    min-height: 45px;
    padding-left: 17px;
    font-size: 17px;
    color: #e71a0f;
    line-height: 45px;
    border-bottom: 1px solid red;
}
.payment-return .back-link{
    float: right;
    margin-right: 20px;
}
.table-payment{
    float: left;
    width: 96%;
    margin: 30px 2%;
    border: 1px solid #e8e8dd;
    min-height: 250px;
}
.payment-return .row{
    line-height: 1.8;
}
.payment-return .row .col-sm-3{
    font-family: "Montserrat-Medium", sans-serif;
}
.vnpayment input,.vnpayment textarea{
    font-size: 15px;
    padding: 0 8px;
}
.col-main{
    float: none;
    margin: 0 auto;
}
@media only screen 
and (min-width: 568px) 
and (max-width: 736px) 
and (orientation: landscape){
    .responsive-payment{
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media only screen 
and (width: 568px) 
and (orientation: landscape){
    .vnpayment .form-control{
        width: 232px;
    }
}
@media only screen and (max-width: 414px){
    .payment-return .row{
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }
    .vnpayment .form-control{
        width: 100%;
    }
}
@media only screen and (max-width: 360px){
    #payment_form{
        margin-left: 15px;
    }
}
@media screen and (max-width: 320px) {
    .vnpayment .g-recaptcha iframe, .g-recaptcha>div{
        margin-left: -9px;
    }
}