
@media only screen and (min-width: 340px){
    .vnpayment{
        padding: 0 20px 50px 20px;
    }
    .vnpayment .btn-primary {
        margin: 0 10px 0 10px;
    }
}
.vnpayment .form-control{
    width: 265px;
}
.vnpayment .btn-primary {
    color: #fff;
    background-color: #ff5400;
    border-color: #ff5400;
    margin-bottom: 10px;
}
.payment-return{
    padding: 50px 0 30px 0;
}
.payment-return .panel-heading{
    font-weight: bold;
}
.vnpayment .btn-default{
    margin-bottom: 10px;
}