#profile-validate .form-control[readonly], 
#profile-validate fieldset[readonly] .form-control {
    cursor: not-allowed;
}
#profile-validate .form-control[readonly]:focus, 
#profile-validate fieldset[readonly] .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: none;
}
.profile-custom #profile-validate,
.profile-custom #profile-validate label,
.profile-custom #change-pass-validate,
.profile-custom #change-pass-validate label{
    font-family: "Montserrat-Light", sans-serif;
}
.profile-custom #profile-validate button{
    font-family: "SairaSemiCondensed-Bold", sans-serif;
}
.profile-custom .input-group #birth_date{
    border-radius: 4px;
    width: 265px;
}
.profile-custom .ui-datebox-container{
    margin-top: 30px;
    width: 265px;
}
.profile-custom .ui-datebox-griddate {
    width: 35px;
}
.profile-custom .btn-default:hover{
    background-color:#ff4000;
}
.profile-custom .input-group{
    display:inline;
}
.profile-custom #birth_date-error{
    display:none;
}
.profile-custom{
    padding: 50px 0 50px 0;
}
.page-detail .page-title{
    padding-top: 0;
}
.box-content{
    line-height: 22px;
}
.metiz-changepass{
    display: none;
}
.list-city, .list-district{
    width: 265px;
    padding: 0px 5px;
    font-size: 15px;
    text-indent: 1px;
}
#profile-validate textarea{
    width: 265px;
    font-size: 15px;
    padding: 0 8px;
}
.post-detail-metiz li .pull-right{
    margin-top: 3px;
}
.profile-custom .country-code {
    color: #555;
    position: absolute;
    top: 32px;
    left: 23px;
    padding-right: 4px;
    border-right: 1px solid #cccccc;
}
.profile-custom #phone {
    padding-left: 40px;
}
.buttons-set button.button {
    font-size: 14px;
}
/* because dateBox lirbrary change height form-group */
.profile-custom .form-birthday{
    height:60px;
}
.ui-datebox-container ul, .ui-datebox-container li{
    float:none;
}
/*Customize reponsive modal date of birth */
.ui-datebox-cal-pickers fieldset .input-sm:first-child{
    width: 57%!important;
}
.ui-datebox-header h4, .ui-datebox-gridheader h4, 
.modal-title, a.btn.btn-sm.btn-default, .ui-datebox-flipcontent li{
    font-family: "Montserrat-Light", sans-serif;
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
    .profile-custom{
        padding: 0 20px 0 20px;
    }
    .block-content{
        line-height: 0;
    }
    .block-content li.active a{
        color: #ff5400;
    }
    .block-content li a{
        color: #0e1d2f;
    }
    .my-account form{
        margin-top: 25px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .my-account form{
        margin-top: 25px;
    }
    .block-account{
        float: none;
    }

}
.block-account .block-content ul{
    width: 80%;
}
.my-account{
    line-height: 25px;
}
.my-account .buttons-set button:hover{
    background: #ff5400;
}
.col-left .navbar-inverse{
    background: rgba(255, 255, 255, 0);
    border-color: #ff5400;
}
.col-left  .navbar-inverse .navbar-nav>.active>a,
.col-left  .navbar-inverse .navbar-nav>.active>a:hover,
.col-left .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #ff5400;
}
.col-left  .navbar-inverse .navbar-nav>li>a,
.col-left  .navbar-inverse .navbar-nav>li>a:focus{
    color: #0e1d2f;
    font-size: 14px;
}
.col-left .navbar-inverse .navbar-brand{
    color: #0e1d2f;
}


/* INFO MEMBER CARD */
.info-member-card, .info-member-card table {
    font-family: "Montserrat-Light", sans-serif;
}
.info-member-card form button{
    font-family: "SairaSemiCondensed-Bold", sans-serif;
    border-radius: 5px;
    background-color: #7e8eaa;
    color: #fff;
    margin-top: -3px;
}
.info-member-card form button:hover{
    color: #fff;
    background-color: #ff5400;
}
.info-member-card form label, .info-member-card form input{
    margin-right: 20px;
    font-family: "Montserrat-Regular", sans-serif;
}
.info-member-card .info-mc-1, .info-member-card .info-mc-2{
    width: 86.5%;
    margin-left: 30px;
}
.info-member-card .info-mc-1 .mc-1-des-1{
    margin-top: 20px;
}
.info-member-card .info-mc-1 .mc-1-des-2{
    margin-top: 15px;
    margin-bottom: 40px;
}
.info-member-card .info-mc-2{
    margin-top: 30px;
}
.info-member-card .info-mc-2 .mc-2-des p label{
    width: 150px;
    font-family: "Montserrat-Regular", sans-serif;
}
.info-member-card .info-mc-2 table th{
    font-family: "Montserrat-Regular", sans-serif;
}
#barcode-member-card{
    margin: auto;
}
#form-member-card, #form-member-card .form-group{
    width: 100%;
}
#form-member-card .div-input{
    padding-left: 0;
}
#form-member-card label.error{
    margin-left: 102px;
}

/* END INFO MEMBER CARD */

/* TRANSACTION HISTORY */

.transaction-history, .transaction-history .total_item_trans {
    font-family: "Montserrat-Light", sans-serif;
}
.transaction-history .info-th{
    width: 86.5%;
    margin-left: 30px;
}
.transaction-history .info-th-1{
    margin-top: 20px;
}
.transaction-history .info-th-2 img{
    width: 100%;
}
.transaction-history .info-th-2 p>label,
.transaction-history .info-th-1 p{
    font-family: "Montserrat-medium", sans-serif;
}
.transaction-history .info-th-2 div.th-2-des,
.transaction-history .info-th-2 div.th-3-des{
    padding-left: 0px;
    padding-right: 0px;
}
.transaction-history .btn-load-more{
    margin-top: 50px;
}
.transaction-history .btn-load-more button{
    font-family: "SairaSemiCondensed-Bold", sans-serif;
    border-radius: 5px;
    background-color: #7e8eaa;
    color: #fff;
    text-transform: uppercase;
}
.transaction-history .btn-load-more{
    display: none;
}
.transaction-history .info-th-1 hr{
    border-top: 1px solid #ff5400;
}
.transaction-history .th-2-des img{
    height: 281px;
    width: 195px;
}
.transaction-history .th-1-des{
    padding-left: 0px;
    padding-right: 15px;
}

/* END TRANSACTION HISTORY */

@media only screen and (max-width: 768px){
    .col-left  .navbar-collapse, .skip-content,
    .profile-custom .navbar-header {
        background-color: #f1eee9;
    }
    .col-left .navbar-inverse .navbar-brand{
        color: #fb0000;
    }
    .col2-left-layout .col-main {
        padding: 0;
    }
    .col-left .navbar-toggle{
        background-color: #ff5400;
    }
    .col-left .navbar-inverse .navbar-toggle, .col-left .navbar-inverse .navbar-collapse{
        border-color: #ff5400;
    }
    .profile-custom{
        padding: 0 0 30px 0;
    }
    .col-left .navbar-inverse{
        background: #222;
    }
    .col-left  .navbar-inverse .navbar-nav>li>a,
    .col-left  .navbar-inverse .navbar-nav>li>a:focus{
        color: #0e1d2f;
    }
    .profile-custom .nav.navbar-nav{
        padding-top: 0;
    }
    .my-account .page-title{
        width: 85.5%;
    }
    .transaction-history .info-th {
        width: 89.5%;
    }
}
@media only screen and (max-width: 767px){
    .info-member-card .info-mc-1 .mc-1-des-1 {
        margin-top: 20px;
    }
    .info-member-card .info-mc-1 .mc-1-des-2 {
        margin-bottom: 0px;
    }
    .info-member-card .info-mc-1, .info-member-card .info-mc-2{
        width: 90.5%;
    }
    .transaction-history .info-th{
        width: 90.5%;
    }
    .info-member-card #form-member-card .form-group{
        margin-bottom: 0px;
    }
    #form-member-card, #form-member-card input{
        display: inline-block;
        vertical-align: middle;
    }
    #form-member-card .div-btn{
        text-align: center;
    }
    .info-member-card form label, .info-member-card form input{
        margin-right: 0px;
    }
    #form-member-card label.error {
        margin-left: 83px;
    }
}
@media only screen and (max-width : 414px) {
     #jtdb-0 .modal-content {
        width: auto;
    }
    .my-account .page-title{
        width: 68.5%;
    }
    .profile-custom .my-account{
        margin-left: 25px;
    }
    .metiz-edit-btn.buttons-set button.button{
        margin-right: 20px;
    }
    #profile-validate .form-group{
        width: 100%;
    }
    .info-member-card .info-mc-1, .info-member-card .info-mc-2 {
        width: 80.5%;
    }
    .info-member-card .info-mc-2 .mc-2-des p label {
        width: 100px;
    }
    .transaction-history .info-th{
        width: 80.5%;
    }
    #form-member-card .div-btn, #form-member-card .div-input, 
    #form-member-card .div-input input{
        width: 100%;
    }
    #form-member-card label.error{
        margin-left: 0;
    }
    #form-member-card .div-btn{
        margin-top: 15px;
    }
    .transaction-history .info-th .th-1-des, 
    .transaction-history .info-th .th-2-des{
        width: 100%;
    }
    #barcode-member-card > div:first-child{
        width: 5px !important;
    }
}
@media only screen and (max-width : 375px) {
    .my-account .page-title{
        width: 71.5%;
    }
    .profile-custom .my-account {
        margin-left: 5px;
    }
    .metiz-edit-btn.buttons-set button.button{
        margin-right: 0;
    }
}
@media only screen and (max-width : 320px) {
    .my-account .page-title{
        width: 70.5%;
    }
    #profile-validate .list-city, 
    #profile-validate .list-district,
    #profile-validate textarea{
        width: 230px;
    }
    .profile-custom .my-account{
        margin-left: 0;
    }
}
@media (min-width: 769px) {
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
        padding-top: 4px;
    }
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav > li:last-child{
        margin-bottom: 0px;
        padding-bottom: 4px;
    }
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }
    nav.sidebar{
        width: 240px;
    }
    nav.sidebar li {
        width: 100%;
    }
    .metiz-edit-btn.buttons-set button.button{
        margin-right: 32px;
    }
    .transaction-history .btn-load-more button:hover{
        color: #fff;
        background-color: #ff5400;
    }
}
.profile-custom ul.post-detail-metiz{
    float: none;
}
@media only screen 
  and (min-width: 480px) 
  and (max-width: 767px)
  and (orientation: landscape) { 
    .top-row:after {
      content: "";
      display: table;
      clear: both;
    }
    .top-row > div {
      float: left;
      width: 50%;
    }
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */

@media not all and (min-resolution:.001dpcm) { @media {
    /* Fix bugs background of select box*/
    select.form-control {
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 99% 50%;
        -webkit-appearance: none;
    }
}}



