.profile-custom #profile-validate,
.profile-custom #profile-validate label,
.profile-custom #change-pass-validate,
.profile-custom #change-pass-validate label{
    font-family: "Montserrat", sans-serif;
}
.profile-custom #profile-validate button{
    font-family: "SairaSemiCondensed-Bold", sans-serif;
}
.profile-custom .input-group #birth_date{
    border-radius: 4px;
    width: 265px;
}
.profile-custom .ui-datebox-container{
    margin-top: 30px;
    width: 265px;
}
.profile-custom .ui-datebox-griddate {
    width: 35px;
}
.profile-custom .btn-default:hover{
    background-color:#ff4000;
}
.profile-custom .input-group{
    display:inline;
}
.profile-custom #birth_date-error{
    display:none;
}
.profile-custom{
    padding: 50px 0 50px 0;
}
.page-detail .page-title{
    padding-top: 0;
}
.box-content{
    line-height: 22px;
}
.metiz-changepass{
    display: none;
}
.list-city, .list-district{
    width: 265px;
    padding: 0px 5px;
    font-size: 15px;
    text-indent: 1px;
}
#profile-validate textarea{
    width: 265px;
    font-size: 15px;
    padding: 0 8px;
}
.post-detail-metiz li .pull-right{
    margin-top: 3px;
}
.profile-custom .country-code {
    color: #555;
    position: absolute;
    top: 32px;
    left: 23px;
    padding-right: 4px;
    border-right: 1px solid #cccccc;
}
.profile-custom #phone {
    padding-left: 40px;
}
.buttons-set button.button {
    font-size: 14px;
}
/* because dateBox lirbrary change height form-group */
.profile-custom .form-birthday{
    height:60px;
}
.ui-datebox-container ul, .ui-datebox-container li{
    float:none;
}
/*Customize reponsive modal date of birth */
.ui-datebox-cal-pickers fieldset .input-sm:first-child{
    width: 57%!important;
}
.ui-datebox-header h4, .ui-datebox-gridheader h4, 
.modal-title, a.btn.btn-sm.btn-default, .ui-datebox-flipcontent li{
    font-family: "Montserrat", sans-serif;
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
    .profile-custom{
        padding: 0 20px 0 20px;
    }
    .block-content{
        line-height: 0;
    }
    .block-content li.active a{
        color: #ff5400;
    }
    .block-content li a{
        color: #0e1d2f;
    }
    .my-account form{
        margin-top: 25px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .my-account form{
        margin-top: 25px;
    }
    .block-account{
        float: none;
    }

}
.block-account .block-content ul{
    width: 80%;
}
.my-account{
    line-height: 25px;
}
.my-account .buttons-set button:hover{
    background: #ff5400;
}
.col-left .navbar-inverse{
    background: rgba(255, 255, 255, 0);
    border-color: #ff5400;
}
.col-left  .navbar-inverse .navbar-nav>.active>a,
.col-left  .navbar-inverse .navbar-nav>.active>a:hover,
.col-left .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: #ff5400;
}
.col-left  .navbar-inverse .navbar-nav>li>a,
.col-left  .navbar-inverse .navbar-nav>li>a:focus{
    color: #0e1d2f;
    font-size: 14px;
}
.col-left .navbar-inverse .navbar-brand{
    color: #0e1d2f;
}
@media only screen and (max-width: 768px){
    .col-left  .navbar-collapse, .skip-content,
    .profile-custom .navbar-header {
        background-color: #f1eee9;
    }
    .col-left .navbar-inverse .navbar-brand{
        color: #fb0000;
    }
    .col2-left-layout .col-main {
        padding: 0;
    }
    .col-left .navbar-toggle{
        background-color: #ff5400;
    }
    .col-left .navbar-inverse .navbar-toggle, .col-left .navbar-inverse .navbar-collapse{
        border-color: #ff5400;
    }
    .profile-custom{
        padding: 0 0 30px 0;
    }
    .col-left .navbar-inverse{
        background: #222;
    }
    .col-left  .navbar-inverse .navbar-nav>li>a,
    .col-left  .navbar-inverse .navbar-nav>li>a:focus{
        color: #0e1d2f;
    }
    .profile-custom .nav.navbar-nav{
        padding-top: 0;
    }
    .my-account .page-title{
        width: 85.5%;
    }
}
@media only screen and (max-width : 414px) {
     #jtdb-0 .modal-content {
        width: auto;
    }
    .my-account .page-title{
        width: 68.5%;
    }
    .profile-custom .my-account{
        margin-left: 25px;
    }
    .metiz-edit-btn.buttons-set button.button{
        margin-right: 20px;
    }
    #profile-validate .form-group{
        width: 100%;
    }
}
@media only screen and (max-width : 375px) {
    .my-account .page-title{
        width: 71.5%;
    }
    .profile-custom .my-account {
        margin-left: 5px;
    }
    .metiz-edit-btn.buttons-set button.button{
        margin-right: 0;
    }
}
@media only screen and (max-width : 320px) {
    .my-account .page-title{
        width: 70.5%;
    }
    #profile-validate .list-city, 
    #profile-validate .list-district,
    #profile-validate textarea{
        width: 230px;
    }
    .profile-custom .my-account{
        margin-left: 0;
    }
}
@media (min-width: 769px) {
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }
    nav.sidebar{
        width: 240px;
    }
    nav.sidebar li {
        width: 100%;
    }
    .metiz-edit-btn.buttons-set button.button{
        margin-right: 32px;
    }
}
.profile-custom ul.post-detail-metiz{
    float: none;
}
@media only screen 
  and (min-width: 480px) 
  and (max-width: 767px)
  and (orientation: landscape) { 
    .top-row:after {
      content: "";
      display: table;
      clear: both;
    }
    .top-row > div {
      float: left;
      width: 50%;
    }
}