.rated-c16{
	font-family: 'SairaSemiCondensed-Bold';
	color: #ff5400;
	font-size:18px;
}
.rated-p{
	font-family: 'SairaSemiCondensed-Bold';
    font-size:18px;
	color: #6be242;
}
.rated-c13{
	font-family: 'SairaSemiCondensed-Bold';
	font-size:18px;
	color: #ffd640;
}
.rated-c18{
	font-family: 'SairaSemiCondensed-Bold';
	font-size:18px;
	color: #f2275b;
}
.rated-C16{
    font-family: 'SairaSemiCondensed-Bold';
    color: #ff5400;
    font-size:18px;
}
.rated-P {
    font-family: 'SairaSemiCondensed-Bold';
    font-size:18px;
    color: #6be242;
}
.rated-C13{
    font-family: 'SairaSemiCondensed-Bold';
    font-size:18px;
    color: #ffd640;
}
.rated-C18{
    font-family: 'SairaSemiCondensed-Bold';
    font-size:18px;
    color: #f2275b;
}