#myTabContent label.valid {
	width: 20px;
	height: 20px;
	background: url(../images/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
#myTabContent label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
#signup_form .form-inline {
    display: block;
}
.inline .form-control{
	display:inline-block;
}
.inline .error{
	display:inline-block;
}
.list-city, .list-district{
	width: 265px;
}
.form-control.error{
	color: #555;
    font-weight: normal;
}
.btn-login{
	background-color: #7e8eaa;
	color: #ffffff;
	font-weight: bold;
}
.btn-login:hover{
	background-color: #ff4900;
	color: #ffffff;
}
.account-tabs{
	padding-top: 50px;
}
.account-tabs a{
    text-decoration: none;
} 
.login-forgot-pass{
	font-size: 13px;
}
ul.errorlist li{
	font-size: 13px;
	margin-top: 5px;
	color: #a94442;
}