#myTabContent label.valid {
	width: 20px;
	height: 20px;
	background: url(../images/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
#myTabContent label.error {
	font-family: 'SairaSemiCondensed-Regular';
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
	
}
#signup_form .form-inline {
    display: block;
}
#signup_form ul.errorlist, #signup_form ul.errorlist li{
	float: none;
}
.inline .form-control{
	display:inline-block;
}

.inline .error{
	display:inline-block;
}
.list-city, .list-district{
	width: 265px;
	padding: 0px 5px;
}
.form-control.error{
	color: #555;
    font-weight: normal;
}
.btn-login{
	background-color: #7e8eaa;
	color: #ffffff;
	font-weight: bold;
}
.btn-login:hover{
	background-color: #ff4900;
	color: #ffffff;
}
.account-tabs{
	padding-top: 50px;
}
.account-tabs a{
    text-decoration: none;
} 
.login-forgot-pass{
	font-size: 13px;
}
.alert-login{
	color: #ff0000;
}
#myTabContent .error{
    font-size: 13px;
    color: #a94442;
}
#myTabContent ul.errorlist li{
	color: #ff0000;
	font-size: 13px;
	margin-left: 15px;
    margin-top: 5px;
}
#myTabContent #signup_form ul.errorlist li{
    margin-left: 0px;
    float: none;
}
#myTabContent .password-reset-confirm .error,#myTabContent .errorlist {
    margin-right: 0px;
}
#address::-webkit-input-placeholder {
    font-size: 12px;
}
#myTabContent .login-forgot-pass i{
    color: black;
}
#myTabContent .login-forgot-pass{
    padding-left: 30px;
}
#myTabContent a.login-forgot-pass{
    color: #004bff;
}
#myTabContent .form-none-padding{
	padding:0px;
}
#myTabContent ul.errorlist li, .error{
	margin-top: 0px;
}
ul ~ label{
	display:none;
}
#is_agree-error{
	display:none;
}
.form-address #address{
	width: 100%;
	max-height: 70px;
}
#myTabContent button[type=submit]{
	text-transform: uppercase;
}
#myTabContent .country-code{
	color: #bfbfbf;
	position: absolute;
    top: 30px;
    left: 23px;
    padding-right: 4px;
    border-right: 1px solid #cccccc
}
#myTabContent #phone{
	padding-left: 40px;
}
#myTabContent input[type=number]::-webkit-inner-spin-button, 
#myTabContent input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@media  only screen and (max-width: 767px){
	.form-address #address{
		width: 265px;
	}
}
@media  only screen and (max-width: 480px){
	#signup_form .inline input.form-control,#signup_form .inline select {
		width: 90%;
	}
	#signup_form .signup_fields{
		padding: 0px;
	}
	.form-address #address{
		width: 250px;
	}
}