#myTabContent ul, #myTabContent li, #myTabContent ol{
    float:none;
}
#jtdb-0 ul, #jtdb-0 li, #jtdb-0 ol{
    float:none;
}
#myTabContent .input-group #birth_date{
	border-radius: 4px;
	width: 265px;
}
#myTabContent .ui-datebox-container{
	margin-top: 30px;
	width: 265px;
}
#myTabContent .ui-datebox-griddate {
	width: 35px;
}
#myTabContent .btn-default:hover{
	background-color:#ff4000;
}
.ui-datebox-cal-pickers fieldset .input-sm:first-child{
	width: 57%!important;
}
#myTabContent .input-group{
	display:inline;
}
#myTabContent #birth_date-error{
	visibility:hidden;
}
#myTabContent label.valid {
	width: 20px;
	height: 20px;
	background: url(../images/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
#myTabContent label.error {
	font-family: 'SairaSemiCondensed-Regular';
	color: red;
	padding: 5px 0 0;
	margin-top: 2px;
	
}
#signup_form .form-inline {
    display: block;
}
#signup_form ul.errorlist, #signup_form ul.errorlist li{
	float: none;
}
.inline .form-control{
	display:inline-block;
}

.inline .error{
	display:inline-block;
}
.list-city, .list-district{
	width: 265px;
	padding: 0px 5px;
}
.form-control.error{
	color: #555;
    font-weight: normal;
}
.btn-login{
	background-color: #7e8eaa;
	color: #ffffff;
	font-weight: bold;
}
.btn-login:hover{
	background-color: #ff4900;
	color: #ffffff;
}
.account-tabs{
	padding-top: 50px;
}
.account-tabs a{
    text-decoration: none;
} 
.login-forgot-pass{
	font-size: 13px;
}
.alert-login{
	color: #ff0000;
	padding: 0px;
}
#myTabContent .error{
    font-size: 13px;
    color: #a94442;
}
#myTabContent ul.errorlist li{
	color: #ff0000;
	font-size: 13px;
	margin-left: 15px;
    margin-top: 5px;
}
#myTabContent #signup_form ul.errorlist li{
    margin-left: 0px;
    float: none;
}
#myTabContent .password-reset-confirm .error,#myTabContent .errorlist {
    margin-right: 0px;
}
#address::-webkit-input-placeholder {
    font-size: 12px;
}
#myTabContent .login-forgot-pass i{
    color: black;
}
#myTabContent a.login-forgot-pass{
    color: #004bff;
    padding: 15px 0 0;
}
#myTabContent .form-none-padding{
	padding:0px;
}
#myTabContent ul.errorlist li, .error{
	margin-top: 0px;
}
ul ~ label{
	display:none;
}
#is_agree-error{
	display:none;
}
.form-address #address{
	width: 100%;
	max-height: 70px;
}
#myTabContent button[type=submit]{
	text-transform: uppercase;
	margin: 5px 0 0 0;
}
#myTabContent .country-code{
	color: #bfbfbf;
	position: absolute;
    top: 30px;
    left: 23px;
    padding-right: 4px;
    border-right: 1px solid #cccccc
}
#myTabContent #phone{
	padding-left: 40px;
}
#myTabContent input[type=number]::-webkit-inner-spin-button, 
#myTabContent input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#myTabContent input[type=number] {
	-moz-appearance: textfield;
}
.col-main{
    margin-bottom: 0px;
}
@media  only screen and (max-width: 767px){
	.form-address #address{
		width: 265px;
	}
}
/* Portrait and Landscape */
@media only screen and (max-width: 768px) {


	#myTabContent button[type=submit] {
		margin: 15px 0 10px;
	}
}
@media  only screen and (max-width: 480px){
	#jtdb-0 .modal-content{
        width: auto;
    }
	#signup_form .inline input.form-control,#signup_form .inline select {
		width: 90%;
	}
	#myTabContent .input-group {
        display: inline;
    }
	#myTabContent .input-group #birth_date{
		width: 90%;
	}
	#signup_form .signup_fields{
		padding: 0px;
	}
	.form-address #address{
		width: 250px;
	}
	#myTabContent button[type=submit] {
		margin: 15px 0 0;
	}
	#myTabContent a.login-forgot-pass {
		padding: 10px 0 0 ;
	}
}
@media only screen 
  and (min-width: 375px) 
  and (max-width: 736px)
  and (orientation: landscape) { 
    .top-row:after {
      content: "";
      display: table;
      clear: both;
    }
    .top-row > div {
      float: left;
      width: 50%;
    }
}