p {
    font-family: "Montserrat-Light", sans-serif;
    line-height: 22px;
    text-align: justify;
}
p.title {
    font-family: "SairaSemiCondensed-Medium", sans-serif;
    color: #ff5400;
    text-transform: uppercase;
    font-size: 22px;
}
p.text-content-title {
    color: #ff5400;
}
p.text-content, p.text-content-title {
    font-family: "SairaSemiCondensed-Medium", sans-serif;
}
.modal-header {
    border-bottom: 1px solid #ff5400;
}
.voucher-custom {
	padding: 35px 0 50px 0;
	margin-top: 25px;
}
.p-img img {
	width: 65%;
	margin: 40px auto;
}

img#code_img {
	margin: 0 auto;
    max-width: 100%;
}

.code-group.input-group {
	width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.code-group.input-group input#code_str {
	height: 50px;
    background: #fff1db;
    font-size: 26px;
    font-weight: bold;
    border: 2px dashed #ff5400;
    border-right: 0px;
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: bold;
}
.area-voucher-content {
    padding: 10px 15px;
}
.area-voucher-code  {
    padding: 12px 50px;
}
.area-voucher-content, .area-voucher-code {    
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
}
.button-like-share {
    padding-top: 10px;
}
.code-group.input-group .input-group-addon {
	background: #ff5400;
    font-size: 22px;
    cursor: pointer;
    font-family: "SairaSemiCondensed-Medium", sans-serif;
    color: #fff;
}

.code-group.input-group .input-group-addon .btn-copy-text {
	padding-right: 5px;
}


.p-btn {
	text-align: right;
}
#btn_get_voucher {
	position: relative;
    color: #444;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0.06) 10%, transparent 15%, transparent 35%, rgba(0, 0, 0, 0.06) 40%, rgba(0, 0, 0, 0.06) 60%, transparent 65%, transparent 85%, rgba(0, 0, 0, 0.06) 90%) repeat scroll 0 0/6px 6px transparent;
    padding: 11px 31px 11px 125px;
    font-size: 20px;
    border: 2px solid #DDD;
    cursor: pointer;
    height: 50px;
    margin: 5px 0 5px;
}
.get-code {
	position: absolute;
    left: -2px;
    top: -2px;
    background: #ff5400;
    color: #FFF;
    padding: 16px 15px 16px 74px;
    transition: all 0.5s ease;
    text-transform: uppercase;
}
.get-code:after {
	content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 44px solid #ff5400;
    position: absolute;
    right: -44px;
    top: 0;
}
.get-code:hover {
    padding-right: 0px;
}

.modal-open {
    overflow: hidden;
    position: fixed;
}
@media only screen and (min-width: 771px) {
    .voucher-custom {
        width: 980px;
    }

}
@media only screen and (max-width : 768px) {
    .code-group.input-group {
        width: 100%;
    }
    .code-group.input-group input#code_str {
        font-size: 20px;
    }
    .code-group.input-group .input-group-addon {
        font-size: 15px;
    }
    .text-xs-center {
        text-align: center;
    }
    #btn_get_voucher.pull-right {
        float: none !important;
    }
}