{% extends 'layout.html' %}
{% load i18n %}

{% block title %}4dx{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}
{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="4dx">
				<strong>4DX ®</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		{% include 'technology_menu.html' %}
			<div class="specialtheater-content specialtheater-4dx">
				<div class="page-title special-title">
					<h1>4DX ®</h1>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="recent-cgv-special" style="margin-top: 30px;">
									<h3>4DX®, một định dạng điện ảnh hoàn toàn mới đánh thức mọi giác quan của khán giả mang đến những trải nghiệm điện ảnh tuyệt đỉnh bằng công nghệ hiện đại nhất trên thế giới.</h3>
									<p>Hãy thưởng thức công nghệ 4DX® tại các rạp CGV:</p>
									<ul class="site-list">
										{% for item in data.address%}
											<li><a href="{{item.href}}">{{item.name}}</a></li>
										{% endfor%}
									</ul>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container">
							            <div id="jssor_1" >
							                <div data-u="slides" class="jssor_1_slides">
							                {% for item in data.slide  %}  
							                    <div>
							                        <img data-u="image" src="{{ STATIC_URL }}{{item.img}}" />
							                        <img data-u="thumb" src="{{ STATIC_URL }}{{item.img}}" />
							                    </div>
							                {% endfor %}
							                </div>
							                {% include 'arrow_slide.html' %}
							            </div>
							        </div>
								</div>
							</div>
						<!-- end cinema imax -->
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}