{% extends "layout.html" %}

{% load i18n %}

{% block title %}Giới thiệu{% endblock title %}

{% block container_class %}col2-left-layout{% endblock %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/g-erp-cgv.css" media="all" /> 
{% endblock %}

{% block body_class %}
	cms-page-view cms-about-cgv
{% endblock %}

{% block main_content %}

<div class="breadcrumbs" itemprop="breadcrumb">
	<ul>
		<li class="home">
			<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
			<span>/ </span>
		</li>
		<li class="cms_page">
			<strong>Giới thiệu CGV</strong>
		</li>
	</ul>
</div>
<div class="main">
	{% include 'layout_menu.html' %}

	<div class="col-main">
		<div class="std">
			<div class="title-about-cgv">
				<h1>Giới thiệu CGV</h1>
			</div>
			<div class="col2-set content-seperator">
			<iframe height="350px" src="//www.youtube.com/embed/e1ZSLVTZ47M?rel=0&amp;wmode=transparent;" width="100%"></iframe>
				<div class="std content-cms-about-us">
					{% for item in data_content %}
						<p>{{item.content}}</p>
					{% endfor %}
				</div>
				<div class="about-image-cgv">
					<ul>
						{% for item in data %}
							<li>
								<a class="large-image-about" href="{{ STATIC_URL }}{{item.img}}"> <img alt="About us CGV,cgv" src="{{ STATIC_URL }}{{item.img}}" />
								</a>
							</li>
						{% endfor %}
						
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/about_cinema.js"></script>

{% endblock %}