{% extends "layout.html" %}

{% load i18n %}
{% block title %}Tìm thông tin thành viên{% endblock title %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/account_findmember.css" media="all" /> 
{% endblock %}

{% block extrascript %}

{% endblock %}

{% block body_class %}
	 customer-account-findmember
{% endblock %}

{% block container_class %}col1-layout{% endblock %}

{% block main_content %}
<div class="main">
	<div class="col-main">
		<div class="page-title">
			<h1>Tìm thông tin thành viên</h1>
		</div>
		<div class="box-account cgv-findmember-form">
			<ul>
				<li class="cgv-50">
					<div class="box-head">
						<h2>Tìm email và Online ID ?</h2>
					</div>
					<form action="#" method="post" autocomplete="off" id="form-validate" class="scaffold-form" enctype="multipart/form-data">
						<input name="form_key" type="hidden" value="cTEN6wMzLe3dHGYp" />
						<fieldset>
							<p><strong>Vui lòng nhập tên, ngày sinh, số điện thoại</strong></p>
							<ul class="form-list">
								<li>
									<div class="input-box">
										<input type="text" class="input-text f_name required-entry minimum-length-2" placeholder="Tên" id="first_name" name="first_name" />
										<input type="text" class="input-text l_name required-entry minimum-length-2" placeholder="Họ" id="last_name" name="last_name" />
									</div>
								</li>
								
								<li>
									<div class="input-box">
										<input type="text" class="input-text required-entry validate-length" placeholder="Nhập ngày sinh (định dạng: DD/MM/YYYYY)" id="birthday" name="birthday" />
									</div>
								</li>
								
								<li>
									<div class="input-box">
										<input type="text" class="input-text required-entry minimum-length-3 validate-length" placeholder="Nhập số điện thoại hoặc Online ID" id="online_id" name="online_id" />
									</div>
								</li>
								<li class="control">
									<button type="button" class="button" onclick="findaccount();">
									<span><span>Tìm ngay</span></span>
									</button>
								</li>
							</ul>
						</fieldset>
					</form>
				</li>
				<li class="cgv-50 cgv-nodisplay" id="data_return">
					<div>Xin chào <span class="yourname">XXXXXX</span>,</div>
					<div>Vui lòng kiểm tra email và số Online ID</div>
					<div class="cgv-content-member">
						<div>Email của bạn: <span class="youremail">jiki1024@hotmail.com</span></div>
						<div>Số Online ID: <span class="yourid">jiki1024</span></div>
					</div>
					<div class="button-sets">
						<button type="button" class="button btn-password" onclick="forgotpasswordf()">
							<span><span>Tìm lại mật khẩu</span></span>
						</button>
						<button type="button" class="button" onclick="loginf()">
							<span><span>Đăng nhập</span></span>
						</button>
					</div>
				</li>
			</ul>
		</div>
		<div id="loading-mask">
			<p class="loader" id="loading_mask_loader">
				<img src="{{ STATIC_URL }}assets/websites/images/ajax-loader.gif" alt="Loading...">
			<br>Đang tải thông tin...	</p>
		</div>
		              
	 </div>

</div>
{% endblock %}