{% extends "layout.html" %}

{% load i18n %}
{% block title %}Đăng nhập{% endblock title %}

{% block body_class %}
	customer-account-login
{% endblock %}
 
{% block container_class %}col1-layout{% endblock %}

{% block main_content %}
<div class="main">
	<div class="col-main">
		
		<div class="account-wrap">
			<div class="col2-set">
				<div class="col-1">
					<div class="product-collateral account-tabs">
						<ul class="toggle-tabs">
							<li class="current"><span>Đăng nhập</span></li>
							<li class="last"><span><a href="#">Đăng ký</a></span></li>
						</ul>
						<dl id="collateral-tabs">
							<dd class="tab-container current">
							<div class="tab-content">
								<div class="account-login">
									<form action="#" method="post" id="login-form" class="scaffold-form">
										<input name="form_key" type="hidden" value="" />
										<input type="hidden" name="form_key_test" value="" />
										<div style="display:none"></div>
										
										<div class=" registered-users">
											<div class="content fieldset format-login-page">
												<p class="form-instructions">Vui lòng nhập tên người dùng (email) và mật khẩu của bạn...</p>
												
												<div class="from-login-account">
													<ul class="form-list">
														<li class="login-input-email">
															<!-- <label for="email" class="required"><em>*</em>Địa chỉ email</label> -->
															<div class="input-box">
																<input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="login[username]" value="" id="email" class="input-text required-entry validate-no-html-tags" title="Địa chỉ email" />
															</div>
														</li>
														<li class="login-input-pass">
															<!-- <label for="pass" class="required"><em>*</em>Mật khẩu</label> -->
															<div class="input-box">
																<input type="password" name="login[password]" class="input-text required-entry validate-no-html-tags validate-password" id="pass" title="Mật khẩu" />
															</div>
														</li>
														
													</ul>
													<div class="buttons-set login-button-submit">
														<button type="submit" class="button" title="Đăng nhập" name="send" id="send2"><span><span>Đăng nhập</span></span></button>
													</div>
													
												</div>
												<div class="find-your-account"><a class="login-forgot-pass" href="#">Tìm lại Tài khoản hoặc số Online ID</a></div>
												<div class="login-option">
													<div class="remember-me-popup">
														<div class="remember-me-popup-head">
															<h3>Xem chi tiết?</h3>
															<a href="#" class="remember-me-popup-close" title="Đóng">Đóng</a>
														</div>
														<div class="remember-me-popup-body">
															<p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
															<div class="remember-me-popup-close-button a-right">
																<a href="#" class="remember-me-popup-close button" title="Đóng"><span>Đóng</span></a>
															</div>
														</div>
													</div>
													<script type="text/javascript">
													//<![CDATA[
													function toggleRememberMePopup() {
														var formParent = jQuery(this).parents('form:first');
														formParent.find('.remember-me-box a').toggleClass('hide');
														formParent.find('.remember-me-popup').toggleClass('show');
														return false;
													}
													var rememberMeToggleSetup = false;
													jQuery(document).ready(function(){
														if (!rememberMeToggleSetup) {
															jQuery('.remember-me-box a, .remember-me-popup a').on('click', toggleRememberMePopup);
															rememberMeToggleSetup = true;
													}
													});
													//]]>
													</script>
												
												<a class="login-forgot-pass" href="#">Tìm lại mật khẩu</a>
											</div>
											
											<div class="remember-me-popup">
												<div class="remember-me-popup-head">
													<h3>Xem chi tiết?</h3>
													<a href="#" class="remember-me-popup-close" title="Đóng">Đóng</a>
												</div>
												<div class="remember-me-popup-body">
													<p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
													<div class="remember-me-popup-close-button a-right">
														<a href="#" class="remember-me-popup-close button" title="Đóng"><span>Đóng</span></a>
													</div>
												</div>
											</div>
											<script type="text/javascript">
											//<![CDATA[
											function toggleRememberMePopup() {
												var formParent = jQuery(this).parents('form:first');
												formParent.find('.remember-me-box a').toggleClass('hide');
												formParent.find('.remember-me-popup').toggleClass('show');
												return false;
											}
											var rememberMeToggleSetup = false;
											jQuery(document).ready(function(){
												if (!rememberMeToggleSetup) {
													jQuery('.remember-me-box a, .remember-me-popup a').on('click', toggleRememberMePopup);
													rememberMeToggleSetup = true;
												}
											});
											//]]>
											</script>
											<!-- <p class="required">* Phải nhập thông tin</p> -->
										</div>
										
									</div>
									
								</form>
								
								<script type="text/javascript">
								//<![CDATA[
									var dataForm = new VarienForm('login-form', true);
								//]]>
								</script>
							</div>
						</div>
						</dd>
					</dl>
				</div>
			</div>
			
			<div class="col-2">
				<div class="banner-login-page">
				</div>
			</div>
		</div>
		
		
	</div>               
	 </div>
</div>
{% endblock %}