{% extends "layout.html" %}

{% load i18n %}
{% block title %}Helio{% endblock title %} 

{% block container_class %}col1-layout {% endblock %}

{% block body_class %}
  customer-account-forgotpassword
{% endblock %}

{% block main_content %}

<div class="main">            
    <div class="col-main">
        <div class="page-title">
   			<h1>Bạn muốn tìm lại mật khẩu?</h1>
		</div>

		<div class="form-forgot-pass">
			<div class="note-forgot-pass">
				<h3>Tìm lại mật khẩu</h3>
				<p>	
					Do not remember your password? You can choose your preferred method to reset your password.
					The information provided at the time of self-certification is collected directly by the relevant certification
					authority and is not used or stored for any purpose other than authentication.
				</p>
			</div>
			<div class="form-change-pass">
				<h2>Reset password </h2>
				<form action="#" method="post" id="form-validate">
					<div class="fieldset">			
						<p class="form-instructions">Vui lòng nhập địa chỉ email của bạn vào ô bên dưới. Bạn sẽ nhận được một liên kết để thiết lập lại mật khẩu.</p>
						<!--<p class="required">* Phải nhập thông tin</p> -->
						<ul class="form-list">
							<li>
								<label for="email_address" class="required"><em>*</em>Địa chỉ email</label>
								<div class="input-box">
									<input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" alt="email" id="email_address" class="input-text required-entry validate-email" value="" />
								</div>
							</li>
							
							<li class="captcha-input-container" id="captcha-input-box-user_forgotpassword">
							    <label for="captcha_user_forgotpassword" class="required"><em>*</em>Vui lòng nhập ký tự bên dưới</label>
							    <div class="input-box captcha">
							        <input name="captcha[user_forgotpassword]" type="text" class="input-text required-entry" id="captcha_user_forgotpassword" />
							    </div>
							</li>
							<li class="captcha-img-container">
							    <div class="captcha-image" id="captcha-image-box-user_forgotpassword">
							        <img id="captcha-reload" class="captcha-reload" src="{{ STATIC_URL }}assets/websites/images/reload.png" alt="Reload captcha" onclick="$('user_forgotpassword').captcha.refresh(this)">
							        <img id="user_forgotpassword" class="captcha-img" height="50" src="#"/>
							    </div>
							    <!-- <script type="text/javascript">//<![CDATA[
							        $('user_forgotpassword').captcha = new Captcha('#', 'user_forgotpassword');
							        //]]>
							    </script> -->
							</li>

						</ul>
					</div>
					<div class="buttons-set">
						<button type="submit" title="Gửi đi" class="button"><span><span>Gửi đi</span></span></button>
					</div>
					<p class="back-link"><a href="#"><small>&laquo; </small>Quay lại trang đăng nhập</a></p>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- <script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script> -->
                
    	
{% endblock%}