{% extends "layout.html" %}
{% load i18n %}
{% block title %}Helio{% endblock title %}

{% block container_class %}col1-layout{% endblock %}
{% block body_class %}
 customer-account-create
 {% endblock %}
{% block main_content %}
<div class="main">
	<div class="col-main">
		<div class="account-wrap">
			<div class="product-collateral account-tabs">
				<ul class="toggle-tabs">
					<li class="first"><span><a href="#">Đăng nhập</a></span></li>
					<li class="current"><span>Đăng ký</span></li>
				</ul>
				<dl id="collateral-tabs">
					<dd class="tab-container current">
					<div class="tab-content">
						<div class="account-create">
							<form action="#" method="post" id="form-validate" class="scaffold-form create-account-from" enctype="multipart/form-data">
								<div class="fieldset">
									<input type="hidden" name="success_url" value="" />
									<input type="hidden" name="error_url" value="" />
									<input name="form_key" type="hidden" value="T15GoMUUH8ENNEfK" />
									<ul class="form-list">
										<li class="fields">
											<div class="customer-name">
												<div class="field name-firstname">
													<label for="firstname" class="required"><em>*</em>Tên</label>
													<div class="input-box">
														<input type="text" id="firstname" name="firstname" value="" title="Tên" placeholder="Tên" maxlength="255" class="input-text validate-alpha-spac required-entry"  />
													</div>
												</div>
												<div class="field name-lastname">
													<div class="input-box">
														<input type="text" id="lastname" name="lastname" value="" title="Họ" placeholder="Họ" maxlength="255" class="input-text validate-alpha-spac required-entry"  />
													</div>
												</div>
											</div>
										</li>
										<li class="fields"><label for="month" class="required"><em>*</em>Ngày sinh</label>
											<div class="input-box customer-dob">
												<div class="dob-day">
													<select onchange="getElementById('day').value=this.value">
														<option value="">Ngày</option>
														<option value="01">01</option>
														<option value="02">02</option>
														<option value="03">03</option>
														<option value="04">04</option>
														<option value="05">05</option>
														<option value="06">06</option>
														<option value="07">07</option>
														<option value="08">08</option>
														<option value="09">09</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
														<option value="13">13</option>
														<option value="14">14</option>
														<option value="15">15</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
														<option value="30">30</option>
														<option value="31">31</option>
													</select>
													<input type="hidden" id="day" name="day" value="" title="Ngày" class="input-text validate-custom"  />
												</div>
												<div class="dob-month">
													<select onchange="getElementById('month').value=this.value">
														<option value="">Tháng</option>
														<option value="01">01</option>
														<option value="02">02</option>
														<option value="03">03</option>
														<option value="04">04</option>
														<option value="05">05</option>
														<option value="06">06</option>
														<option value="07">07</option>
														<option value="08">08</option>
														<option value="09">09</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
													<input type="hidden" id="month" name="month" value="" title="Tháng" class="input-text validate-custom"  />
												</div>
												<div class="dob-year">
													<select onchange="getElementById('year').value=this.value">
														<option value="">Năm</option>
														<option value="2005">2005</option>
														<option value="2004">2004</option>
														<option value="2003">2003</option>
														<option value="2002">2002</option>
														<option value="2001">2001</option>
														<option value="2000">2000</option>
														<option value="1999">1999</option>
														<option value="1998">1998</option>
														<option value="1997">1997</option>
														<option value="1996">1996</option>
														<option value="1995">1995</option>
														<option value="1994">1994</option>
														<option value="1993">1993</option>
														<option value="1992">1992</option>
														<option value="1991">1991</option>
													</select>
													<input type="hidden" id="year" name="year" value="" title="Năm" class="input-text validate-custom"  />
												</div>    
												<div class="dob-full" style="display:none;">
													<input type="hidden" id="dob" name="dob" />
												</div>
												<div class="validation-advice" style="display:none;"></div>
											</div>
							<script type="text/javascript">
							//<![CDATA[
								var customer_dob = new Varien.DOB('.customer-dob', true, '%d/%m/%Y');
							//]]>
							</script>
						</li>
						<li>
							<label for="email_address" class="required"><em>*</em>Địa chỉ email (Tên đăng nhập)</label>
							<div class="input-box">
								<input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="email_address" value="" title="Địa chỉ email" class="input-text validate-email required-entry validate-no-html-tags" />
							</div>
						</li>
						<li class="fields">
							<div class="field">
								<label for="password" class="required"><em>*</em>Mật khẩu</label>
								<div class="input-box">
									<input type="password" name="password" id="password" title="Mật khẩu" class="input-text required-entry validate-password" />
								</div>
							</div>
						</li>
						<li class="fields">
							<div class="field field-country-first">
								<label for="region_id" class="required "><em>*</em>Tỉnh/Tp</label>
								<div class="input-box">
									<select onchange="loadDistrict(this, 'city');" id="region_id" name="region_id" title="Tỉnh/Tp" class="validate-select">
										<option value="">Vui lòng chọn...</option>
										<option value="65">Hồ Chí Minh</option>
										<option value="64">Hà Nội</option>
										<option value="60">Đà Nẵng</option>
										<option value="48">Cần Thơ</option>
										<option value="39">Đồng Nai</option>
										<option value="62">Hải Phòng</option>
										<option value="13">Quảng Ninh</option>
										<option value="43">Bà Rịa-Vũng Tàu</option>
										<option value="31">Bình Định</option>
										<option value="57">Bình Dương</option>
										<option value="33">Đắk Lắk</option>
										<option value="51">Trà Vinh</option>
										<option value="06">Yên Bái</option>
										<option value="49">Vĩnh Long</option>
										<option value="47">Kiên Giang</option>
										<option value="73">Hậu Giang</option>
										<option value="23">Hà Tĩnh</option>
										<option value="32">Phú Yên</option>
										<option value="58">Bình Phước</option>
										<option value="40">Bình Thuận</option>
										<option value="59">Cà Mau</option>
										<option value="04">Cao Bang</option>
										<option value="72">Dak Nong</option>
										<option value="71">Dien Bien</option>
										<option value="45">Đồng Thap</option>
										<option value="54">Bac Giang</option>
										<option value="30">Gia Lai</option>
										<option value="44">An Giang</option>
										<option value="55">Bac Lieu</option>
										<option value="03">Ha Giang</option>
										<option value="63">Ha Nam</option>
										<option value="53">Bac Cạn</option>
										<option value="56">Bac Ninh</option>
										<option value="50">Ben Tre</option>
										<option value="15">Ha Tay</option>
										<option value="61">Hai Duong</option>
										<option value="14">Hoa Binh</option>
										<option value="66">Hung Yen</option>
										<option value="34">Khanh Hoa</option>
										<option value="28">Kon Tum</option>
										<option value="01">Lai Chau</option>
										<option value="35">Lam Dong</option>
										<option value="09">Lang Son</option>
										<option value="02">Lao Cai</option>
										<option value="41">Long An</option>
										<option value="67">Nam Dinh</option>
										<option value="22">Nghe An</option>
										<option value="18">Ninh Binh</option>
										<option value="36">Ninh Thuan</option>
										<option value="68">Phu Tho</option>
										<option value="24">Quảng Binh</option>
										<option value="27">Quảng Nam</option>
										<option value="29">Quảng Ngai</option>
										<option value="25">Quảng Tri</option>
										<option value="52">Soc Trang</option>
										<option value="05">Son La</option>
										<option value="37">Tay Ninh</option>
										<option value="20">Thai Binh</option>
										<option value="69">Thai Nguyen</option>
										<option value="21">Thanh Hoa</option>
										<option value="26">Thua Thien-Hue</option>
										<option value="46">Tien Giang</option>
										<option value="07">Tuyen Quang</option>
										<option value="70">Vinh Phuc</option>
										<option value="65" selected>Khác... </option>
									</select>
								</div>
							</div>
						</li>
						<li class="fields">
							<label for="street_1" class="required"><em>*</em>Địa chỉ</label>
							<div class="input-box">
								<input type="text" name="street[]" value="N/A" title="Địa chỉ" id="street_1" class="input-text validate-no-html-tags  required-entry" />
							</div>
						</li>
						<li class="control" style="display: none;">
							<div class="input-box">
								<input type="checkbox" name="is_subscribed" title="Tôi muốn nhận đề nghị qua email" value="1" id="is_subscribed" checked="checked" class="checkbox" />
							</div>
							<label for="is_subscribed">Tôi muốn nhận đề nghị qua email</label>
						</li>
					</ul>
				</div>
				<div class="fieldset">
					<ul class="form-list">
						<li><label for="gender" class="required"><em>*</em>Giới tính</label>
						<div class="input-box">
							<!--<input type="radio" name="gender" value="1">Male</input>-->
							<input type="radio" name="gender" value="1" checked="checked">Nam</input>
							<!--<input type="radio" name="gender" value="2">Female</input>-->
							<input type="radio" name="gender" value="2">Nữ</input>
						</div>
					</li>
					<li class="hidden">
						<input type="hidden" name="create_address" value="1" />
					</li>
					<li class="fields">
						<div class="field">
							<label for="telephone" class="required"><em>*</em>Số điện thoại di động</label>
							<div class="input-box">
								<input type="tel" name="telephone" id="telephone" value="" title="Điện thoại" class="input-text required-entry validate-mobile  required-entry" />
							</div>
						</div>
					</li>
					<li class="fields">
						<div class="field">
							<label for="username" class="required"><em>*</em>Tên Đăng Nhập (Bạn có thể đăng nhập bằng tên này)</label>
							<div class="input-box">
								<input type="text" name="username" id="username" value="" title="Tên Đăng Nhập (Bạn có thể đăng nhập bằng tên này)" placeholder ="Use letter & number, min. 6 characters" class="input-text required-entry validate-alpha-digit " />
							</div>
						</div>
					</li>
					<li class="fields">
						<div class="field">
							<label for="confirmation" class="required"><em>*</em>Nhập lại mật khẩu</label>
							<div class="input-box">
								<input type="password" name="confirmation" title="Nhập lại mật khẩu" id="confirmation" class="input-text required-entry validate-cpassword" />
							</div>
						</div>
					</li>
					<li class="fields field-country">
						<label for="city" class="required "><em>*</em>Quận/Huyện</label>
						<div class="input-box">
							<select class="input-box input-box-city validate-select" id="city" name="city" title="Quận/Huyện" >
								<option value="">Vui lòng chọn...</option>
								<option value="Other" selected>Khác... </option>
							</select>
						</div>
					</li>
					<li class="fields" style="display: none;">
						<div class="field">
							<label for="zip">Mã quốc gia</label>
							<div class="input-box">
								<input type="hidden" name="postcode" value="80000" title="Mã quốc gia" id="zip" class="input-text validate-zip-international  required-entry" />
							</div>
						</div>
						<div class="field">
							<label for="country">Quốc gia</label>
							<div class="input-box">
								<select name="country_id" id="country" class="validate-select" title="Quốc gia" >
								<option value="" > </option>
								<option value="AF" >Afghanistan</option>
								<option value="EG" >Ai Cập</option>
								<option value="IE" >Ai-len</option>
								<option value="AL" >Albani</option>
								<option value="DZ" >Algeria</option>
								<option value="AD" >Andorra</option>
								<option value="AO" >Angola</option>
								<option value="AI" >Anguilla</option>
								<option value="AG" >Antigua và Barbuda</option>
								<option value="AT" >Áo</option>
								<option value="SA" >Ả Rập Xê-út</option>
								<option value="AR" >Argentina</option>
								<option value="AM" >Armenia</option>
								<option value="AW" >Aruba</option>
								<option value="AZ" >Azerbaijan</option>
								<option value="IN" >Ấn Độ</option>
								<option value="BS" >Bahamas</option>
								<option value="BH" >Bahrain</option>
								<option value="PL" >Ba Lan</option>
								<option value="BD" >Bangladesh</option>
								<option value="BB" >Barbados</option>
								<option value="BY" >Belarus</option>
								<option value="BZ" >Belize</option>
								<option value="BJ" >Benin</option>
								<option value="BM" >Bermuda</option>
								<option value="BT" >Bhutan</option>
								<option value="BE" >Bỉ</option>
								<option value="BO" >Bolivia</option>
								<option value="BA" >Bosnia và Herzegovina</option>
								<option value="BW" >Botswana</option>
								<option value="PT" >Bồ Đào Nha</option>
								<option value="BR" >Brazil</option>
								<option value="BN" >Brunei</option>
								<option value="BG" >Bungari</option>
								<option value="BF" >Burkina Faso</option>
								<option value="BI" >Burundi</option>
							</div>
						</li>
						<li class="hidden">
							<input type="hidden" name="default_billing" value="1" />
							<input type="hidden" name="default_shipping" value="1" />
						</li>
						
						<li class="captcha-input-container" id="captcha-input-box-user_create">
							<label for="captcha_user_create" class="required"><em>*</em>Vui lòng nhập ký tự bên dưới</label>
							<div class="input-box captcha">
								<input name="captcha[user_create]" type="text" class="input-text required-entry" id="captcha_user_create" />
							</div>
						</li>
						<li class="captcha-img-container">
							<div class="captcha-image" id="captcha-image-box-user_create">
								<img id="captcha-reload" class="captcha-reload" src="#" alt="Reload captcha" onclick="$('user_create').captcha.refresh(this)">
								<img id="user_create" class="captcha-img" height="50" src="#"/>
							</div>
							<script type="text/javascript">//<![CDATA[
							$('user_create').captcha = new Captcha('#', 'user_create');
							//]]></script>
						</li>
					</ul>
				</div>
				<div class="cgv-option-info">
					<h3>Thông tin tùy chọn</h3>
					<div class="fieldset cgv-media">
						<ul class="form-list">
							<li class="customer-user-attributes">
								<ul class="form-list">
									<li><label for="personal_id">CMND hoặc Hộ chiếu</label>
									<div class="input-box">
										<input type="text" id="personal_id" name="personal_id" value="" class="input-text" />
										
									</div>
								</li>
							</ul>
						</li>
						<li class="fields">
							<label for="preferSite" class="">Rạp yêu thích</label>
							<div class="input-box">
								<select id="prefersite" name="prefersite" title="Vui lòng chọn..." class="prefersite genre_select">
									<option value="">Vui lòng chọn...</option>
									<option value="017">CGV Aeon Canary</option>
									<option value="027">CGV Aeon Long Bien</option>
									<option value="034">CGV Aeon Mall Binh Tan</option>
									<option value="012">CGV Aeon Tan Phu</option>
									<option value="041">CGV Artemis Ha Noi</option>
									<option value="019">CGV Big C Dong Nai</option>
									<option value="016">CGV Binh Duong Square</option>
									<option value="026">CGV Buon Ma Thuot</option>
									<option value="006">CGV CT Plaza</option>
									<option value="046">CGV Center Point</option>
									<option value="003">CGV Coopmart Bien Hoa</option>
									<option value="008">CGV Cresent Mall</option>
									<option value="040">CGV Golden Plaza</option>
									<option value="018">CGV Ho Guom Plaza</option>
									<option value="004">CGV Hung Vuong Plaza</option>
									<option value="032">CGV Indochina Plaza Ha Noi</option>
									<option value="015">CGV Kim Cuc Plaza</option>
									<option value="014">CGV Lam Son square</option>
									<option value="033">CGV Liberty Tan Binh</option>
									<option value="022">CGV Liberty centre point</option>
									<option value="011">CGV Marine Plaza</option>
									<option value="009">CGV Mipec Tower</option>
									<option value="010">CGV Pandora</option>
									<option value="049">CGV Parkson Dong Khoi</option>
									<option value="007">CGV Parkson Paragon</option>
																				</select>
									<select id="prefersite2" name="prefersite2" title="Vui lòng chọn..." class="prefersite genre_select">
										<option value="">Vui lòng chọn...</option>
										<option value="017">CGV Aeon Canary</option>
										<option value="027">CGV Aeon Long Bien</option>
										<option value="034">CGV Aeon Mall Binh Tan</option>
										<option value="012">CGV Aeon Tan Phu</option>
										<option value="041">CGV Artemis Ha Noi</option>
										<option value="019">CGV Big C Dong Nai</option>
										<option value="016">CGV Binh Duong Square</option>
										<option value="026">CGV Buon Ma Thuot</option>
										<option value="006">CGV CT Plaza</option>
										<option value="046">CGV Center Point</option>
										<option value="003">CGV Coopmart Bien Hoa</option>
										<option value="008">CGV Cresent Mall</option>
										<option value="040">CGV Golden Plaza</option>
										<option value="018">CGV Ho Guom Plaza</option>								
									</select>
									</div>
								</li>
							</ul>
						</div>
						<div class="fieldset prefer-genre">
							<!--																																							    <li class="customer-user-attributes">
								<ul class="form-list">
									<li><label for="personal_id">CMND hoặc Hộ chiếu</label>
									<div class="input-box">
										<input type="text" id="personal_id" name="personal_id" value="" class="input-text" />
										
									</div>
								</li>
							</ul>
						</li>
						-->
						<ul class="form-list">
							<li class="fields">
								<label for="preferGenre" class="">Thể loại phim yêu thích</label>
								<div class="input-box">
									<select id="prefergenre" name="prefergenre" title="Vui lòng chọn..." class="prefergenre genre_select">
										<option value="">Vui lòng chọn...</option>
										<option value="06">ACTION</option>
										<option value="15">ADVENTURE</option>
										<option value="17">ANIMATION</option>
										<option value="05">COMEDY</option>
										<option value="03">CRIME</option>
										<option value="07">DRAMA</option>
										<option value="14">FAMILY</option>
										<option value="13">FANTASY</option>
										<option value="12">HISTORY</option>
										<option value="16">HORROR </option>
										<option value="09">MUSIC</option>
										<option value="02">MYSTERY</option>
										<option value="99">Others</option>
										<option value="04">ROMANCE</option>
										<option value="10">SCIFI</option>
										<option value="01">SPORT</option>
										<option value="11">SPY</option>
										<option value="08">THRILLER </option>										
									</select>
									<select id="prefergenre2" name="prefergenre2" title="Vui lòng chọn..." class="prefergenre genre_select">
										<option value="">Vui lòng chọn...</option>
										<option value="06">ACTION</option>
										<option value="15">ADVENTURE</option>
										<option value="17">ANIMATION</option>
										<option value="05">COMEDY</option>
										<option value="03">CRIME</option>
										<option value="07">DRAMA</option>
										<option value="14">FAMILY</option>
										<option value="13">FANTASY</option>
									</select>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="input-box-is_agree">
							<input type="checkbox" name="is_agree" value="1" id="is_agree" checked="checked" required="requierd" class="checkbox">
							<label class="is_agree" for="is_agree">
								Tôi đã đọc, hiểu và đồng ý với các <a href='#'>điều khoản</a>.			
							</label>
							</div>
							<div class="buttons-set">
								<!--<p class="back-link"><a href="https://www.cgv.vn/default/customer/account/login/" class="back-link"><small>&laquo; </small>Quay lại</a></p>-->
								<button type="submit" title="Đăng ký" class="button"><span><span>Đăng ký</span></span></button>
							</div>
							<p class="required account-create-required">* Phải nhập thông tin</p>
							<div class="remember-me-popup">
								<div class="remember-me-popup-head">
									<h3>Xem chi tiết?</h3>
									<a href="#" class="remember-me-popup-close" title="Đóng">Đóng</a>
								</div>
								<div class="remember-me-popup-body">
									<p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
									<div class="remember-me-popup-close-button a-right">
										<a href="#" class="remember-me-popup-close button" title="Đóng">
											<span>Đóng</span>
										</a>
									</div>
								</div>
							</div>
							<script type="text/javascript">
							//<![CDATA[
							function toggleRememberMePopup() {
								var formParent = jQuery(this).parents('form:first');
								formParent.find('.remember-me-box a').toggleClass('hide');
								formParent.find('.remember-me-popup').toggleClass('show');
								return false;
							}
							var rememberMeToggleSetup = false;
							jQuery(document).ready(function(){
								if (!rememberMeToggleSetup) {
								jQuery('.remember-me-box a, .remember-me-popup a').on('click', toggleRememberMePopup);
								rememberMeToggleSetup = true;
							}
							});
							//]]>
							</script>
						</form>
						<!--<div class="banner-create-account">
						</div>-->
					</div>
				</div>
				</dd>
			</dl>
		</div>
	</div>
	<style>
		.fieldset {
			float: left;
			width: 50%;
			margin: 0 !important;
		}
		.form-list select {
			margin-top: 0px;
			margin-left:0;
		}
		.cgv-option-info li.customer-user-attributes{
			float:left;
		}
	</style>
	<script type="text/javascript">
	//<![CDATA[
		var Translator = new Translate({"Use letter & number, min. 6 characters.":"Ít nhất 6 ký tự, bao gồm chữ và số.","Please enter numbers (0-9) starting from 0. For example 0123456789.":"Vui lòng nhập đúng số điện thoại.","Please enter 6 or more characters without leading or trailing spaces.":"Vui lòng nhập 6 ký tự trở lên, không khoảng trắng hoặc dấu cách dẫn","Please enter a valid email address. For example johndoe@domain.com.":"Vui lòng nhập đúng địa chỉ email. Ví dụ: johndoe@domain.com","Please make sure your passwords match.":"Vui lòng đảm bảo mật khẩu phù hợp.","This is a required field.":"Phải nhập thông tin.","This date is a required value.":"Phải nhập thông tin.","Please enter a valid full date":"Vui lòng nhập đúng định dạng ngày sinh"});
		var dataForm = new VarienForm('form-validate', true);
		Form.getElements('form-validate').each(function(element) {
			element.setAttribute('autocomplete', 'off');
		});
		function loadDistrict(provinceObj, districtId){
			if( jQuery(provinceObj).val() == '' ){
				jQuery('#'+districtId).empty();
				return;
			}
			jQuery.ajax({
				type: 'post',
				url: '#',
				data: 'region_id='+ jQuery(provinceObj).val()+'&empty=true',
				success: function(_province_data){
					jQuery('#city').empty();
					select='';
					for(i=0;i<_province_data.length;i++) {
						if (_province_data[i].label =="Vui lòng chọn..."){
							jQuery('#city').append('<option data-id="" value="">'+_province_data[i].label+'</option>');
						} else {
							// if(jQuery(provinceObj).val() == _province_data[i].id+)
								// select=' selected';
							jQuery('#city').append('<option data-id='+_province_data[i].value+' value="'+_province_data[i].label+'"'+select+'>'+_province_data[i].label+'</option>');
						}
					}
					jQuery('#city').attr('disabled', false);
				}
			});
			//jQuery('#city').attr('disabled', false);
		}
		jQuery('.prefersite').on('change', function() {
		var site1=jQuery('#prefersite').find(":selected").val();
		var site2=jQuery('#prefersite2').find(":selected").val();
		if(site1 == site2){
			alert('Prefered sites cannot be same!');
			jQuery(this).val('');
		}
		})
		jQuery('.prefergenre').on('change', function() {
			var site1=jQuery('#prefergenre').find(":selected").val();
			var site2=jQuery('#prefergenre2').find(":selected").val();
			if(site1 == site2){
				alert('Prefered genres cannot be same!');
				jQuery(this).val('');
			}
		})
	//]]>
</script>               
</div>
</div>

{% endblock %}