{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Arthouse{% endblock title %}

{% block extrastylesheet %}
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/arthouse.css" media="all" />
{% endblock %}
{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/cgv.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/list_film.js"></script>
{% endblock %}

{% block body_class %}
    catalog-category-view categorypath-arthouse category-arthouse
{% endblock %}

{% block container_class%}col1-layout {% endblock%}
{% block main_content %}
<div class="breadcrumbs" itemprop="breadcrumb">
    <ul>
        <li class="home">
            <a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
            <span>/ </span>
        </li>
        <li class="category3">
            Phim
            <span>/ </span>
        </li>
        <li class="category9">
            <strong>Arthouse</strong>
        </li>
    </ul>
</div>
    <div class="main">
        <div class="col-main">
            <div class="catalog-wrap">
                <div class="page-title category-title">
                    <h1>Arthouse</h1>
                    
                    <div class="sub-category">
                        <ul>
                            <li id="arthouse-home">
                                <a href="javascript:void(0)">
                                Lịch Chiếu                  </a>
                            </li>
                            <li id="about-arthouse">
                                <a href="javascript:void(0)">
                                Về ArtHouse                 </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tabs-content" id="arthouse-home_contents">
                    <div class="sect-arthouse-visual">
                        <img alt="" src="{{STATIC_URL}}/assets/websites/images/Art_House_-_microsite-980x390.jpg">
                    </div>
                    <div class="home-movie-selection">
                        <div class="home-title">
                            <h2>movie selection</h2>
                        </div>
                    </div>          
                    <div class="category-products cgv-movies">
                    
                        <ul class="products-grid products-grid--max-4-col first last odd">
                        {% for value in data %}

                            <li class="film-lists item last">
                                <span class="nmovie-rating nmovie-rating-c16">C16</span>
                                
                                <div class="product-images">
                                    <a href="javascript:void(0)" title="CGV_Kiss And Spell" class="product-image">
                                        <img id="product-collection-image-343" src="{{STATIC_URL}}{{value.img}}" alt="CGV_Kiss And Spell">
                                    </a>
                                    <div class="movie-technology">
                                    </div>
                                </div>
                                
                                <div class="product-info" >
                                    <h2 class="product-name"><a href="javascript:void(0)" title="Yêu Đi, Đừng Sợ!">{{value.name}}</a></h2>
                                    
                                    <div class="cgv-movie-info">
                                        <span class="cgv-info-bold">Thể loại: </span>
                                        <span class="cgv-info-normal">{{value.category}}</span>
                                    </div>
                                    
                                    <div class="cgv-movie-info">
                                        <span class="cgv-info-bold">Thời lượng: </span>
                                        <span class="cgv-info-normal">{{value.time}}</span>
                                    </div>
                                    
                                    <div class="cgv-movie-info">
                                        <span class="cgv-info-bold">Khởi chiếu: </span>
                                        <span class="cgv-info-normal">{{value.date}} </span>
                                    </div>
                                    
                                </div>
                                
                                <div class="ribon position-1"></div>
                                
                                <ul class="add-to-links">
                                    <li>
                                        <div class="fb-like fb_iframe_widget" data-href="#" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('17008300');"><span><span>Mua vé</span></span></button>
                                    </li>
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    <script type="text/javascript" src='{{ STATIC_URL }}assets/websites/js/products-grid.js'>
                    </script>
                </div>
                <div class="category-description std">
                    <div class="sect_art_hd_trailer cf">
                        <div class="thumb">
                            <h3>
                            <a href="javascript:void(0)">
                                <img src="{{STATIC_URL}}/assets/websites/images/arthouse-thumb.jpg" "="">
                            </a>
                            </h3>
                        </div>
                        <div class="player_area">
                            <div class="arthouse-poster">
                                <iframe width="666" height="375" src="https://www.youtube.com/embed/hK52sNORvIk" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="about-arthouse_contents" class="tabs-content">
                <div class="about-cgv-art-house">
                    <div class="tittle-art-house">
                        <h3>CGV ART HOUSE PHÒNG CHIẾU DÀNH RIÊNG CHO PHIM VIỆT NAM VÀ HÀN QUỐC</h3>
                    </div>
                    <div class="content-art-house-1">
                        <div class="content-art-house-left"><img alt="" src="{{STATIC_URL}}/assets/websites/images/bg_about_article1.png"></div>
                        <div class="content-art-house-right">
                            <p>Bên cạnh việc liên tục đưa vào hoạt động các cụm rạp chiếu phim với tiêu chuẩn quốc tế trên cả nước và là nhà phát hành hàng đầu, CGV vẫn không ngừng nỗ lực góp phần vào sự phát triển của điện ảnh Việt Nam. Dựa trên mục tiêu hoạt động này, CGV Art House đã được triển khai và chính thức ra đời từ ngày 31.12.2014.</p>
                            <p>CGV Art House là phòng chiếu phim dành riêng để trình chiếu các tác phẩm của điện ảnh Việt Nam và Hàn Quốc. Tại CGV Parkson Paragon Hồ Chí Minh, phòng chiếu số 2 sẽ được dùng để trình chiếu các bộ phim Hàn Quốc và đặc biệt phòng chiếu sang trọng M-Cinema sẽ là nơi chỉ trình chiếu các bộ phim Việt Nam. Tại Hồ Gươm Plaza Hà Nội, phòng chiếu số 5 sẽ trình chiếu xen kẽ các bộ phim của điện ảnh Việt Nam và Hàn Quốc.</p>
                        </div>
                    </div>
                    <div class="location-art-house">
                        <div class="location-hcm">
                            <h2><img alt="" src="{{STATIC_URL}}/assets/websites/images/mipec-1.PNG"></h2>
                        </div>
                        <div class="location-hn">
                            <h2><img alt="" src="{{STATIC_URL}}/assets/websites/images/para-1.PNG"></h2>
                        </div>
                    </div>
                    <div class="content-art-house-2">
                        <p>Ngoài ra, CGV Art House cũng chính là sân chơi dành cho các nhà làm phim trẻ nhằm khuyến khích các bộ phim ngắn ra đời và trình chiếu như một sự động viên, khích lệ cho tình yêu và sự sáng tạo trong điện ảnh. CGV Art House sẽ đón nhận các bộ phim ngắn, phim dài từ các nhà làm phim trẻ để chọn lọc và trình chiếu cho khán giả. Qua đó, họ có thể nhìn thấy sự đón nhận nghiêm túc của khán giả dành cho tác phẩm của mình và có định hướng rõ ràng cho sự phát triển của bản thân.</p>
                        <p>Như một sân chơi dành cho người yêu phim và những người làm chuyên môn, CGV Art House sẽ tổ chức những buổi trao đổi định kỳ Sunday Talk về các đề tài của điện ảnh Việt Nam và điện ảnh thế giới. Bên cạnh đó, CGV cũng chào đón những hội thảo, những chuyên mục điện ảnh được các nhà làm phim chủ động kết hợp tổ chức tại CGV Art House.</p>
                        <p>Đối với phim của những nhà làm phim độc lập, bên cạnh việc hỗ trợ trình chiếu tại CGV Art House, CGV cũng hỗ trợ tổ chức các sự kiện ra mắt phim hay những vấn đề kiện liên quan khác như duyệt phim nhằm phổ biến phim rộng rãi đến với công chúng.</p>
                        <p>CGV hy vọng sẽ mang các bộ phim Việt đặc biệt là dòng phim nghệ thuật, phim độc lập và phim ngắn đến gần khán giả hơn và CGV Art House sẽ là sân chơi ý nghĩa và là nơi gặp gỡ của các nhà làm phim, những người yêu phim ảnh Việt Nam.</p>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
//<![CDATA[
    new Varien.Tabs('.catalog-wrap');
    $j('#about-arthouse_contents').css('display','none');
    // $j( ".play-button" ).click(function() {
        // $j(this).colorbox({iframe:true, innerWidth:640, innerHeight:390});
    // });
//]]>
</script> 
        </div>
    </div>
</div>
{% endblock%}