{% extends "layout.html" %}
{% load i18n %}

{% block title %}Blog Phim{% endblock title %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/blog_film_detail.css" media="all" />
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block container_class%}col1-layout{% endblock%}

{% block main_content%}
    <div class="main-blog">
        <div class="container blog-detail-custom">
            <div class="blog-detail-title">
                <h1>{{ blog.name }}</h1>
            </div>
            <div class="blog-detail-decs">
                <p>{{ blog.description }}</p><br>
            </div>
            <div class="blog-detail-content">
                {{blog.content | safe}}
            </div>
            <ul>
                <li>
                    <div class="fb-share-button" data-href="http://{{ request.get_host }}{% url 'blog_film_detail' blog.id%}" data-layout="button_count">
                    </div>
                </li>
                <li>
                    <div class="hit-count-button">
                        <span class="view-count-name"> Lượt xem </span>
                        <span class="view-count"> {{ view_counter }}</span>
                    </div>
                </li>
            </ul>
            
        </div> 
        <div class="container related-blog">
            <div class='related-blog-title'>
                <h3 class="title"> Bài viết liên quan</h3>
            </div>
            <div class='row'>
                {% if related_blogs %}
                {% for related_blog in related_blogs %}
                    <div class="col-md-3 area-image-relate">
                        <a href="{% url 'blog_film_detail' related_blog.id%}">
                            <img class='img-responsive' src="{{MEDIA_URL}}{{related_blog.image}}" />
                            <div class='caption'>
                                <h5>{{ related_blog.name }}</h5>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="fb-comments" data-href="" data-width="100%" data-numposts="5"></div>
    </div>
{% endblock%}
