{% extends "layout.html" %}
{% load i18n %}

{% block title %}Blog Phim{% endblock title %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/blog_film.css?version={{BUILD_VERSION}}" media="all" />
{% endblock %}
{% block extrascript %}
    <script src="{{ STATIC_URL }}assets/websites/js/blog_film.js?version={{BUILD_VERSION}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block container_class%}col1-layout{% endblock%}

{% block main_content%}
<div class="main-blog">
    <div class="container blog-custom">
        <div class="blog-title">
            <h1>BLOG PHIM</h1>
        </div>
        <div class='col-md-12'>
            <div class="filter-blog">
                <label for="filter"><strong>Sắp xếp theo:</strong></label>
                <select class="select-filter" id="blog-filter">
                    <option value="-created">Bài viết mới nhất</option>
                    <option value="-hit_count_generic__hits">Xem nhiều nhất</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <article class="row blog-content">
            {% include 'websites/ajax/list_blog_film.html' %} 
        </article>
        <div class="text-center"><button id="load-more-blogs" class="btn btn-primary load-more" data-page="2" data-count-news="">XEM THÊM</button></div> 
    </div>
</div>
{% endblock%}
