{% extends "layout.html" %}
{% load i18n %}

{% block title %}Đặt vé{% endblock title %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/booking.css" media="all" />
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/booking.js"></script>
{% endblock %}

{% block container_class%}col1-layout{% endblock%}

{% block main_content%}
<div class="container-fluid">
    <div class="container booking-custom">
        <div>
            <h2>Chọn ghế</h2>
        </div>
        <div class="row">
            <div id="seat-map" class="col-md-8 col-md-offset-1 col-xs-12">
                <div class="front">MÀN HÌNH</div>
            </div>
            <div class="booking-details col-md-3 col-xs-12">
                <!-- get id_server -->
                <input type="hidden" name="id_server" id="id_sever" value="{{id_sever}}"> 
                <!-- get id showtime -->
                <input type="hidden" name="id_showtime" id="id_showtime" value="{{id_showtime}}">
                <p>Phim: <span class="name-movie-booking"> {{ id_movie_name }}</span></p>
                <p>Ngày: <span class="date-movie-booking">{{ id_movie_date_active }}</span></p>
                <p>Thời gian: <span class="time-movie-booking">{{ id_movie_time }}</span></p>
                <p>Ghế: </p>
                <div class="col-xs-12"><ul id="selected-seats"></ul></div>
                <p>Số vé: <span id="counter">0</span></p>
                <p>Tổng tiền: <span id="total">0</span> VNĐ</p>
                <div id="legend"></div>
                <p class="booking-refresh"><i class="fa fa-refresh fa-lg"></i> <a>Làm lại</a></p>
            </div>
            <div class="clear-both"></div>
        </div>
        <section class="step-2-navigator">
            <div class=" back-and-forward">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#test-popup" class="pull-left btn-changeschedule open-popup-link popup-movie-schedule" data-date-seat="{{id_movie_date_active}}">Đổi xuất chiếu</a>
                        <a id="btnNextBooking" class="pull-right btn-continue">Tiếp tục</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="ajax-loader">
    <p><img src="{{ STATIC_URL }}assets/websites/images/Spin.gif" class="img-responsive" /></p>
</div>
{% endblock%}
