{% extends "layout.html" %}

{% load i18n %}

{% block title %}Helio{% endblock title %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/careers_cluster.css" media="all" />
{% endblock %}

{%block body_class %}  jobs-index-index {% endblock %}

{% block container_class %}col2-left-layout{% endblock %}

{% block main_content %}
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
				<span>/ </span>
			</li>
			<li class="job_list">
				<a href="{% url 'careers' %}" title="Tuyển dụng">Tuyển dụng</a>
				<span>/ </span>
			</li>
			<li class="job_category">
				<strong>Head Office</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		<div class="col-main">
			<div id="messages_jobs_view"></div>
			<div class="page-title category-title">
				<h1>Cụm Rạp</h1>
			</div>
			<div class="category-description std"></div>
				<div class="category-products">
					<div class="toolbar">
						<div class="sorter">
							<div class="sort-by">
								<label>Sắp xếp</label>
								<select onchange="setLocation(this.value)">
									<option value="#" selected="selected">Job Title</option>
									<option value="#">Recent Jobs</option>
								</select>
								<a href="#">
									<img src="#" alt="Sắp xếp tăng dần" class="v-middle" /></a>
							</div>
						</div>
						
						<div class="pager">
							<p class="amount">13 Sản phẩm</p>
							<div class="limiter">
								<label>Hiển thị</label>
								<select onchange="setLocation(this.value)">
									<option value="#" selected="selected">10000</option>
								</select> trang</div>
								
							</div>
						</div>
						<ol class="products-list" id="jobs-list">
							{% for item in data_careers_cluster %}
							<li class="item">
								<a href="#" class="jobs-shop">
								<span class="product-name">
									{{item.name}}
								</span>
								<span class="desc std">
									<p>{{item.location}}</p></span>
								</a>
							</li>
							{% endfor %}
						</ol>
						<script type="text/javascript">decorateList('jobs-list', 'none-recursive')</script>
						<div class="toolbar">
							<div class="sorter">
								<div class="sort-by">
									<label>Sắp xếp</label>
									<select onchange="setLocation(this.value)">
										<option value="#" selected="selected">Job Title</option>
										<option value="#">Recent Jobs</option>
									</select>
									<a href="#">
										<img src="#" alt="Sắp xếp tăng dần" class="v-middle" /></a>
								</div>
							</div>
												
							<div class="pager">
								<p class="amount">13 Sản phẩm</p>
								<div class="limiter">
									<label>Hiển thị</label>
									<select onchange="setLocation(this.value)">
										<option value="#">10000
										</option>
									</select> trang
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-left sidebar"><div class="block block-account">
					<div class="block-content">
						<ul>
						<li  >
							<a href="{% url 'careers' %}">Tuyển dụng</a></li>
						<li >
							<a href="{% url 'careers_units' %}">Trụ sở chính</a>
						</li>
						<li class="current">
							<a href="{% url 'careers_cluster' %}">Cụm Rạp</a>
						</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
				
{% endblock %}		

