{% extends "layout.html" %}
{% load i18n %}

{% block container_class %}col2-left-layout{% endblock %} 

{% block title %}Tuyển dụng{% endblock title %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/careers.css" media="all" />
{% endblock %}

{% block extrascript %}

{% endblock %}

{% block body_class %}
  jobs-index-index
{% endblock %}

{% block main_content %}

		<div class="breadcrumbs" itemprop="breadcrumb">
			<ul>
				<li class="home">
					<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
					<span>/ </span>
				</li>
				<li class="job_list">
					<strong>Tuyển dụng</strong>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="col-main">
				<div id="messages_jobs_view"></div>
				<div class="page-title category-title">
					<div class="career-recruitment-content">
						<h2>KHỞI NGHIỆP C&Ugrave;NG CGV</h2>
						<div class="content-khoi-nghiep">
							<p><strong>CGV</strong> xin mời những ứng vi&ecirc;n năng động, đầy ho&agrave;i b&atilde;o v&agrave; đam m&ecirc; điện ảnh h&atilde;y c&ugrave;ng tham dự Ng&agrave;y Hội Tuyển Dụng để c&ugrave;ng t&igrave;m hiểu về cơ hội việc l&agrave;m tại <strong>CJ CGV Việt Nam</strong>.</p>
							<p>&nbsp;</p>
							<p>Tuyển dụng tại cụm rạp CGV Parkson Quận 1</p>
							<ul>
								<li>
									<p>Nộp hồ sơ trực tiếp tại CGV Vincom Đồng Khởi (72 L&ecirc; Th&aacute;nh T&ocirc;n, Q1)</p>
								</li>
								<li>
									<p>Thời gian bắt đầu nhận hồ sơ : 20/07/2017</p>
								</li>
							</ul>
						</div>
						<div class="recruiment-festival"></div>
						<div class="career-recruitment">
							<div class="contact-team-recruitment">
								<h4>Bộ phận tuyển dụng</h4>
								<h4><strong>CJ CGV Việt Nam</strong></h4>
								<h4><strong>Tầng 10 &ndash; CJ Building - 2 &ndash; 4 &ndash; 6 L&ecirc; Th&aacute;nh T&ocirc;n</strong></h4>
								<h4><strong>Quận 1 - TP. Hồ Ch&iacute; Minh</strong></h4>
								<h5><strong>Email: <a href="#"><em>contacts@vooc.vn</em></a></strong></h5>
							</div>
						</div>
					</div>    
				</div>
			</div>
			{% include 'careers_menu.html' %}
		</div>	
	

{% endblock %}
