{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{{technology.name}}{% endblock title %}


{% block body_class %}
	theaters-special-view
{% endblock %}
{% block extrascript %}

{% endblock %}

{% block container_class%}col1-layout {% endblock%}
{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="{{technology.name}}">
				<strong>{{technology.name}}</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		{% include 'cinema_technology_menu.html' %}
			<div class="content-technology">
				{{ technology.content| safe}}
			</div>
	</div>
</div>
{% endblock %}