{% extends "layout.html" %}

{% load i18n %} 

{% block title %}Helio{% endblock title %}

{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/cinox.js"></script>
{% endblock %}

{% block body_class %}
 cinox-site-list
{% endblock %}

{% block container_class %}col1-layout{% endblock %}

{% block main_content %}
<div class="main">
	<div class="col-main">
		
		<div class="showtimes-wrap">
			<div class="showtimes-container">
				<div class="theatre-wrap">
					<div class="theatre-list product-view">
						<div class="cgv-showtime-top"></div>
						
						<div class="theatre-city-tabs cgv-showtime-center">
							<div class="content-list-cinema">
								<div class="title-cgv-cinema"><h1>HELIO CINEMAS</h1></div>
								
								<div class="cinemas-area">
									<ul>
									{% for item in data_cinema_area %}
										<li>
											<span id="{{item.id}}" >{{item.name}}</span>
										</li>
									{% endfor %}
									</ul>
								</div>
								
								<div class="cinemas-list">
									<ul>
										
										{% for item in data_cinema_list %}
										<li class="{{item.class}}">
											<span id="{{item.id}}" onclick="site('#',this)">{{item.name}}</span>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
						
						<div class="cgv-showtime-bottom"></div>
					</div>
					
					<div class="theater-container product-view"></div>
				</div>
			</div>
			
			<div id="loading-mask">
				<p class="loader" id="loading_mask_loader">
					<img src="{{ STATIC_URL }}assets/websites/images/ajax-loader.gif" alt="Loading...">
				<br>Đang tải thông tin...</p>
			</div>
			
			
	</div>                
	</div>
</div>

{% endblock %}