{% extends "layout.html" %}

{% load i18n %}

{% block title %}Phim sắp chiếu{% endblock title %}

{% block container_class %}col1-layout{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/coming_soon.js"></script>
{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-coming-soon category-coming-soon
{% endblock %}

{% block main_content %}

<div class="main">
	<div class="col-main">
		<div class="page-title category-title">
			<h1>Phim Sắp Chiếu</h1>
		</div>
		{% if list_data_coming_soon %}
		<div class="category-products metiz-movies">
			<ul class="products-grid products-grid--max-4-col">
			{% for item in list_data_coming_soon %}
				<li class="film-lists item last">
					<span class="nmovie-rating nmovie-rating-no">NO</span>
					
					<div class="product-images">
						<a href="{% url 'film_detail' item.id %}" title="{{item.name}}" class="product-image">
							<img src="{{MEDIA_URL}}{{item.poster}}" alt="{{item.name}}" />
						</a>
						
					</div>
					
					<div class="product-info">
						<h2 class="product-name"><a href="{% url 'film_detail' item.id %}" title="{{item.name}}">{{item.name}}</a></h2>
						<div class="cgv-movie-info">
							<span class="cgv-info-bold">Thể loại: </span>
							<span class="cgv-info-normal">{{item.genre.name}}</span>
						</div>
						<div class="cgv-movie-info">

							<span class="cgv-info-bold">{{item.time_running}} Phút | <span class="rated-{{item.rated.name}}">{{item.rated.name}}</span></span>
						</div>
						<div class="cgv-movie-info">
							<span class="cgv-info-bold">Khởi chiếu: </span>
							<span class="cgv-info-normal">{{item.release_date | date:"d-m-Y"}}</span>
						</div>
					</div>
					
					<div class="ribon position-1"></div>
					
					<ul class="add-to-links">
						<li>
							<!-- Button like and share facebook, data-href http://domain/filmdetail/id (unique) -->
							<!-- data-href: https://{{ request.get_host }}{% url 'film_detail' item.id %} -->
							<div class="fb-like" data-href="http://elearning.vooc.vn/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
						</li>
						
					</ul>
				</li>
			{% endfor %}
			</ul>
		</div>
	  	{% endif %}

	 </div>
</div>

{% endblock %}