{% extends "layout.html" %}

{% load i18n %}

{% block title %}Liên hệ{% endblock title %}

{% block extrastylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/contacts.css" media="all" />
{% endblock %}

{% block extrascript %}
<!-- Captcha use contact, payment, signup -->
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/contacts.js"></script>
{% endblock %}

{% block container_class %}col2-left-layout{% endblock %}

{% block body_class %}
contacts-index-index
{% endblock %}

{% block main_content %}
<div class="main">
	<div class="col-main">
		<div id="messages_product_view"></div>
		<div class="location-ho-metiz container">
			<div class="page-title title-contact-metiz">
				<h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
			</div>
		</div>
		<div class="contact-metiz">
			<div class="show-address-contact-metiz">
				<div class="theater-name">
					<h2>DỊCH VỤ KHÁCH HÀNG</h2>
				</div>
				<div class="address-contact-metiz-block">
					<div class="address-contact-metiz-block-content">
						<div class="address-contact-metiz">
							<div class="add-contact-metiz">
								<span>Hotline: </span>
								<a class="phone-number" href="tel:{{HOT_LINE|cut:' '}}">{{HOT_LINE}}</a>
								<p>Email: <a href="mailto:contact@metiz.vn">contact@metiz.vn</a></p>
							</div>
							<div class="contact-media-sale">
								<h3>LIÊN HỆ QUẢNG CÁO & HỢP TÁC</h3>
								<span>Số Điện Thoại: </span>
								<a class="phone-number" href="tel:{{HOT_LINE|cut:' '}}">{{HOT_LINE}}</a>
								<p>Email:&nbsp;<a href="mailto:contact@metiz.vn">contact@metiz.vn</a></p>
							</div>
						</div>
					</div>
				</div>
			</div><div class="content-form-contact-metiz">
			<div id="messages_product_view"></div>
			<form action="" id="contactForm" method="post" class="scaffold-form">
				<div class="fieldset">
					<h2 class="legend">Thông tin liên hệ</h2>
					<ul class="form-list">
						<div class="col-md-6">
							<li class="fields">
								<div class="field">
									<label for="name">Họ Tên</label>
									<div class="input-box">
										<input name="name" id="name" title="Họ Tên" value="" class="input-text required-entry form-control" type="text" placeholder="Nhập Họ Tên Ở Đây" />
									</div>
									{% if forms.name.errors %}
	                                    {{forms.name.errors}}
	                                {% endif %}
								</div>
							</li>
							<li>
								<div class="field">
									<label for="email">Email</label>
									<div class="input-box">
										<input name="email" id="email" title="Email" value="" class="input-text required-entry validate-email form-control" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" placeholder="Nhập Email Ở Đây" />
									</div>
									{% if forms.email.errors %}
	                                    {{forms.email.errors}}
	                                {% endif %}
								</div>
							</li>
							<li>
								<div class="field">
									<label for="phone">Số Điện Thoại</label>
									<div class="input-box">
										<input name="phone" id="phone" title="Số Điện thoại" value="" class="input-text form-control" type="text" placeholder="Nhập Số Điện Thoại Ở Đây" />
									</div>
									{% if forms.phone.errors %}
	                                    {{forms.phone.errors}}
	                                {% endif %}
								</div>
							</li>
						</div>
						<div class="col-md-6">
							<li class="wide">
								<label for="message">Nội Dung Cần Liên Hệ</label>
								<div class="input-box">
									<textarea name="message" id="message" title="Nội dung cần liên hệ" class="required-entry input-text form-control" cols="5" rows="5" placeholder="Nhập Nội Dung Ở Đây"></textarea>
								</div>
								{% if forms.message.errors %}
	                                {{forms.message.errors}}
	                            {% endif %}
							</li>
							<li class="">
								<label>Captcha</label>
								<div class="input-box">
									<div id="re-captcha" class="g-recaptcha" ></div>
								</div>
								<span class="captcha-error"></span>
							</li>
						</div>
					</ul>
				</div>
				{% csrf_token %}
				<div class="buttons-set">
					<button type="submit" title="Gửi đi" class="button"><span><span>Gửi đi</span></span></button>
				</div>
			</form>
		</div>
		<div class="location-bot-metiz">
			<div class="row">
				<div class="map_container col-md-12 col-xs-12">
					<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsxV0yOgZQjERTKQwTYD4R_0&key=AIzaSyAA-Ck93lFyP6N_jY2ZVcRaSO8qoffNQiE" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-left sidebar"></div>
</div>
{% endblock %}