{% extends "layout.html" %}

{% load i18n %}

{% block title %}Liên hệ{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/contacts.js"></script>
{% endblock %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/contacts.css" media="all" />
{% endblock %}

{% block container_class %}col2-left-layout{% endblock %}

{% block body_class %}
contacts-index-index
{% endblock %}

{% block main_content %}
<div class="main">
	<div class="col-main">
		<div id="messages_product_view"></div>
		<div class="location-ho-metiz container">
			<div class="page-title title-contact-metiz">
				<h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
			</div>
		</div>
		<div class="contact-metiz">
			<div class="show-address-contact-metiz">
				<div class="theater-name">
					<h2>DỊCH VỤ KHÁCH HÀNG</h2>
				</div>
				<div class="address-contact-metiz-block">
					<div class="address-contact-metiz-block-content">
						<div class="address-contact-metiz">
							<div class="add-contact-metiz">
								<p>Hotline: 1111 1111</p>
								<p>Email: <a href="#">contacts@vooc.vn</a></p>
							</div>
							<div class="contact-media-sale">
								<h3>LIÊN HỆ QUẢNG CÁO & HỢP TÁC</h3>
								<p>Hotline: 0981005390</p>
								<p>Email:&nbsp;<a href="#">contacts@vooc.vn</a></p>
							</div>
							<div class="contact-page-metiz-cinemas">
								<p>Tất cả các ngày bao gồm Lễ, Tết</p>
							</div>
						</div>
					</div>
				</div>
			</div><div class="content-form-contact-metiz">
			<div id="messages_product_view"></div>
			<form action="" id="contactForm" method="post" class="scaffold-form">
				<div class="fieldset">
					<h2 class="legend">Thông tin liên hệ</h2>
					<p class="required">* Phải nhập thông tin</p>
					<ul class="form-list">
						<div class="col-md-6">
							<li class="fields">
								<div class="field">
									<label for="name" class="required"><em>*</em>Tên</label>
									<div class="input-box">
										<input name="name" id="name" title="Tên" value="" class="input-text required-entry" type="text" />
									</div>
									{% if forms.name.errors %}
	                                    {{forms.name.errors}}
	                                {% endif %}
								</div>
							</li>
							<li>
								<div class="field">
									<label for="email" class="required"><em>*</em>Email</label>
									<div class="input-box">
										<input name="email" id="email" title="Email" value="" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
									</div>
									{% if forms.email.errors %}
	                                    {{forms.email.errors}}
	                                {% endif %}
								</div>
							</li>
							<li>
								<div class="field">
									<label for="phone" class="required"><em>*</em>Điện thoại</label>
									<div class="input-box">
										<input name="phone" id="phone" title="Điện thoại" value="" class="input-text" type="text" />
									</div>
									{% if forms.phone.errors %}
	                                    {{forms.phone.errors}}
	                                {% endif %}
								</div>
							</li>
						</div>
						<div class="col-md-6">
							<li>
								<div class="field">
									<label for="subject" class="required"><em>*</em>Chủ đề cần hỗ trợ</label>
									<div class="input-box">
										<input name="subject" id="subject" title="Chủ đề cần hỗ trợ" value="" class="input-text" type="text" />
									</div>
									{% if forms.subject.errors %}
	                                    {{forms.subject.errors}}
	                                {% endif %}
								</div>
							</li>
							<li class="wide">
								<label for="message">Nội dung cần liên hệ</label>
								<div class="input-box">
									<textarea name="message" id="message" title="Nội dung cần liên hệ" class="required-entry input-text" cols="5" rows="5"></textarea>
								</div>
								{% if forms.message.errors %}
	                                {{forms.message.errors}}
	                            {% endif %}
							</li>
						</div>
					</ul>
				</div>
				{% csrf_token %}
				<div class="buttons-set">
					<button type="submit" title="Gửi đi" class="button"><span><span>Gửi đi</span></span></button>
				</div>
			</form>
		</div>
		<div class="location-bot-metiz">
			<div class="row">
				<div class="map_container col-md-12 col-xs-12">
					<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsxV0yOgZQjERTKQwTYD4R_0&key=AIzaSyAA-Ck93lFyP6N_jY2ZVcRaSO8qoffNQiE" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-left sidebar"></div>
</div>
{% endblock %}