{% extends "layout.html" %}

{% load i18n %}

{% block title %}Liên hệ{% endblock title %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/contacts.css" media="all" />
{% endblock %}

{% block container_class %}col2-left-layout{% endblock %}

{% block body_class %}
contacts-index-index
{% endblock %}

{% block main_content %}
<div class="main">
	<div class="col-main">
		<div id="messages_product_view"></div>
		<div class="location-ho-cgv">
			<div class="page-title title-contact-cgv">
				<h1>Liên hệ với chúng tôi</h1>
			</div>
			<div class="map_container">
				<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJsxV0yOgZQjERTKQwTYD4R_0&key=AIzaSyAA-Ck93lFyP6N_jY2ZVcRaSO8qoffNQiE" allowfullscreen></iframe>
			</div>
		</div>
		<div class="contact-cgv">
			<div class="show-address-contact-cgv">
				<div class="theater-name">
					<h2>TRỤ SỞ CHÍNH</h2>
				</div>
				<div class="address-contact-cgv-block">
					<div class="address-contact-cgv-block-content">
						<div class="address-contact-cgv">
							<div class="add-contact-cgv">
								<p>Tòa nhà Helio, đường 2 tháng 9, Thành phố Đà Nẵng.</p>
								<p class="contact-customer-service">DỊCH VỤ KHÁCH HÀNG</p>
								<p>Hotline: 1111 1111</p>
								<p>Giờ làm việc: 8:00 - 22:00</p>
								<p>Tất cả các ngày bao gồm cả Lễ Tết</p>
								<p>Email hỗ trợ: <a href="#">contacts@vooc.vn</a></p>
							</div>
							<div class="contact-media-sale">
								<h3>LIÊN HỆ QUẢNG CÁO</h3>
								<p>Phòng kinh doanh:&nbsp;+84-28-3822 0333</p>
								<p>Ext: 278 (Ms.An)&nbsp;</p>
								<p>Hotline: 0981005390</p>
								<p>Email:&nbsp;<a href="#">contacts@vooc.vn</a></p>
							</div>
							<div class="contact-page-cgv-cinemas">
								<h3>LIÊN HỆ HỢP TÁC & TÀI TRỢ</h3>
								<p>Phòng truyền thông:&nbsp;+84-28-3822 0333</p>
								<p>Ext: 119 (Ms. Lâm)</p>
								<p>Email: <a href="#">contacts@vooc.vn</a></p>
							</div>
							<div class="contact-page-cgv-cinemas">
								<h3>VỀ CÁC RẠP METIZ</h3>
								<p>Chi tiết về các rạp Metiz (địa chỉ, giá vé), vui lòng nhấn vào  <a href="#">đây.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div><div class="content-form-contact-cgv">
			<div id="messages_product_view"></div>
			<form action="#" id="contactForm" method="post" class="scaffold-form">
				<div class="fieldset">
					<h2 class="legend">Thông tin liên hệ</h2>
					<p class="required">* Phải nhập thông tin</p>
					<ul class="form-list">
						<li class="fields">
							<div class="field">
								<label for="name" class="required"><em>*</em>Tên</label>
								<div class="input-box">
									<input name="name" id="name" title="Tên" value="" class="input-text required-entry" type="text" />
								</div>
							</div>
							<div class="field">
								<label for="email" class="required"><em>*</em>Email</label>
								<div class="input-box">
									<input name="email" id="email" title="Email" value="" class="input-text required-entry validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" />
								</div>
							</div>
						</li>
						<li>
							<label for="telephone">Điện thoại</label>
							<div class="input-box">
								<input name="telephone" id="telephone" title="Điện thoại" value="" class="input-text" type="tel" />
							</div>
						</li>
						<li class="wide">
							<label for="comment" class="required"><em>*</em>Nội dung cần liên hệ</label>
							<div class="input-box">
								<textarea name="comment" id="comment" title="Nội dung cần liên hệ" class="required-entry input-text" cols="5" rows="3"></textarea>
							</div>
						</li>
					</ul>
				</div>
				<div class="buttons-set">
					<input type="text" name="hideit" id="hideit" value="" />
					<button type="submit" title="Gửi đi" class="button"><span><span>Gửi đi</span></span></button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-left sidebar"></div>
</div>
{% endblock %}