{% extends "layout.html" %}
{% load i18n %}
{% load modal_data_tags %}
{% block title %}{{film_detail.name}}{% endblock title %}

{% block metacontent %}
	<!-- Start FB share properties  -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{film_detail.name}}" />
	<meta property="og:description" content="" />
	<!-- End FB share properties  -->
{% endblock %}

{% block extrastylesheet %}
<!-- film detail -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/star-rating.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/zoom/xzoom.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/film.css" media="all" />
{% endblock %}

{% block extrascript %}
<!-- film detail -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/star-rating.min.js"></script>
	<!--Documents: https://github.com/payalord/xZoom/blob/master/doc/manual.md-->
	<script type="text/javascript" src="{{ STATIC_URL }}assets/js/zoom/setup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/zoom/xzoom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/film_detail.js"></script>
{% endblock %}

{% block body_class %}
 	catalog-product-view catalog-product-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout{% endblock%}
{% block main_content%}

<div class="main">
	<div class="col-main">
		<div id="messages_product_view">
		</div>
		<div class="product-view custom-fiml-detail">
			<div class="product-essential">
				<div class="product-name-reponsive">
					<div class="col-left"><h1>{{film_detail.name}}</h1></div>
					{% verify_showtime_by_id 1 film_detail.movie_api_id as is_book_able %}
					{% if is_book_able %}
						<div class="col-right">
							<button href="#modal-popup" type="button" title="Đặt vé" class="button open-popup-link popup-movie-schedule" data-movie-api-id="{{ film_detail.movie_api_id }}">Đặt vé</button>
						</div>
					{% endif %}
				</div>
				
				<div class="product-img-box">
					<div class="product-image product-image-zoom">
						<div class="xzoom-container">

				          <img class="xzoom" id="xzoom-default" src="{{MEDIA_URL}}{{film_detail.poster}}" xoriginal="{{MEDIA_URL}}{{film_detail.poster}}" />
				          
				        </div>    
					</div>
					<div class="responsive-fb">
						<div class="add-to-cart-wrapper ">
							<div class="fb-like fb_iframe_widget" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
		                    </div>		
						</div>
					</div>
				</div>
				
				<div class="product-shop">
					<div class="product-name">
						<div class="col-md-10"><span class="h1">{{film_detail.name}}</span></div>
						{% if is_book_able %}
							<div class="col-md-2">
								<button href="#modal-popup" type="button" title="Đặt vé" class="button open-popup-link popup-movie-schedule" data-movie-api-id="{{ film_detail.movie_api_id }}">Đặt vé</button>
							</div>
						{% endif %}
					</div>
					
					<!-- Build test -->
					<div class="movie-director movie-info">
						<label>Đạo diễn: </label>
						<div class="std">{{film_detail.director}}</div>
					</div>
					<div class="movie-actress movie-info">
						<label>Diễn viên:</label>
						<div class="std">{{film_detail.cast}}
						</div>
					</div>
					<div class="movie-genre movie-info">
						<label>Thể loại: </label>
						<div class="std">
						{% for item in film_detail.genre.all%}
							<span>{% if forloop.last %}{{ item }}{% else %}{{ item }},{% endif %}</span>
						{% endfor %}
						</div>
					</div>
					<div class="movie-release movie-info">
						<label>Khởi chiếu: </label>
						<div class="std">{{film_detail.release_date | date:"d-m-Y"}}</div>
					</div>
					<div class="movie-actress movie-info">
						<label>Thời lượng: </label>
						<div class="std">{{film_detail.time_running}} phút</div>
					</div>
					<div class="movie-language movie-info">
						<label>Ngôn ngữ: </label>
						<div class="std">{{film_detail.language}}</div>
					</div>
					<div class="movie-rating movie-rated-web">
						<label>Rated: </label>
						<div class="std"><span class="rated-{{film_detail.rated.name}}">{{ film_detail.rated.name }}</span> - {{ film_detail.rated.description | safe }}</div>
					</div> 
					<div class="movie-technology-icons">
						<a href="javascript:void(0)" class="movie-detail-icon-type" title="{{film_detail.movie_type.name}}">
							<span class="movie-detail-type-{{film_detail.movie_type.name}}">{{film_detail.movie_type.name}}</span>
						</a>
					</div>
				</div>
				<div class="movie-detail-fb-booking">
					<div class="add-to-cart-wrapper ">
						<!-- Button like and share facebook, data-href: http://domain/film/detail/id -->
						<!-- data-href= {{ request.build_absolute_uri }} -->
						<div class="fb-like fb_iframe_widget" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
	                    </div>		
					</div>
				</div>
					
				<div class="clearer"></div>
			</div>
			<div class="product-collateral tabs-format-metiz">
				<ul class="nav nav-tabs metiz-film-detail-tabs">
					<li class="active">
						<span href="#film-detail-tab-1" data-toggle="tab">Chi tiết</span>
					</li>
					<li>
						<span href="#film-detail-tab-2" data-toggle="tab">Trailer</span>
					</li>
					<li class="last">
						<span href="#film-detail-tab-3" data-toggle="tab">Đánh giá</span>
					</li>
				</ul>
				<div class="tab-content">
					<div id="film-detail-tab-1" class="tab-pane fade in active">
						{{ film_detail.description | safe}}
					</div>
					<div id="film-detail-tab-2" class="tab-pane fade ">
						<div class="product_view_trailer text-center" id="trailer-film-detail" data-youtube="{{film_detail.trailer}}"> 
						</div>
					</div>
					<div id="film-detail-tab-3" class="tab-pane fade ">
					{% if comments %}
						<div class="container">	
						{% if rating__avg %}
							<div class="row">
								<div class="col-sm-5 rating-custom">
									<div class="rating-block text-center">
										<h4>Đánh Giá Trung Bình</h4>
										
										<h2 class="bold padding-bottom-7 rating-num">{{ rating__avg.rating|floatdot:1 }}<small>/ 5</small></h2>
										
										<input class="rating rating-loading" value="{{ rating__avg.rating|floatdot:1 }}" data-min="0" data-max="5" data-step="0,5" data-size="xs" data-readonly="true">
									</div>
								</div>
								<div class="col-md-4 col-sm-7">
									{% if total_count %}
						            <div class="row rating-desc">
						                <div class="col-xs-3 col-md-3 text-right">
						                    5 <span class="glyphicon glyphicon-star"></span>
						                </div>
						                <div class="col-xs-8 col-md-9">
						                    <div class="progress progress-striped">
						                    	<!-- style width is data from db -->
						                    	
						                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
						                            aria-valuemin="0" aria-valuemax="100" style="width: {{ rating_percent.5 }}%"> 
						                            <span class="sr-only percent{{ rating_percent.5 }}">{{ rating_percent.5 }}%</span>
						                        </div>
						                        
						                    </div>
						                </div>
						                <div class="col-xs-3 col-md-3 text-right">
						                    4 <span class="glyphicon glyphicon-star"></span>
						                </div>
						                <div class="col-xs-8 col-md-9">
						                    <div class="progress">
						                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
						                            aria-valuemin="0" aria-valuemax="100" style="width: {{ rating_percent.4 }}%">
						                            <span class="sr-only percent{{ rating_percent.4 }}">{{ rating_percent.4 }}%</span>
						                        </div>
						                    </div>
						                </div>
						                <div class="col-xs-3 col-md-3 text-right">
						                    3 <span class="glyphicon glyphicon-star"></span>
						                </div>
						                <div class="col-xs-8 col-md-9">
						                    <div class="progress">
						                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
						                            aria-valuemin="0" aria-valuemax="100" style="width: {{ rating_percent.3 }}%">
						                            <span class="sr-only percent{{ rating_percent.3 }}">{{ rating_percent.3 }}%</span>
						                        </div>
						                    </div>
						                </div>
						                <div class="col-xs-3 col-md-3 text-right">
						                    2 <span class="glyphicon glyphicon-star"></span>
						                </div>
						                <div class="col-xs-8 col-md-9">
						                    <div class="progress">
						                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
						                            aria-valuemin="0" aria-valuemax="100" style="width: {{ rating_percent.2 }}%">
						                            <span class="sr-only percent{{ rating_percent.2 }}">{{ rating_percent.2 }}%</span>
						                        </div>
						                    </div>
						                </div>
						                <div class="col-xs-3 col-md-3 text-right">
						                    1 <span class="glyphicon glyphicon-star"></span>
						                </div>
						                <div class="col-xs-8 col-md-9">
						                    <div class="progress">
						                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
						                            aria-valuemin="0" aria-valuemax="100" style="width: {{ rating_percent.1 }}%">
						                            <span class="sr-only percent{{rating_percent.1}}">{{ rating_percent.1 }}%</span>
						                        </div>
						                    </div>
						                </div>
						            </div>
						            {% endif %}
						        </div>			
							</div>	
								
							{% endif %}
							<div class="row">
								<div class="col-sm-9 review-custom">
									<div class="review-block">
									{% for item in comments %}
										<div class="row">
											<div class="col-xs-4 col-sm-3 review-info">
												{% if item.avatar %}
													<img src="{{MEDIA_URL}}{{item.avatar}}" class="img-rounded">
												{% else %}
													<img src="{{ STATIC_URL }}assets/websites/images/profile-icon.png" alt="user" class="img-rounded" />
												{%endif %}
												<div class="review-block-name"><a href="#">{{item.full_name}}</a></div>
												<div class="review-block-date">{{item.date_post | date:'d-m-Y'}}<br/>{{ item.date_post | timesince }} trước</div>
											</div>
											<div class="col-xs-8 col-sm-9">
												<div class="review-block-rate">
													<input class="rating rating-loading" value="{{item.rating}}" data-min="0" data-max="5" data-step="0.5" data-size="xs" data-readonly="true">
												</div>
												<div class="review-block-description">{{ item.review | safe }}</div>
											</div>
										</div>
										<hr>
									{% endfor %}
									</div>
								</div>
							</div>
						</div> <!-- /container -->
					{% endif%}
					</div>
				</div>
			</div>
			{% if is_book_able %}
				<div class="text-center booking-ticket-bot">
					<button href="#modal-popup" type="button" title="Đặt vé" class="button open-popup-link popup-movie-schedule" data-movie-api-id="{{ film_detail.movie_api_id }}">Đặt vé</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock%}