{% extends 'layout.html' %}
{% load i18n %}
{% block title %}Gold class{% endblock title %}
{% block extrascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.min.js"></script>
{% endblock %}
{% block body_class %}
	theaters-special-view
{% endblock %}
{% block container_class%}col1-layout {% endblock%}
{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="gold-class">
				<strong>Gold Class</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		<div class="col-main">
			<div id="specialtheater-list" class="specialtheater-list">
				<ul class="special-items">
					{% for item in data.technology %}
						<li class="item-icon {{item.class}} {{item.flag}}">
							<a title="Sweetbox" href="/special/{{item.name}}">{{item.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="specialtheater-content specialtheater-gold-class">
				<div class="page-title special-title">
					<h1>Gold Class</h1>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="recent-cgv-special">
									<h3>Lấy cảm hứng từ ghế ngồi hạng thương gia trên máy bay, phòng chiếu GOLD CLASS ra đời mang đến một không gian xem phim sang trọng và đẳng cấp cho các tín đồ điện ảnh. GOLD CLASS còn là lựa chọn hoàn hảo cho các sự kiện đặc biệt để tạo nên những kỷ niệm tuyệt vời, khó quên.</h3>
									<p>Cùng trải nghiệm phòng chiếu GOLD CLASS tại các rạp:</p>
									<ul class="site-list">
										{% for item in data.address%}
										<li><a href="{{item.href}}">{{item.name}}</a></li>
									{% endfor%}	
									</ul>
									<p></p>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container-dx" style="clear: both;">
										<ul class="slideshow-dx" style="position: relative; overflow: hidden;">
										<!-- <li class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
											<div class="image-cinema-imax" style="visibility: hidden;"><img alt="" src="https://www.cgv.vn/media/imax/goldclass-2.png" "="" style="visibility: hidden;"></div>
											<div class="text-content-imax" style="visibility: hidden;">
												<h2 style="visibility: hidden;">Màn Hình Tráng Bạc</h2>
												<p style="visibility: hidden;">Hình ảnh trung thực và sắc nét với màn hình tráng bạc độc đáo</p>
											</div>
										</li> -->
										{% for item in data.slide%}
										<li class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 1; display: block; visibility: hidden;">
											<div class="image-cinema-imax"><img alt="" src="{{STATIC_URL}}{{item.img}}" "=""></div>
											<div class="text-content-imax">
												{{item.content| safe}}
											</div>
										</li>
										{% endfor %}
									</ul>
								<span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
							</div>
						</div>
					</div>
				</div>
				<!-- end cinema imax -->
				<script type="text/javascript">// <![CDATA[
				$j(document).ready(function () {
					$j('.slideshow-container-dx .slideshow-dx')
						.cycle({
							slides: '> li',
								speed: 600,
								pauseOnHover: true,
								swipe: true,
							prev: '.slideshow-prev',
							next: '.slideshow-next',
						fx: 'scrollHorz'
					});
					});
				// ]]></script>
			</div>
		</div>
	</div>
					<style>
					.home-title{
						display:none;
					}
					.site-list{width:100%;}
					.site-list li a{color:#000}
					.site-list li a  span{color:#e71a0f}
					</style>

					<script type="text/javascript">
						//<![CDATA[
						$j(document).ready(function(){
							var highest = 0;
							var hi = 0;
							$j('.product-info').each(function(){
							var h = $j(this).height();
							if(h > hi){
									hi = h;
									highest = h;
								}
							});
							if ($j(window).width()>320){
								$j('.product-info').css('height',highest+10+'px');
							}
							else{
								$j('.products-grid .product-info').css('padding-bottom','0');
							}
							$j('li.category3').find('a').contents().unwrap();
						});
						$j(window).on('resize', function() {
							var highest2 = 0;
							var hi = 0;
							$j('.product-info').each(function(){
							var h = $j(this).height();
							if(h > hi){
									hi = h;
									highest2 = h;
								}
							});
							if ($j(window).width()>320){
								$j('.product-info').css('height',highest2+10+'px');
							}
							else{
								$j('.products-grid .product-info').css('padding-bottom','0');
							}
							$j('li.category3').find('a').contents().unwrap();
						});
					//]]>
					</script>   
				</div>
			</div>
{% endblock %}