{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Gold class{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="gold-class">
				<strong>Gold Class</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		{% include 'technology_menu.html' %}
			<div class="specialtheater-content specialtheater-gold-class">
				<div class="page-title special-title">
					<h1>Gold Class</h1>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="recent-cgv-special">
									<h3>Lấy cảm hứng từ ghế ngồi hạng thương gia trên máy bay, phòng chiếu GOLD CLASS ra đời mang đến một không gian xem phim sang trọng và đẳng cấp cho các tín đồ điện ảnh. GOLD CLASS còn là lựa chọn hoàn hảo cho các sự kiện đặc biệt để tạo nên những kỷ niệm tuyệt vời, khó quên.</h3>
									<p>Cùng trải nghiệm phòng chiếu GOLD CLASS tại các rạp:</p>
									<ul class="site-list">
										{% for item in data.address%}
										<li><a href="{{item.href}}">{{item.name}}</a></li>
									{% endfor%}	
									</ul>
									<p></p>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container">
							            <div id="jssor_1" >
							                <div data-u="slides" class="jssor_1_slides">
							                {% for item in data.slide  %}  
							                    <div>
							                        <img data-u="image" src="{{ STATIC_URL }}{{item.img}}" />
							                        <img data-u="thumb" src="{{ STATIC_URL }}{{item.img}}" />
							                    </div>
							                {% endfor %}
							                </div>
							                {% include 'arrow_slide.html' %}
							            </div>
							        </div>
								</div>
							</div>
						</div>
					<!-- end cinema imax -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}