{% extends "layout.html" %}
{% load i18n %} 


{% block title %}Helio{% endblock title %}

{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.swipe.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/slideshow.js"></script>
{% endblock %}


{% block main_content %}
<div class="main">
    <div class="col-main">
        <div class="std">
            <p>
                <div class="widget widget-static-block">
                    <div class="sect-person">
                        <ul>
                            
                            <li><a class="theater" href="#">cgv theater</a></li>
                            <li><a class="now-sh" href="#">now showing</a></li>
                            <li><a class="special" href="#">cgv special</a></li>
                            <li><a class="event" href="#">cgv art house</a></li>
                            <li><a class="ticket required-login" href="#">my ticket info</a></li>
                            <li><a class="dc" href="#">discount info</a></li>
                            <li><a class="login-header" href="#">create account quick</a></li>
                        </ul>
                    </div>
                </div>
            </p>
        </div>
        <div class="slideshow-container">
            <ul id="home_big_banner" class="slideshow">
                {% for item in data.banner  %}           
                <li>
                    <a href="#">
                        <img src="{{ STATIC_URL }}{{item}}" alt="">
                    </a>
                </li>
                {% endfor %}
                
            </ul>
            <div class="slideshow-pager home_big_banner_pager">&nbsp;</div>
            <span class="slideshow-prev home_big_banner_prev">&nbsp;</span>
            <span class="slideshow-next home_big_banner_next">&nbsp;</span>
        </div>
        <div class="home-movie-selection">
            <div class="home-title">
                <h2>movie selection</h2>
            </div>
            <div class="slideshow-containe-movier feature_slide_show_480_767">
                <ul class="feature_slide_show">
                    {% for item in data.movie %}           
                    <li class="poster-film film-lists item" style="">
                        <span class="nmovie-rating nmovie-rating-c18">C18</span>
                        <img class="product-img" src="{{ STATIC_URL }}{{item}}" alt="Barry Seal: Lách Luật Kiểu Mỹ" />
                        <input type="hidden" value="movie-trailer-285">
                        <div class="feature_film_content">
                            <h3>Barry Seal: Lách Luật Kiểu Mỹ</h3>
                            <a title="Xem chi tiết" class="button" href="#">Xem chi tiết</a>
                            <button type="button" title="Mua vé" class="button btn-booking" onclick="Quickbooking('17008100');"><span><span>Mua vé</span></span>
                            </button>
                        </div>
                        <div class="play-button">
                            <span><span>Play</span></span>
                            <div style="display:none">
                                <span class='movie-trailer'>//www.youtube.com/embed/PALCTTuWkSc?rel=0&showinfo=0&autoplay=1</span>
                            </div>
                        </div>
                                <!--div class="product-info">
                                                <ul class="configurable-swatch-list configurable-swatch-color clearfix">
                                                    </ul>
                                                </div-->
                                            </li>
                                            {% endfor %}
                                            
                                        </ul>
                                        <span class="feature_slide_show_prev"><<</span>
                                        <span class="feature_slide_show_next">>></span>
                                    </div>
                                </div>
                                
                                <script type="text/javascript">
                                    $j(window).bind("load", function() {
                                        var width = $j(window).width();
                                        if (width >= 979) {
                                            reinitCycle(4);
                                        } else if (width >= 770) {
                                            reinitCycle(3);
                                        } else if (width >= 479) {
                                            reinitCycle(2);
                                        } else {
                                            reinitCycle(1);
                                        }

                                        $j(".play-button").click(function() {
                                            var trailer = $j(this).find('span.movie-trailer');
                        // $j.colorbox({html:trailer.html()});
                        $j.colorbox({ iframe: true, innerWidth: 640, innerHeight: 390, href: trailer.html() });
                    });
                                    });

                                    $j(window).on('resize', function() {
                                        var width = $j(window).width();
                                        $j('.feature_slide_show').cycle('destroy');
                                        if (width >= 979) {
                                            reinitCycle(4);
                                        } else if (width >= 770) {
                                            reinitCycle(3);
                                        } else if (width >= 479) {
                                            reinitCycle(2);
                                        } else {
                                            reinitCycle(1);
                                        }
                                    });

                                    function reinitCycle(visibleSlides) {
                                        try {
                                            $j('.feature_slide_show').cycle({
                                                "carouselSlideDimension": "240px",
                                                "carouselVisible": visibleSlides,
                                                "fx": "carousel",
                                                "timeout": 0,
                                                "next": ".feature_slide_show_next",
                                                "prev": ".feature_slide_show_prev",
                                                "slideActiveClass": "active",
                                                "slides": "li",
                                                "allowWrap": false,
                                            });
                                        } catch (err) {
                                            console.log(err.message);
                                        }
                                    }
                                </script>

                                <div class="product-collateral toggle-content tabs home-event">
                                    <div class="home-title">
                                        <h2>event</h2>
                                    </div>
                                    <dl id="collateral-tabs" class="collateral-tabs">
                                        <dt class="tab"><span>Tin Mới & Ưu Đãi</span></dt>
                                        <dd class="tab-container">
                                            <div class="tab-content">
                                                <div class="home-show-event">
                                                    <ul class="slide_home_event tinmiui">
                                                        {% for item in data.event %}   
                                                        <li >
                                                            <a href="#">
                                                                <img src="{{ STATIC_URL }}{{item}}" />
                                                            </a>
                                                        </li>
                                                        {% endfor %}
                                                        
                                                    </ul>
                                                    <span class="slide_home_event_prev tinmiui_prev"><<</span>
                                                    <span class="slide_home_event_next tinmiui_next">>></span>
                                                </div>
                                            </div>
                                        </dd>
                                        <dt class="tab"><span>Thành Viên CGV</span></dt>
                                        <dd class="tab-container">
                                            <div class="tab-content">
                                                <div class="home-show-event">
                                                    <ul class="slide_home_event thnhvincgv">
                                                        {% for item in data.tv_cgv %}
                                                        <li>
                                                            <a href="#">
                                                                <img src="{{ STATIC_URL }}{{item}} " />
                                                            </a>
                                                        </li>
                                                        {% endfor%}
                                                    </ul>
                                                    <span class="slide_home_event_prev thnhvincgv_prev"><<</span>
                                                    <span class="slide_home_event_next thnhvincgv_next">>></span>
                                                </div>
                                            </div>
                                        </dd>
                                        <script type="text/javascript">
                                            $j(window).bind("load", function() {
                                                var width = $j(window).width();
                                                if (width >= 979) {
                                                    reinitCycle2(4);
                                                } else if (width >= 770) {
                                                    reinitCycle2(3);
                                                } else if (width >= 479) {
                                                    reinitCycle2(2);
                                                } else {
                                                    reinitCycle2(1);
                                                }
                                            });

                                            $j(window).on('resize', function() {
                                                var width = $j(window).width();
                                                if (width >= 979) {
                                                    reinitCycle2(4);
                                                } else if (width >= 770) {
                                                    reinitCycle2(3);
                                                } else if (width >= 479) {
                                                    reinitCycle2(2);
                                                } else {
                                                    reinitCycle2(1);
                                                }
                                            });

                                            function reinitCycle2(visibleSlides) {
                                                try {
                                                    $j('.tinmiui').cycle('destroy');
                                                    $j('.tinmiui').cycle({
                                                        "carouselSlideDimension": "240px",
                                                        "carouselVisible": visibleSlides,
                                                        "fx": "carousel",
                                                        "timeout": 0,
                                                        "next": ".tinmiui_next",
                                                        "prev": ".tinmiui_prev",
                                                        "slideActiveClass": "active",
                                                        "slides": "li",
                                                        "allowWrap": false,
                                                    });
                                                    $j('.thnhvincgv').cycle('destroy');
                                                    $j('.thnhvincgv').cycle({
                                                        "carouselSlideDimension": "240px",
                                                        "carouselVisible": visibleSlides,
                                                        "fx": "carousel",
                                                        "timeout": 0,
                                                        "next": ".thnhvincgv_next",
                                                        "prev": ".thnhvincgv_prev",
                                                        "slideActiveClass": "active",
                                                        "slides": "li",
                                                        "allowWrap": false,
                                                    });
                                                } catch (err) {
                                                    console.log(err.message);
                                                }
                                            }
                                        </script>
                                    </dl>
                                </div>
                                <div class="home-promotion-card">
                                    <ul class="promos">
                                        <li class="col-ad">
                                            <div class="format-border"><a href="#"><img alt="" src="{{ STATIC_URL }}assets/websites/images/214x245.jpg" /></a></div>
                                        </li>
                                        <li class="col-hd">
                                            <div class="format-border"><a href="#"><img alt="" src="{{ STATIC_URL }}assets/websites/images/phototicket---496x247_1.jpg" /></a></div>
                                        </li>
                                        <li class="col-ad">
                                            <div class="format-border"><a href="#"><img alt="" src="{{ STATIC_URL }}assets/websites/images/cgv_hotnumber_w_214_x_h_245_px.png" /></a></div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endblock %}