{% extends "layout.html" %}
{% load i18n %} 

{% block title %}Metiz Cinema{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/home.js"></script> 
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/home.css" media="all" />
{% endblock %}

{% block container_class %}col1-layout {% endblock %}
{%block body_class %}cms-index-index cms-home{% endblock %}
{% block main_content %}
<div class="container-fluid">
    <div class="container slide-home-custom">
        <div class="slideshow-container">
            <!-- Arrow Navigator -->
            <div id="jssor_1" >
                <div data-u="slides" class="jssor_1_slides">
                {% for item in data_slide  %}  
                    <div>
                        <a href="{{item.sub_url}}"><img data-u="image" src="{{ MEDIA_URL }}{{item.image}}" /></a>
                        <img data-u="thumb" src="{{ MEDIA_URL }}{{item.image}}" />
                    </div>
                {% endfor %}
                </div>
                {% include 'arrow_slide.html' %}
            </div>
        </div>
        {% if position_1 %}
        <div class="std">
            <p>
                <div class="widget widget-static-block">
                    <div class="sect-person">
                        <a href="{{ position_1.sub_url }}"><img src="{{MEDIA_URL}}{{ position_1.image }}"/></a>
                    </div>
                </div>
            </p>
        </div>
        {% endif %}
    </div>
</div>
<div class="container-fluid session-movie">
    <div class="container">
        <div class="home-movie-selection product-collateral home-event tabs-format-metiz">
            <ul class="nav nav-tabs metiz-movie-tabs">
                <li class="active">
                    <span href="#movie-tab-1" data-toggle="tab">PHIM ĐANG CHIẾU</span>
                </li>
                <li class="last">
                    <span href="#movie-tab-2" data-toggle="tab">PHIM SẮP CHIẾU</span>
                </li>
            </ul>
            <dl class="collateral-tabs tab-movie">
                <div class="tab-content tabcontent">
                    <div id="movie-tab-1" class="tab-pane fade in active slideshow-containe-movier">
                        <ul class="feature_slide_show owl-carousel">
                            {% for item in list_showing %}
                                <li class="poster-film film-lists item">
                                    <img class="product-img" src="{{ MEDIA_URL }}{{item.poster}}" alt="{{item.name}}" />
                                    <div class="info-movie-home">
                                        <h3>{{item.name}}</h3>
                                        <h4>{{item.time_running}} Phút | <span class="rated-{{item.rated.name}}">{{item.rated.name}}</span></h4>
                                        <h4>KHỞI CHIẾU {{item.release_date | date:"d-m-Y"}}</h4>
                                    </div>
                                    <div class="detail-pay-film">
                                    <input type="hidden" value="{{ item.movie_api_id }}">
                                        <a title="Xem chi tiết" class="button" href="{% url 'film_detail' item.id %}">Chi tiết</a>
                                        <button type="button" title="Đặt vé" class="button">Đặt vé</button>
                                    </div>
                                    <div class="{% if item.trailer %} play-button {% else %} play-trailer-empty {% endif %}">
                                        <span><span>Play</span></span>
                                        <div class="link-play">
                                            <a class="popup-youtube" href="//{{item.trailer}}">Open YouTube video</a><br>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="movie-tab-2" class="tab-pane fade slideshow-containe-movier ">
                        <ul class="feature_slide_show owl-carousel style2">
                            {% for item in list_coming_soon %}           
                                <li class="poster-film film-lists item">
                                    <img class="product-img" src="{{ MEDIA_URL }}{{item.poster}}" alt="{{item.name}}" />
                                    <div class="info-movie-home">
                                        <h3>{{item.name}}</h3>
                                        <h4>{{item.time_running}} Phút | <span class="rated-{{item.rated.name}}">{{item.rated.name}}</span></h4>
                                        <h4>KHỞI CHIẾU {{item.release_date | date:"d-m-Y"}}</h4>
                                    </div>
                                    <div class="detail-pay-film">
                                        <a title="Xem chi tiết" class="button" href="{% url 'film_detail' item.id %}">Chi tiết</a>
                                        <button type="button" title="Đặt vé" class="button">Đặt vé</button>
                                    </div>
                                    <div class="{% if item.trailer %} play-button {% else %} play-trailer-empty {% endif %}">
                                            <span><span>Play</span></span>
                                            <div class="link-play">
                                                <a class="popup-youtube" href="//{{item.trailer}}">Open YouTube video</a><br>
                                            </div>
                                        </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </dl>  
        </div>
    </div>
</div>    
<div id="news">
    <div class="container">
        <h1 class="text-center">KHUYẾN MÃI & ƯU ĐÃI</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <div id="box">
                    <h2 id="title-box">{{ new_offer.name| safe }}</h2>
                    {{ new_offer.content| safe }}
                </div>
            </div>
            {% for item in top_news %}
                <div class="new-img col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <img class="" src="{{MEDIA_URL}}{{item.image}}" alt="{{item.name}}">
                    <a class="bg_hover" href="{% url 'new_detail' item.id %}"></a>
                </div>
                    {% if forloop.counter|add:"-2"|divisibleby:"4" %}
                        </div><div class="row">
                    {% endif %}
            {% endfor %}
            <div id="show_more" class="new-img col-lg-3 col-sm-3 col-xs-6">
                <img id="more"  src="{{STATIC_URL}}/assets/websites/images/news/more.png" alt="">
                <a href="{% url 'news'%}"><img id="more_hover" src="{{STATIC_URL}}/assets/websites/images/news/more_hover.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div id="ads-facebook">
    <div class="container">
    {% if position_2 %}
        <a href="{{ position_2.sub_url }}">
            <img class="col-xs-12" id="banner-home" src="{{ MEDIA_URL }}{{ position_2.image }}" alt="{{ position_2.sub_url}}">
        </a>
    {% endif %}
    </div>
</div>
{% endblock %}
