{% extends "layout.html" %}
{% load i18n %} 


{% block title %}Helio{% endblock title %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/home.js"></script> 
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/home.css" media="all" />
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/websites/css/madisonisland.css" media="all" />
{% endblock %}

{% block container_class %}col1-layout {% endblock %}
{%block body_class %}cms-index-index cms-home{% endblock %}
{% block main_content %}
<div class="main">
    <div class="col-main">
        <div class="slideshow-container">
            <!-- Arrow Navigator -->
            <div id="jssor_1" >
                <div data-u="slides" class="jssor_1_slides">
                {% for item in data_slide  %}  
                    <div>
                        <img data-u="image" src="{{ MEDIA_URL }}{{item.image}}" />
                        <img data-u="thumb" src="{{ MEDIA_URL }}{{item.image}}" />
                    </div>
                {% endfor %}
                </div>
                {% include 'arrow_slide.html' %}
            </div>
        </div>
        {% if position_1 %}
        {% for item in position_1 %}
        <div class="std">
            <p>
                <div class="widget widget-static-block">
                    <div class="sect-person">
                        <a href="{{ item.sub_url }}"><img src="{{MEDIA_URL}}{{ item.image }}"/></a>
                    </div>
                </div>
            </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container-fluid session-movie">
    <div class="container">
        <div class="home-movie-selection product-collateral home-event tabs-format-metiz">
            <ul class="nav nav-tabs metiz-movie-tabs">
                <li class="active">
                    <span href="#movie-tab-1" data-toggle="tab">PHIM ĐANG CHIẾU</span>
                </li>
                <li class="last">
                    <span href="#movie-tab-2" data-toggle="tab">PHIM SẮP CHIẾU</span>
                </li>
            </ul>
            <dl id="collateral-tabs-movie" class="collateral-tabs tab-movie">
                <div class="tab-content tabcontent" id="pdc">

                    <div id="movie-tab-1" class="tab-pane fade in active slideshow-containe-movier">
                        <ul class="feature_slide_show content-slider">
                            {% for item in movie_showing %}
                                <li class="poster-film film-lists item">
                                    <img class="product-img" src="{{ MEDIA_URL }}{{item.poster}}" alt="{{item.name}}" />
                                    <input type="hidden" value="movie-trailer-285">
                                    <div class="info-movie-home">
                                        <h3>{{item.name}}</h3>
                                        <h4>{{item.time_running}} Phút | <span class="{{item.rated.name}}">{{item.rated.name}}</span></h4>
                                        <h4>KHỞI CHIẾU {{item.release_date | date:"d-m-Y"}}</h4>
                                    </div>
                                    <div class="detail-pay-film">
                                        <a title="Xem chi tiết" class="button" href="{% url 'film_detail' item.id %}">Chi tiết</a>
                                        <button type="button" title="Đặt vé" class="button">Đặt vé</button>
                                    </div>
                                    <div class="play-button">
                                        <span><span>Play</span></span>
                                        <div class="link-play">
                                            <a class="popup-youtube" href="{{item.trailer}}">Open YouTube video</a><br>
                                        </div>
                                    </div>   
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div id="movie-tab-2" class="tab-pane fade slideshow-containe-movier ">
                        <ul class="feature_slide_show content-slider">
                            {% for item in movie_soon %}           

                                <li class="poster-film film-lists item">
                                    <img class="product-img" src="{{ MEDIA_URL }}{{item.poster}}" alt="{{item.name}}" />
                                    <input type="hidden" value="movie-trailer-285">
                                    <div class="info-movie-home">
                                        <h3>{{item.name}}</h3>
                                        <h4>{{item.time_running}} Phút | <span class="{{item.rated.name}}">{{item.rated.name}}</span></h4>
                                        <h4>KHỞI CHIẾU {{item.release_date | date:"d-m-Y"}}</h4>
                                    </div>
                                    <div class="detail-pay-film">
                                        <a title="Xem chi tiết" class="button" href="{% url 'film_detail' item.id %}">Chi tiết</a>
                                        <button type="button" title="Đặt vé" class="button">Đặt vé</button>
                                    </div>
                                    <div class="play-button">
                                        <span><span>Play</span></span>
                                        <div class="link-play">
                                            <a class="popup-youtube" href="{{item.trailer}}">Open YouTube video</a><br>
                                        </div>
                                    </div>   
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </dl> 
            
        </div>
    </div>
    <span id="goToPrevSlide-showing"></span>
    <span id="goToNextSlide-showing"></span>
    <span id="goToPrevSlide-comming-soon"></span>
    <span id="goToNextSlide-comming-soon"></span>
</div>    
<div id="news">
    <div class="container">
        <h1 class="text-center">KHUYẾN MÃI & ƯU ĐÃI</h1>
        <div class="row">
            <div class="col-lg-6">
                <div id="box">
                    <h2 id="title-box">nhiều ưu đãi liên tục nhé!</h2>
                    <p>Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pulvinar metus scelerisque in.</p>
                    <p>Ut dictum nisi massa, vitae pulvinar metus scelerisque in.</p>
                </div>
            </div>
            <div class="new-img col-lg-3 col-sm-4 col-xs-6">
                <img class="" src="{{STATIC_URL}}/assets/websites/images/news/new_01.png" alt="">
                <a class="bg_hover" href="#"></a>
            </div>
            <div class="new-img col-lg-3 col-sm-4 col-xs-6">
                <img class="" src="{{STATIC_URL}}/assets/websites/images/news/new_02.png" alt="">
                <a class="bg_hover" href="#"></a>
            </div>
           <div class="new-img col-lg-3 col-sm-4 col-xs-6">
                <img class="" src="{{STATIC_URL}}/assets/websites/images/news/new_03.png" alt="">
                <a class="bg_hover" href="#"></a>
            </div>
            <div class="new-img col-lg-3 col-sm-4 col-xs-6">
                <img class="" src="{{STATIC_URL}}/assets/websites/images/news/new_04.png" alt="">
                <a class="bg_hover" href="#"></a>
            </div>
            <div class="new-img col-lg-3 col-sm-4 col-xs-6">
                <img class="" src="{{STATIC_URL}}/assets/websites/images/news/new_05.png" alt="">
                <a class="bg_hover" href="#"></a>
            </div>
            <div id="show_more" class="new-img col-lg-3 col-sm-4 col-xs-6">
                <img id="more"  src="{{STATIC_URL}}/assets/websites/images/news/more.png" alt="">
                <a href="{% url 'news'%}"><img id="more_hover" src="{{STATIC_URL}}/assets/websites/images/news/more_hover.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div id="ads-facebook">
    <div class="container">
    {% if position_2 %}
    {% for item in position_2 %}
        <div class="col-xs-12">
            <a href="{{ item.sub_url }}">
                <img class="col-xs-12" src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.sub_url}}">
            </a>
        </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
