{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Imax{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="imax">
				<strong>IMAX</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		{% include 'technology_menu.html' %}
			<div class="specialtheater-content specialtheater-imax">
				<div class="page-title special-title">
					<h1>IMAX</h1>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="recent-imax">
									<p><img alt="" src="{{STATIC_URL}}/assets/websites/images/special-theater/icon-01.png" "=""></p>
									<h3>IMAX là công nghệ chiếu phim tiên tiến nhất trên thế giới hiện nay, từ thiết kế phòng chiếu vô cùng choáng ngợp đến hiệu ứng âm thanh và hình ảnh đỉnh cao.</h3>
									<p>Hãy thưởng thức công nghệ IMAX® tại:</p>
									<ul class="site-list">
										{% for item in data.address%}
										<li><a href="{{item.href}}">{{item.name}}</a></li>
									{% endfor%}	
									</ul>
									<p></p>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container">
							            <div id="jssor_1" >
							                <div data-u="slides" class="jssor_1_slides">
							                {% for item in data.slide  %}  
							                    <div>
							                        <img data-u="image" src="{{ STATIC_URL }}{{item.img}}" />
							                        <img data-u="thumb" src="{{ STATIC_URL }}{{item.img}}" />
							                    </div>
							                {% endfor %}
							                </div>
							                {% include 'arrow_slide.html' %}
							            </div>
							        </div>
								</div>
							</div>
						</div>
			<!-- end cinema imax -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}