{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Lamour{% endblock title %}

{% block extrastylesheet %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/special_cinema.css" media="all" />
{% endblock %}

{% block extrascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/special_cinema.js"></script>
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="lamour">
				<strong>L'amour</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		<div class="col-main">
			<div id="specialtheater-list" class="specialtheater-list">
				<ul class="special-items">
					{% for item in data.technology %}
						<li class="item-icon {{item.class}} {{item.flag}}">
							<a title="Sweetbox" href="/special/{{item.name}}">{{item.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="specialtheater-content specialtheater-lamour">
				<div class="page-title special-title">
					<h1>L'amour</h1>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="recent-cgv-special">
									<h3>Với mục đích mang đến khoảnh khắc ngọt ngào và cảm giác thoải mái nhất khi xem phim, CGV mang đến phòng chiếu giường nằm L’amour với thiết kế nội thất sang trọng bậc nhất trong hệ thống rạp CGV hứa hẹn trải nghiệm tuyệt vời cho khán giả.</h3>
									<p>Cảm nhận không gian sang trọng và ấm cúng của phòng chiếu L’amour tại:</p>
									<ul class="site-list">
										{% for item in data.address%}
											<li><a href="{{item.href}}">{{item.name}}</a></li>
										{% endfor%}	
									</ul>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container-dx">
										<ul class="slideshow-dx">
										{%for item in data.slide %}
											<li class="cycle-slide">
												<div class="image-cinema-imax"><img alt="" src="{{STATIC_URL}}{{item.img}}" "=""></div>
												<div class="text-content-imax">
													{{item.content| safe}}
												</div>
											</li>
										{% endfor %}
										</ul>
										<span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
				<!-- end cinema imax -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}