{% load i18n %}

{% load modal_data_tags %}
{% for value in list_data_film %}
	<li class="film-lists">				
		<div class="product-images">
			<a href="{% url 'film_detail' value.id %}" title="{{value.name}}" class="product-image">
				<img src="{{MEDIA_URL}}{{value.poster}}" alt="{{value.name}}">
			</a>
		</div>
		{% if value.priority %}
			<div class="priority position-{{value.priority}}"></div>
		{% endif %}
		<div class="product-info">
			<h2 class="product-name">
			<a href="{% url 'film_detail' value.id %}" title="{{value.name}}">{{value.name|truncatechars:20}}</a></h2>
			<div class="metiz-movie-info">
				<span class="metiz-info-bold">Thể loại: </span>
				<span class="metiz-info-normal product-cate">
					{{value.genre.all|join:","|truncatechars:12}}
				</span>
			</div>
			<div class="metiz-movie-info">

				<span class="metiz-info-bold">{% if value.time_running %} {{value.time_running}} Phút {% if value.rated %} | {% endif %} {% endif %} <span class="rated-{{value.rated.name}}">{{value.rated.name}}</span></span>

			</div>
			<div class="metiz-movie-info">
				<span class="metiz-info-bold">Khởi chiếu: </span>
				<span class="metiz-info-normal">{{value.release_date | date:"d-m-Y" }}</span>
			</div>
		</div>
		<!-- <div class="ribon position-1"></div> -->
		<ul class="add-to-links">

			<li>
				{% verify_showtime_by_id 1 value.movie_api_id as is_book_able %}
				{% if is_book_able %}
					<button href="#modal-movie-showtimes" type="button" title="Đặt vé" class="button open-popup-list-movie popup-movie-schedule" data-movie-api-id="{{ value.movie_api_id }}">Đặt vé</button>
				{% endif %}
			</li>
		</ul>
	</li>
{% endfor %}