{% extends "layout.html" %}

{% load i18n %}

{% block title %}Voucher Phim{% endblock title %}

{% block extrascript %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/movie_voucher.css" media="all" />
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movie_voucher.js"></script>
{% endblock %}

{% block container_class %}col1-layout{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-movie-voucher category-movie-voucher
{% endblock %}

{% block main_content %}
<div class="breadcrumbs" itemprop="breadcrumb">
	<ul>
		<li class="home">
			<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
			<span>/ </span>
		</li>
		<li class="category11">
			<a href="#" title="">Online Store (Test)</a>
			<span>/ </span>
		</li>
		<li class="category15">
			<strong>Voucher Phim</strong>
		</li>
	</ul>
</div>
<div class="main">
	<div class="col-main">
		
		<div class="category-cgv-voucher">
			<ul>
				<li class="active">
					<a class="movie-voucher">Voucher Phim</a>
				</li>
				
				<li>
					<a href="{% url 'gift_card' %}" class="gift-card">Thẻ Quà Tặng</a>
				</li>
				
			</ul>
		</div>
		
		<div class="page-title category-title">
			<h1>Voucher Phim</h1>
		</div>
		<div class="category-products cgv-voucher-cate">
			<ul class="products-grid products-grid--max-3-col">
			{% for item in data %}
				<li class="film-lists item last">
					<div class="product-info">
						<h2 class="product-name"><a href="{% url 'gift_card_online_detail' %}" title="Voucher 2D">{{item.product_name}}</a></h2>
						
						<span class="price">{{item.price}}</span>
						
						<button onclick="location.href='#'" type="button" title="Mua" class="button btn-giftcard">
							<span><span>Mua</span></span>
						</button>
						
						<div class="short-descriptions">
							<div class="std">Có giá trị đổi vé xem phim 2D</div>
						</div>
					</div>
					
					<a href="{% url 'gift_card_online_detail' %}" title="2D_Voucher" class="product-image">
						<img id="product-collection-image-257" src="{{ STATIC_URL }}{{item.img}}" alt="2D_Voucher" />
					</a>
				</li>
			{% endfor %}
				
			</ul>
			
		</div>
		
		<div id="loading-mask">
			<p class="loader" id="loading_mask_loader">
				<img src="{{ STATIC_URL }}assets/websites/images/ajax-loader.gif" alt="Loading...">
			<br>Đang tải thông tin...	</p>
		</div>
		               
	</div>
</div>

{% endblock %}