{% extends "layout.html" %}

{% load i18n %}

{% block title %}Voucher Phim{% endblock title %}

{% block container_class %}col1-layout{% endblock %}
{% block body_class %}
	catalog-category-view categorypath-movie-voucher category-movie-voucher
{% endblock %}
{% block main_content %}
<div class="breadcrumbs" itemprop="breadcrumb">
	<ul>
		<li class="home">
			<a href="#" title="Trở về trang chủ">Trang chủ</a>
			<span>/ </span>
		</li>
		<li class="category11">
			<a href="#" title="">Online Store (Test)</a>
			<span>/ </span>
		</li>
		<li class="category15">
			<strong>Voucher Phim</strong>
		</li>
	</ul>
</div>
<div class="main">
	<div class="col-main">
		
		<div class="category-cgv-voucher">
			<ul>
				<li class="active">
					<a class="movie-voucher">Voucher Phim</a>
				</li>
				
				<li>
					<a href="#" class="gift-card">Thẻ Quà Tặng</a>
				</li>
				
			</ul>
		</div>
		
		<div class="page-title category-title">
			<h1>Voucher Phim</h1>
		</div>
		<div class="category-products cgv-voucher-cate">
			<ul class="products-grid products-grid--max-3-col">
			{% for item in data %}
				<li class="film-lists item last">
					<div class="product-info">
						<h2 class="product-name"><a href="#" title="Voucher 2D">{{item.product_name}}</a></h2>
						
						<span class="price">{{item.price}}</span>
						<!--button type="button" title="Mua" class="button btn-giftcard" onclick="buy(257, 'T15GoMUUH8ENNEfK')"-->
						<button onclick="location.href='#'" type="button" title="Mua" class="button btn-giftcard">
							<span><span>Mua</span></span>
						</button>
						
						<div class="short-descriptions">
							<div class="std">Có giá trị đổi vé xem phim 2D</div>
						</div>
					</div>
					
					<a href="#" title="2D_Voucher" class="product-image">
						<img id="product-collection-image-257" src="{{ STATIC_URL }}{{item.img}}" alt="2D_Voucher" />
					</a>
				</li>
			{% endfor %}
				
			</ul>
			<script type="text/javascript">
				decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])
			</script>
		</div>
		<style>
			.products-grid .product-info {
				padding-bottom: 20px !important;
			}
		</style>
		<div id="loading-mask" style="left: -2px; top: 0px;">
			<p class="loader" id="loading_mask_loader">
				<img src="{{ STATIC_URL }}assets/websites/images/ajax-loader.gif" alt="Loading...">
			<br>Đang tải thông tin...	</p>
		</div>
		<script type="text/javascript">
		//<![CDATA[
			function buy(id, formkey) {
				/*
				* Check customer availability
				*/
				var login = '';
				if (login == 1) {
					$j.ajax({
						type: 'POST',
						url: '#',
						data: {id : id, form_key : formkey},
						beforeSend: function(){
							$j('#loading-mask').show();
						}
									}).done(function(response) {
						if (response.success == 1) {
							// var msg = response.message;
							// if (Object.isArray(msg)) {
								// msg = msg.join("\n").stripTags().toString();
							// }
							
							// if (msg) {
								// alert(msg);
							// }
							
							location.href = encodeURI('#');
							return;
						} else {
							var msg = response.error;
							if (Object.isArray(msg)) {
								msg = msg.join("\n").stripTags().toString();
							}
							
							if (msg) {
								alert(msg);
							}
						}
						
						$j('#loading-mask').hide();
					})
				} else {
					location.href = encodeURI('#');
					return;
				}
			}
		//]]>
		</script>
		<style>
		.category-movie-voucher .page-title h1{
			margin-bottom: 0;
		}
		.category-movie-voucher .category-title{
			margin-bottom: 35px;
			clear: both;
		}
		.category-gift-card .category-title{
			clear: both;
		}
		.category-movie-voucher .btn-giftcard{
			/*background: url(../images/btn_buy_grey.png) no-repeat !important;*/
		}
		.category-movie-voucher .products-grid li .product-info{
			text-align: left;
		}
		</style>
		<script type="text/javascript">
			var phone = '2124771050',
			formatted = phone.substr(0, 3) + '****' + phone.substr(phone.length-3,3);
			//console.log(formatted);
		</script>                
	</div>
</div>

{% endblock %}