{% extends "layout.html" %}
{% load i18n %}

{% block title %}{{new.name}}{% endblock title %}

{% block metacontent %}
	<!-- Start FB share properties  -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="{{new.name}}" />
	<meta property="og:image" content="{{MEDIA_URL}}{{new.image}}" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<!-- End FB share properties  -->
{% endblock %}

{% block extrastylesheet %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/new_detail.css" media="all" />
{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout{% endblock%}

{% block main_content%}
<div class="main">
	<div class="col-main">
		<div id="messages_product_view">
		</div>
		<div class="postWrapper">
			<div class="postContent">
				<div class="detail-content-new-offer">
					<div class="col-left-detail-content-new-offer">
						<div class="img-square">
							<div class="square-content">
								<img alt="" src="{{MEDIA_URL}}{{new.image}}"> 
							</div>
						</div>
						<!-- Button like and share Facebook  -->
						<div class="button-like-share">
							<div class="fb-like fb_iframe_widget" data-href="http://{{ request.get_host }}{% url 'new_detail' new.id %}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
					        </div>
						</div>
					</div>
					<div class="col-right-detail-content-new-offer">
						<div class="social-detail-content-new-offer">
							<div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
								<div class="postTitle">
									<h2>{{new.name}}</h2>
								</div>
								<div class="postDetail">
									{{new.content| safe}}
									<p>&nbsp;</p>
									{% if new.condition %}
										<p><strong>Điều kiện & điều khoản</strong></p>
										<p>&nbsp;</p>
										{{new.condition| safe}}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}