{% extends "layout.html" %}
{% load i18n %}

{% block title %}Tin tức{% endblock title %}

{% block extrastylesheet %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/new_detail.css" media="all" />
{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout page-detail{% endblock%}

{% block main_content%}
<div class="main">
	<div class="col-main">
		<div id="messages_product_view">
		</div>
		<div class="postWrapper">
			<div class="postTitle">
				<h2>{{new.name}}</h2>
			</div>
			<div class="postContent">
				<div class="detail-content-new-offer">
					<div class="col-left-detail-content-new-offer"><span> <img alt="" src="{{MEDIA_URL}}{{new.image}}"> </span></div>
					<div class="col-right-detail-content-new-offer">
						<div class="social-detail-content-new-offer">
							<div class="fb-like" data-href="#" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false">
								<p><strong>{{new.content}}</strong></p>
								<p>&nbsp;</p>
								<p><strong>Điều kiện và điều khoản: </strong></p>
								<p>&nbsp;</p>
								{{new.condition| safe}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}