{% extends "layout.html" %}
{% load i18n %}

{% block title %}Tin tức{% endblock title %}

{% block extrastylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/film.css" media="all" />
{% endblock %}



{% block body_class %}
	catalog-category-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout {% endblock%}
{% block main_content%}

<div class="breadcrumbs" itemprop="breadcrumb">
    <ul>
	    <li class="home">
	        <a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
	        <span>/ </span>
	    </li>
	    <li class="blog">
	        <strong>News &amp; Offer</strong>
	    </li>
    </ul>
</div>
 <div class="main">            
    <div class="col-main product-view">

		<div class="product-collateral toggle-content tabs tabs-format-metiz">
			<ul class="nav nav-tabs toggle-tabs">
				<li class="active">
					<span href="#new-tab-1" data-toggle="tab">Xem tất cả</span>
				</li>
				<li class="last">
					<span href="#new-tab-2" data-toggle="tab">Chọn Rạp</span>
				</li>
			</ul>
			<div class="tab-content">
				<div id="new-tab-1" class="tab-pane fade in active">
					<ul class="cate-new-offer products-grid products-grid--max-4-col first last odd">
						{% for item in news %}
						<li class="item last">
							<a href="/new/detail/{{item.id}}">
								<div class="product-poster"">
									<div class="fun-new-offer">
										<div class="content-new-offer">
											<div class="colum-left-new-offer">
												<div class="poster-small-new-offer">
													<img alt="" src="{{STATIC_URL}}{{item.image}}">
													<div class="colum-right-new-offer">
														<div class="format-new-offer release-day-new-offer">
															<h3>&nbsp;</h3>
															<h4>{{item.apply_date}}</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>		
						</li>
						{% endfor%}			
					</ul>
				</div>
				<div id="new-tab-2" class="tab-pane fade ">
					<ul class="cate-new-offer products-grid products-grid--max-4-col first last odd">
						{% for item in data %}
						<li class="item last">
							<a href="{{item.href}}">
								<div class="product-poster"">
									<div class="fun-new-offer">
										<div class="content-new-offer">
											<div class="colum-left-new-offer">
												<div class="poster-small-new-offer">
													<img alt="" src="{{STATIC_URL}}{{item.img}}">
													<div class="colum-right-new-offer">
														<div class="format-new-offer release-day-new-offer">
															<h3>&nbsp;</h3>
															<h4>{{item.time}}</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>		
						</li>
						{% endfor%}			
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}