{% extends "layout.html" %}
{% load i18n %}

{% block title %}Tin tức{% endblock title %}

{% block extrastylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/film.css" media="all" />
{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout page-detail{% endblock%}
{% block main_content%}
 <div class="main">            
    <div class="col-main product-view">
	    <div class="cate-new-offer">
			<h1 class="text-center">KHUYẾN MÃI & ƯU ĐÃI</h1>
		</div>
		<div class="product-collateral">
			<ul class="cate-new-offer products-grid products-grid--max-4-col first last odd">
				{% for item in news %}
				<li class="item last">
					<a href="{% url 'new_detail' item.id %}">
						<div class="product-poster"">
							<div class="fun-new-offer">
								<div class="content-new-offer">
									<div class="colum-left-new-offer">
										<div class="poster-small-new-offer">
											<img alt="" src="{{MEDIA_URL}}{{item.image}}">
											<div class="colum-right-new-offer">
												<div class="format-new-offer release-day-new-offer">
													<h3 class="glyphicon glyphicon-calendar">
													<h4>{{item.apply_date}}</h4></h3>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>		
				</li>
				{% endfor%}			
			</ul>
		</div>
	</div>
</div>
{% endblock%}