{% extends "layout.html" %}
{% load i18n %}

{% block title %}Tin tức{% endblock title %}

{% block extrastylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/film.css" media="all" />
{% endblock %}

{% block extrascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/news.js"></script>
{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout {% endblock%}
{% block main_content%}

<div class="breadcrumbs" itemprop="breadcrumb">
    <ul>
	    <li class="home">
	        <a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
	        <span>/ </span>
	    </li>
	    <li class="blog">
	        <strong>News &amp; Offer</strong>
	    </li>
    </ul>
</div>
 <div class="main">            
    <div class="col-main product-view">

		<div class="product-collateral toggle-content tabs tabs-format-cgv">
			<ul class="nav nav-tabs toggle-tabs">
				<li class="active">
					<a href="#new-tab-1" data-toggle="tab">Xem tất cả</a>
				</li>
				<li class="last">
					<a href="#new-tab-2" data-toggle="tab">Chọn Rạp</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="new-tab-1" class="tab-pane fade in active">
					<ul class="cate-new-offer products-grid products-grid--max-4-col first last odd">
						{% for item in data %}
						<li class="item last">
							<div class="product-poster" onclick="news(this);">
								<div class="fun-new-offer">
									<div class="content-new-offer">
										<div class="colum-left-new-offer">
											<div class="poster-small-new-offer">
												<img alt="" src="{{STATIC_URL}}{{item.img}}">
												<div class="colum-right-new-offer">
													<div class="format-new-offer release-day-new-offer">
														<h3>&nbsp;</h3>
														<h4>{{item.time}}</h4>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<a class="aw-blog-read-more" href="{{item.href}}">Read More</a>
							</div>		
						</li>
						{% endfor%}			
					</ul>
				</div>
				<div id="new-tab-2" class="tab-pane fade ">
					<h3>B2, Z2/Z2x Brass First Stages Affordable Performance</h3>
					<p>We understood that not every diver could afford Titanium. </p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}