{% extends "layout.html" %}

{% load i18n %}

{% block title %}Chính sách thanh toán{% endblock title %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/payment_policy.css" media="all" />
{% endblock %}

{% block container_class %}col2-left-layout{% endblock %}

{% block body_class %}
	cms-page-view cms-payment-policy
{% endblock %}

{% block main_content %}

<div class="breadcrumbs" itemprop="breadcrumb">
	<ul>
		<li class="home">
			<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
			<span>/ </span>
		</li>
		<li class="cms_page">
			<strong>Chính sách thanh toán</strong>
		</li>
	</ul>
</div>
<div class="main">
	{% include 'layout_menu.html' %}
	<div class="col-main">
		<div class="std">
			<div class="cms-page-title">
				<span><strong>CH&Iacute;NH S&Aacute;CH THANH TO&Aacute;N</strong></span>
			</div>
			<div class="cms-page-content privacy-policy-cms">
				{% for item in data %}
					<div class="cms-tap">
						<h3>{{item.title}}</h3>
						<ul>
							{% for i in item.content %}
								<li>{{i.name}}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
	<div class="col-left sidebar"></div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/policy.js"></script>
{% endblock %}