{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Premium{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="premium">
				<strong>Premium</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		{% include 'technology_menu.html' %}
			<div class="specialtheater-content specialtheater-premium">
				<div class="page-title special-title">
					<h2 class="center-block technology-premium">Premium</h2>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="recent-cgv-special">
									<h3>Không gian đậm chất điện ảnh với ghế ngồi được di chuyển theo yêu cầu của riêng bạn</h3>
									<p>Trải nghiệm phòng chiếu Premium duy nhất chỉ có tại:</p>
									
									<p></p>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container">
							            <div id="jssor_1" >
							                <div data-u="slides" class="jssor_1_slides">
							                {% for item in data.slide  %}  
							                    <div>
							                        <img data-u="image" src="{{ STATIC_URL }}{{item.img}}" />
							                        <img data-u="thumb" src="{{ STATIC_URL }}{{item.img}}" />
							                    </div>
							                {% endfor %}
							                </div>
							                {% include 'arrow_slide.html' %}
							            </div>
							        </div>
								</div>
							</div>
						</div>
				<!-- end cinema imax -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}