{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Screnn X{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="sreenx">
				<strong>ScreenX</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		{% include 'technology_menu.html' %}
			<div class="specialtheater-content specialtheater-screenx">
				<div class="page-title special-title">
					<h1>ScreenX</h1>
				</div>
				<div class="std">
					<div class="cinema-imax">
						<div class="header-imax std">
							<div class="about-content-imax">
								<div class="imax-selection home-title">
									<div class="about-title-imax-vn">
										<h2>movie selection</h2>
									</div>
								</div>
								<div class="recent-cgv-special">
									<h3>ScreenX vượt qua khuôn khổ giới hạn của màn hình chính và phóng đại không gian hình ảnh sang hai bên tường đến tận hàng ghế cuối cùng.</h3>
									<p>Hãy cùng trải nghiệm ScreenX với giao diện màn chiếu ấn tượng duy nhất tại:</p>
									<ul class="site-list">
										{% for item in data.address%}
											<li><a href="{{item.href}}">{{item.name}}</a></li>
										{% endfor%}	
									</ul>
									<p></p>
								</div>
								<div class="slide-imax-baner">
									<div class="slideshow-container">
							            <div id="jssor_1" >
							                <div data-u="slides" class="jssor_1_slides">
							                {% for item in data.slide  %}  
							                    <div>
							                        <img data-u="image" src="{{ STATIC_URL }}{{item.img}}" />
							                        <img data-u="thumb" src="{{ STATIC_URL }}{{item.img}}" />
							                    </div>
							                {% endfor %}
							                </div>
							                {% include 'arrow_slide.html' %}
							            </div>
							        </div>
								</div>
								<div class="slide-imax-baner">
									<div class="a-center">
										<iframe src="https://www.youtube.com/embed/kT5ASaa-QXU" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
					<!-- end cinema imax -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}