{% extends "layout.html" %}
{% load i18n %}

{% block title %}Phim Đang Chiếu{% endblock title %}

{% block extrascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/cgv.js"></script>
{% endblock %}

{% block body_class %}
	catalog-category-view categorypath-now-showing category-now-showing
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content%}
<div class="main">
	<div class="col-main">
		<div class="page-title category-title">
			<h1>Phim Đang Chiếu</h1>
		</div>
		{% if data_showing %}
		<div class="category-products cgv-movies">
			<ul class="products-grid products-grid--max-4-col">
				{% for value in data_showing %}
					<li class="film-lists">				
						<div class="product-images">
							<a href="{% url 'film_detail' value.id %}" title="{{value.name}}" class="product-image">
								<img id="product-collection-image-285" src="{{STATIC_URL}}{{value.poster}}" alt="{{value.name}}">
							</a>
							
							<div class="movie-technology">
								<a href="javascript:void(0)" class="icon-type-film" title="IMAX2D">
									<!-- <span class="attr-movie-imax2d">IMAX2D</span> -->
									<span class="attr-movie-{{value.technology}}">{{value.technology}}</span>
								</a>
							</div>
						</div>
						
						<div class="product-info">
							<h2 class="product-name">
							<a href="{% url 'film_detail' value.id %}" title="{{value.name}}">{{value.name}}</a></h2>
							<div class="cgv-movie-info">
								<span class="cgv-info-bold">Thể loại: </span>
								<span class="cgv-info-normal">{{value.genre.name}}</span>
							</div>
							<div class="cgv-movie-info">
								<span class="cgv-info-bold">96 Phut | <span class="p">p</span></span>
							</div>
							<div class="cgv-movie-info">
								<span class="cgv-info-bold">Khởi chiếu: </span>
								<span class="cgv-info-normal">{{value.release_date | date:"d-m-Y" }}</span>
							</div>
						</div>
						<!-- <div class="ribon position-1"></div> -->
						
						<ul class="add-to-links">
							<li>
								<!-- Button like and share facebook, data-href http://domain/filmdetail/id (unique) -->
								<!-- https://{{ request.get_host }}{% url 'film_detail' value.id %}-->
								<div class="fb-like fb_iframe_widget" data-href="http://elearning.vooc.vn/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
                                </div>
							</li>
							
							<li>
								<button type="button" title="Đặt vé" class="button">Đặt vé</button>
							</li>
						</ul>
					</li>
				{%endfor%}
			</ul>
		</div>
		{% endif %}
	</div>           
</div>

{% endblock%}