{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Sweetbox{% endblock title %}

{% block extrastylesheet %}
	 <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/special_cinema.css" media="all" />
{% endblock %}

{% block extrascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/special_cinema.js"></script>
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="sweetbox">
				<strong>Sweetbox</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		<div class="col-main">
			<div id="specialtheater-list" class="specialtheater-list">
				<ul class="special-items">
					{% for item in data.technology %}
					<li class="item-icon {{item.class}} {{item.flag}}">
						<a title="Sweetbox" href="/special/{{item.name}}">{{item.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="specialtheater-content specialtheater-sweetbox">
				<div class="page-title special-title">
					<h1>Sweetbox</h1>
				</div>
				<div class="std">
					<div class="recent-imax">
						<h4>Cho những khoảnh khắc ngọt ngào...</h4>
						<p>Hãy cùng trải nghiệm Sweetbox với giao diện màn chiếu ấn tượng duy nhất tại:</p>
						<ul class="site-list">
						{% for item in data.address%}
							<li><a href="{{item.href}}">{{item.name}}</a></li>
						{% endfor%}							
						</ul>
						<p></p>
					</div>
					<div class="content-about-sweetbox">
						<div class="slide-imax-baner">
							<div class="slideshow-container-dx">
								<ul class="slideshow-dx" >
									{% for item in data.slide%}
									<li class="cycle-slide" ">
										<div class="cinema-special-cgv">
										<img alt="" src="{{STATIC_URL}}{{item.img}}">
										</div>
										<div class="text-content-imax">
											<p>{{item.content| safe}}</p>
										</div>
									</li>
									{% endfor%}
								</ul>
									<span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
							</div>
						</div>
					</div>
					<!-- end cinema sweetbox -->
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock %}