{% extends 'layout.html' %}
{% load i18n %}
{% block title %}Helio{% endblock title %}
{% block extrascript %}

	<script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.cycle2.min.js"></script>

{% endblock %}
{% block body_class %}
	theaters-special-view
{% endblock %}
{% block container_class%}col1-layout {% endblock%}
{% block main_content %}
	<div class="main-container">
		<div class="breadcrumbs" itemprop="breadcrumb">
			<ul>
				<li class="home">
					<a href="#" title="Home Page">Home Page</a>
					<span>/ </span>
				</li>
				<li class="sweetbox">
					<strong>Sweetbox</strong>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="col-main">
				<div id="specialtheater-list" class="specialtheater-list">
					<ul class="special-items">
						{% for item in data.technology %}
						<li class="item-icon {{item.class}} {{item.flag}}">
							<a title="Sweetbox" href="#">{{item.name}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="specialtheater-content specialtheater-sweetbox">
					<div class="page-title special-title">
						<h1>Sweetbox</h1>
					</div>
					<div class="std">
						<div class="recent-imax">
							<h4>Cho những khoảnh khắc ngọt ngào...</h4>
							<p>Hãy cùng trải nghiệm Sweetbox với giao diện màn chiếu ấn tượng duy nhất tại:</p>
							<ul class="site-list">
							{% for item in data.address%}
								<li><a href="{{item.href}}">{{item.name}}</a></li>
							{% endfor%}							
							</ul>
							<p></p>
						</div>
						<div class="content-about-sweetbox">
							<div class="slide-imax-baner">
								<div class="slideshow-container-sweetbox" style="clear: both;">
									<ul class="slideshow-sweetbox" style="position: relative; overflow: hidden;">
										{% for item in data.slide%}
										<li class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 96; opacity: 1; display: block; visibility: hidden;">
											<div class="cinema-special-cgv">
											<img alt="" src="{{STATIC_URL}}{{item.img}}">
											</div>
											<div class="text-content-imax">
												<p>{{item.content| safe}}</p>
											</div>
										</li>
										{% endfor%}
										
									</ul>
										<span class="slideshow-prev">&nbsp;</span> <span class="slideshow-next">&nbsp;</span>
									</div>
								</div>
							</div>
							<!-- end cinema sweetbox -->
							<script type="text/javascript">// <![CDATA[
							$j(document).ready(function () {
								$j('.slideshow-container-sweetbox .slideshow-sweetbox')
									.cycle({
										slides: '> li',
											speed: 600,
											pauseOnHover: true,
											swipe: true,
										prev: '.slideshow-prev',
										next: '.slideshow-next',
									fx: 'scrollHorz'
								});
								});
						// ]]></script>	
						</div>
					</div>
					</div>
					<style>
					.home-title{
						display:none;
					}
					</style>
					<script type="text/javascript">
						//<![CDATA[
						$j(document).ready(function(){
							var highest = 0;
							var hi = 0;
							$j('.product-info').each(function(){
							var h = $j(this).height();
							if(h > hi){
									hi = h;
									highest = h;
								}
							});
							if ($j(window).width()>320){
								$j('.product-info').css('height',highest+10+'px');
							}
							else{
								$j('.products-grid .product-info').css('padding-bottom','0');
							}
							$j('li.category3').find('a').contents().unwrap();
						});
						$j(window).on('resize', function() {
							var highest2 = 0;
							var hi = 0;
							$j('.product-info').each(function(){
							var h = $j(this).height();
							if(h > hi){
									hi = h;
									highest2 = h;
								}
							});
							if ($j(window).width()>320){
								$j('.product-info').css('height',highest2+10+'px');
							}
							else{
								$j('.products-grid .product-info').css('padding-bottom','0');
							}
							$j('li.category3').find('a').contents().unwrap();
						});
					//]]>
					</script>   
				</div>
			</div>
	{% endblock %}