{% extends 'layout.html' %}
{% load i18n %}

{% block title %}Sweetbox{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}

{% block body_class %}
	theaters-special-view
{% endblock %}

{% block container_class%}col1-layout {% endblock%}

{% block main_content %}
<div class="main-container">
	<div class="breadcrumbs" itemprop="breadcrumb">
		<ul>
			<li class="home">
				<a href="{% url 'home' %}" title="Home Page">Home Page</a>
				<span>/ </span>
			</li>
			<li class="sweetbox">
				<strong>Sweetbox</strong>
			</li>
		</ul>
	</div>
	<div class="main">
		<div class="col-main">
			<div id="specialtheater-list" class="specialtheater-list">
				<ul class="special-items">
					{% for item in data.technology %}
					<li class="item-icon {{item.class}} {{item.flag}}">
						<a title="Sweetbox" href="/special/{{item.name}}">{{item.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="specialtheater-content specialtheater-sweetbox">
				<div class="page-title special-title">
					<h1>Sweetbox</h1>
				</div>
				<div class="std">
					<div class="recent-imax">
						<h4>Cho những khoảnh khắc ngọt ngào...</h4>
						<p>Hãy cùng trải nghiệm Sweetbox với giao diện màn chiếu ấn tượng duy nhất tại:</p>
						<ul class="site-list">
						{% for item in data.address%}
							<li><a href="{{item.href}}">{{item.name}}</a></li>
						{% endfor%}							
						</ul>
						<p></p>
					</div>
					<div class="content-about-sweetbox">
						<div class="slide-imax-baner">
							<div class="slideshow-container">
					            <div id="jssor_1" >
					                <div data-u="slides" class="jssor_1_slides">
					                {% for item in data.slide  %}  
					                    <div>
					                        <img data-u="image" src="{{ STATIC_URL }}{{item.img}}" />
					                        <img data-u="thumb" src="{{ STATIC_URL }}{{item.img}}" />
					                    </div>
					                {% endfor %}
					                </div>
					                {% include 'arrow_slide.html' %}
					            </div>
					        </div>
						</div>
					</div>
					<!-- end cinema sweetbox -->
				</div>
			</div>
		</div>
	</div>
</div>
	{% endblock %}