{% extends "layout.html" %}

{% load i18n %}

{% block title %}Điều khoản chung{% endblock title %}

{% block extrastylesheet %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/terms_conditions.css" media="all" />
{% endblock %}

{% block container_class %}col2-left-layout{% endblock %}

{% block body_class %}
cms-page-view cms-terms-conditions
{% endblock %}

{% block main_content %}
<div class="breadcrumbs" itemprop="breadcrumb">
	<ul>
		<li class="home">
			<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
			<span>/ </span>
		</li>
		<li class="cms_page">
			<strong>ĐIỀU KHOẢN CHUNG</strong>
		</li>
	</ul>
</div>
<div class="main">
	{% include 'layout_menu.html' %}
	
	<div class="col-main">
		<div class="std">
			<div class="term-condition-title">
				<span><strong>ĐIỀU KHOẢN CHUNG</strong> </span>
			</div>
			<div class="term-condition-content content">
				<div class="icon-title-term-condition"><img alt="" src="{{ STATIC_URL }}assets/websites/images/Terms_and_Conditions.png" />
					<ul>
						<li>Việc bạn sử dụng website n&agrave;y đồng nghĩa với việc bạn đồng &yacute; với những thỏa thuận dưới đ&acirc;y.</li>
						<li>Nếu bạn kh&ocirc;ng đồng &yacute;, xin vui l&ograve;ng kh&ocirc;ng sử dụng website.</li>
					</ul>
				</div>
				{% for item in data %}
					<div class="content-show-term-condition content">
						<span class="linktag">
							<strong>{{item.title}}</strong>
						</span>
						<p>{{item.content}}</p>
					</div>
				{% endfor %}
			
			</div>
		</div>
	</div>
	<div class="col-left sidebar"></div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/policy.js"></script>
{% endblock %}