{% extends "layout.html" %}
{% load i18n %}

{% block title %}Điều khoản chung{% endblock title %}
{% block container_class %}col2-left-layout{% endblock %} 
{% block body_class %}
 cms-page-view cms-terms-conditions
 {% endblock %}
{% block main_content %}
					<div class="breadcrumbs" itemprop="breadcrumb">
						<ul>
							<li class="home">
								<a href="{% url 'home' %}" title="Trở về trang chủ">Trang chủ</a>
								<span>/ </span>
							</li>
							<li class="cms_page">
								<strong>ĐIỀU KHOẢN CHUNG</strong>
							</li>
						</ul>
					</div>
					<div class="main">
						<div class="col-left sidebar col-left-first"><div class="block block-cms-menu">
							<div class="block-content">
								<ul>
									<li><a href="{% url 'about_cinema' %}"><span>Giới thiệu</span></a></li>
									<li><a href="{% url 'contacts' %}"><span>Li&ecirc;n Hệ CGV</span></a></li>
									<li><a href="{% url 'terms_conditions' %}"><span>Điều khoản chung</span></a></li>
									<li ><a href="{% url 'terms_use' %}"><span>Điều khoản giao dich</span></a></li>
									<li ><a href="{% url 'payment_policy' %}"><span>Ch&iacute;nh s&aacute;ch thanh to&aacute;n</span></a></li>
									<li><a href="{% url 'privacy_policy' %}"><span>Ch&iacute;nh s&aacute;ch bảo mật</span></a></li>
									<li><span><a href="{% url 'faq' %}"><span>C&acirc;u hỏi thường gặp</span></a></span></li>
								</ul>
							</div>
						</div>
						<script type="text/javascript">// <![CDATA[
						$j(".block-cms-menu li").each(function(){
									var self = this;
										href = $j(this).find('a');
									for(var i = 0 ; i < href.length ; i++){
										var harray = $j(href[i]).attr('href').split("/");
										var charray = window.location.href.split("/");
										if(harray[harray.length-2] == charray[charray.length-2]){
											$j(self).addClass('active');
											break;
										}
												
									}
								});
					// ]]></script></div>
					<div class="col-main">
						<div class="std"><div class="term-condition-title"><span style="color: #ff0000;"> 
						<strong>ĐIỀU KHOẢN CHUNG</strong> </span></div>
						<div class="term-condition-content content">
							<div class="icon-title-term-condition"><img alt="" src="{{ STATIC_URL }}assets/websites/images/Terms_and_Conditions.png" />
								<ul>
									<li>Việc bạn sử dụng website n&agrave;y đồng nghĩa với việc bạn đồng &yacute; với những thỏa thuận dưới đ&acirc;y.</li>
									<li>Nếu bạn kh&ocirc;ng đồng &yacute;, xin vui l&ograve;ng kh&ocirc;ng sử dụng website.</li>
								</ul>
							</div>
							{% for item in data %}
							<div class="content-show-term-condition content">
								<span class="linktag">
									<strong>{{item.title}}</strong>
								</span>
								<p>{{item.content}}</p>
							</div>
							{% endfor %}
							
						</div>
					</div>               
 				</div>
				<div class="col-left sidebar"></div>
			</div>
{% endblock %}