{% extends "layout.html" %}

{% load i18n %}

{% block title %}Hết Thời Gian Đặt Vé{% endblock title %} 

{% block container_class %}col1-layout {% endblock %}

{% block extrascript %}
{% endblock %}

{% block main_content %}
<div class="main">            
    <div class="col-main notification_timeout">
        <div class="timeout_panel">
            <h2>Thông báo</h2>
            <div class='clearfix'></div>
            <div class="note_timeout">
                {% if page == 'payment' %}
                    <p>Thời gian giao dịch đã hết. Xin vui lòng đặt vé lại <a href="#modal-movie-showtimes" class="back-booking open-movie-showtime" data-all-movie="true" data-movie-api-id=""> tại đây </a>. Cảm ơn!</p>
                {% elif page == 'movie' %}
                    <p>Suất chiếu bạn đang chọn đã đóng đặt vé trực tuyến do quá giờ khởi chiếu. Xin vui lòng đặt lại vé <a href="#modal-movie-showtimes" class="back-booking open-movie-showtime" data-all-movie="true" data-movie-api-id=""> tại đây </a>. Cảm ơn!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock%}