{% extends "layout.html" %}

{% load i18n %}

{% block title %}Hết Thời Gian Đặt Vé{% endblock title %} 

{% block container_class %}col1-layout {% endblock %}

{% block extrascript %}
{% endblock %}

{% block main_content %}
<div class="main">            
    <div class="col-main time-out-booking">
        <div class="page-title-timeout">
            <h2>Thông báo</h2>
        </div>
        <div class="custom-time-out">
            <div>
                <p>Thời gian giao dịch đã hết. Xin vui lòng đặt vé lại <a href="#modal-popup" class="back-booking open-popup-link popup-movie-schedule" data-all-movie="true"> tại đây </a>. Cảm ơn!</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}