{% extends "layout.html" %}
{% load i18n %}

{% block title %}Voucher{% endblock title %}
{% block metacontent %}
	<!-- Start FB share properties  -->
	<meta property="og:type" content="article" />
	<meta property="og:title" content="10.000 VÉ XEM PHIM MIỄN PHÍ CỦA METIZ CINEMA DÀNH CHO NGƯỜI HÂM MỘ U23 VIỆT NAM" />
	<meta property="og:description" content='Đồng hành cùng tuyển U23 Việt Nam làm nên kì tích tại AFC 2018, Metiz Cinema tặng người hâm mộ 10.000 vé xem phim (Việt Nam) miễn phí tại rạp Metiz trong các ngày Soft Opening từ 09 – 14.02.2018' />
	<!-- End FB share properties  -->
{% endblock %}

{% block extrastylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/voucher.css" media="all" />
{% endblock %}
{% block extrascript %}
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/barcodes/JsBarcode.code39.min.js"></script>
    <script src="{{ STATIC_URL }}assets/websites/js/voucher.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block container_class%}col1-layout{% endblock%}

{% block main_content%}
<div class="main-blog">
    <div class="container voucher-custom">

    	<div class="voucher-detail-content col-md-12">
    		<p class="title">10.000 VÉ XEM PHIM MIỄN PHÍ CỦA METIZ CINEMA DÀNH CHO NGƯỜI HÂM MỘ U23 VIỆT NAM </p>
		   	<p>Đồng hành cùng tuyển U23 Việt Nam làm nên kì tích tại AFC 2018, Metiz Cinema tặng người hâm mộ 10.000 vé xem phim (Việt Nam) miễn phí tại rạp Metiz trong các ngày Soft Opening từ 09 – 14.02.2018</p>

		   	<p class="p-img"><img alt="" src="{{ STATIC_URL }}assets/websites/images/voucher_img.jpg"></p>

			<p>Các phim Việt Nam được chiếu miến phí bao gồm: Ở Đây Có Nắng, Cô Ba Sài Gòn & Khi Con Là Nhà.</p>
			
		   	<p class="p-img"><img alt="" src="{{ STATIC_URL }}assets/websites/images/voucher_img2.jpg"></p>

		   	{% if user.is_authenticated %}
		    	<div class="col-sm-8 area-voucher-content">
		    		<p class="text-content-title">Click LẤY MÃ để nhận vé xem phim miễn phí  </p>
		    		<p class="text-content">Hạn sử dụng: 09.02 – 14.02.2018</p>
                    {% if number_voucher %}
                        <p class="text-voucher">{{number_voucher}} Vouchers đã sử dụng</p>
                    {% endif %}
                    
		    	</div>
		    	<div class="col-sm-4 text-xs-center area-voucher-code">
	    			<button id="btn_get_voucher" class="pull-right">
		    			<span class="code-text" rel="nofollow">METIZ</span>
		    			<span class="get-code">Lấy mã</span>
                        {% if number_voucher %}
                            <p class="text-content"></p>
                        {% endif %}
	    			</button>
	    		</div>
				<!-- <button id="btn_get_voucher"><img src="{{ STATIC_URL }}assets/websites/images/voucher_btn.png"></button> -->
				
			{% else %}
			    <p>Hãy <a href="/register/?next=/voucher/">đăng ký tài khoản tại đây</a> để được nhận vé miễn phí nhé.</p>
			{% endif %}
			<div class="clearfix"></div>
			<div class="button-like-share">
				<div class="fb-like fb_iframe_widget" data-href="http://{{ request.get_host }}{% url 'voucher'%}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
		        </div>
			</div>

		</div>
    </div>

</div>

<!-- Modal Voucher -->
<div class="modal" id="get_voucher_modal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="modal-title">Mã Khuyến Mãi</h2>
            </div>
            <div class="modal-body">
                <div>
                     <p class="member-card-info"><i>Mã code đã được gửi về Email đăng ký tài khoản của bạn. Hoặc chụp ảnh màn hình để được nhận vé xem phim miễn phí.</i></p>
                </div>
                <div class="row">
                	<div class="input-group code-group">
					  	<input id="code_str" type="text" class="form-control" readonly>
					  	<span class="input-group-addon" id="copy_btn">
					  		<span class="btn-copy-text">COPY</span><i class="fa fa-clipboard"></i>
					  	</span>
					  	
					</div>
                    <div class="form-group">
                        <img id="code_img"/>
                        <label class="form-error" for="member_card" id='member_card-error'></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
