<!-- Thumbnail Navigator -->
<div data-u="thumbnavigator" class="jssort101" data-autocenter="1" data-scale-bottom="0.75">
    <div data-u="slides">
        <div data-u="prototype" class="p">
            <div data-u="thumbnailtemplate" class="t"></div>
            <svg viewbox="0 0 16000 16000" class="cv">
                <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
            </svg>
        </div>
    </div>
</div>
<!-- Arrow Navigator -->
<div data-u="arrowleft" class="jssora106 prev-arrow" data-scale="0.75">
    <svg viewbox="0 0 16000 16000">
        <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
        <polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
        <line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
    </svg>
</div>
<div data-u="arrowright" class="jssora106 next-arrow" data-scale="0.75">
    <svg viewbox="0 0 16000 16000" >
        <circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
        <polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
        <line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
    </svg>
</div>