<!-- Thumbnail Navigator -->
<div data-u="thumbnavigator" class="jssort101" data-autocenter="1" data-scale-bottom="0.75">
    <div data-u="slides">
        <div data-u="prototype" class="p">
            <div data-u="thumbnailtemplate" class="t"></div>
            <svg viewbox="0 0 16000 16000" class="cv">
                <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
                <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
                <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
            </svg>
        </div>
    </div>
</div>
<!-- Arrow Navigator -->
<div data-u="arrowleft" class="jssora106 prev-arrow" data-scale="0.75">
</div>
<div data-u="arrowright" class="jssora106 next-arrow" data-scale="0.75">
</div>