<footer>
    <div id="list-social">
        <div class="container">
            <div class="col-xs-12 ">
            <ul class="list-inline">
                <li><img src="{{STATIC_URL}}/assets/websites/images/social/icon_facebook.png" alt=""></li>
                <li><img src="{{STATIC_URL}}/assets/websites/images/social/icon_instagram.png" alt=""></li>
                <li><img src="{{STATIC_URL}}/assets/websites/images/social/icon_youtube.png" alt=""></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row content-1">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img id="logo-footer" src="{{STATIC_URL}}/assets/websites/images/logo_footer.png" alt="">
                <h3 class="info address">HELIO CENTER, Đường 2/9,
                Phường Hòa Cường Bắc,
                Quận Hải Châu, TP Đà Nẵng
                </h3>
                <div class="map clearfix">
                    <div class="col-xs-4 pull-left">
                        <img class="map-trigger" src="{{STATIC_URL}}/assets/websites/images/map.png" alt="">
                    </div>
                    <a class="col-xs-8 map-trigger"href="#">XEM BẢN ĐỒ</a>
                </div>
            </div> 
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h2>METIZ CINEMA</h2>
                <ul class="list">
                    <li><a href="">Giới Thiệu VỀ METIZ</a></li>
                    <li><a href="">Thẻ quà tặng</a></li>
                    <li><a href="">Tuyển Dụng</a></li>
                    <li><a href="">Liên Hệ Quảng Cáo</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h2>PHIM CỦA METIZ</h2>
                <ul class="list">
                    <li><a href="">PHIM</a></li>
                    <li><a href="">RẠP PHIM</a></li>
                    <li><a href="">PHÂN LOẠI PHIM</a></li>
                    <li><a href="">CÔNG NGHỆ RẠP PHIM</a></li>
                    <li><a href="">BÌNH LUẬN PHIM</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h2>THÔNG TIN CHUNG</h2>
                <ul class="list">
                    <li><a href="">QUY ĐỊNH TẠI RẠP</a></li>
                    <li><a href="">ĐIỀU KHOẢN CHUNG</a></li>
                    <li><a href="">ĐIỀU KHOẢN GIAO DỊCH</a></li>
                    <li><a href="">CHÍNH SÁCH THANH TOÁN</a></li>
                    <li><a href="">CHÍNH SÁCH BẢO MẬT</a></li>
                    <li><a href="">CÂU HỎI THƯỜNG GẶP</a></li>
                </ul>
            </div>
        </div>
        <div class="row content-2">
            <div id="facebook-like" class="col-lg-3 col-md-3 col-sm-3">
                <div class="fb-like fb_iframe_widget" data-href="http://elearning.vooc.vn/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h3 class="info">Hotline: 1900 6017</h3>
                <h3 class="info">Email: hoidap@cgv.vn</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="info">Giờ làm việc: 8:00 - 22:00</h3>
                <h3 class="info">Tất cả các ngày bao gồm cả Lễ Tết</h3>
            </div>
        </div>
        <div class="row text-center" id="content-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15338.11417491949!2d108.22045677298586!3d16.038039543492065!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2f5c4a784d34c60!2zVHJ1bmcgdMOibSBHaeG6o2kgdHLDrSBQaOG7qWMgaOG7o3AgSGVsaW8gQ2VudGVy!5e0!3m2!1svi!2s!4v1507024696091" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- line -->
    <hr>
    
    <div class="container">
        <div class="row content-3 clearfix">
            <p class="col-sm-4">MỘT SẢN PHẨM ĐẾN TỪ KHỞI PHÁT, LTD.</p>
            <div class="col-sm-4 ">
                 <img id="logo-bottom" class="center-block" src="{{STATIC_URL}}/assets/websites/images/logo_bottom.png" alt="">
            </div>
            <p class="col-sm-4">BẢN QUYỀN © 2017 METIZ CINEMA</p>
        </div>
    </div>
    </div>
</footer>