<div class="footer-cgv-container">
    <div class="footer">
        <div class="footer-brand-slide">
            <div class="sect-smuse">
                <ul>
                    <li><a class="dx" href="{% url 'special_4dx' %}">4DX</a></li>
                    <li><a class="imax" href="{% url 'special_imax' %}">Imax</a></li>
                    <li><a class="starium" href="{% url 'special_starium' %}">Starium</a></li>
                    <li><a class="gold-class" href="{% url 'special_gold_class' %}">Goldclass</a></li>
                    <li><a class="lamour" href="{% url 'special_lamour' %}">L'amour</a></li>
                    <li><a class="lam" href="{% url 'special_sweetbox' %}">Sweetbox</a></li>
                    <li><a class="dolby-atmos" href="{% url 'special_dolby_atmos' %}">Dolby Atmos</a></li>
                    <li><a class="premium-cinema" href="{% url 'special_premium' %}">Premium Cinema</a></li>
                    <li><a class="screenx" href="{% url 'special_screenx' %}">Screenx</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-cgv-policy">
            <div class="content-cgv-policy">
                <div class="cgv-vietnam">
                    <h3>Metiz Cinema</h3>
                    <ul>
                        <li><a href="{% url 'about_cinema' %}">Giới Thiệu</a></li>
                        <li><a href="{% url 'careers' %}">Tuyển Dụng</a></li>
                    </ul>
                </div>
                <div class="cgv-policy">
                    <h3>Điều Khoản Sử Dụng</h3>
                    <ul>
                        <li><a href="{% url 'terms_conditions' %}">Điều Khoản Chung</a></li>
                        <li><a href="{% url 'terms_use' %}">Điều Khoản Giao Dịch</a></li>
                        <li><a href="{% url 'payment_policy' %}">Ch&iacute;nh S&aacute;ch Thanh To&aacute;n</a></li>
                        <li><a href="{% url 'privacy_policy' %}">Ch&iacute;nh S&aacute;ch Bảo Mật</a></li>
                        <li><a href="{% url 'faq' %}">C&acirc;u Hỏi Thường Gặp</a></li>
                    </ul>
                </div>
                <div class="cgv-follow-us">
                    <h3>Kết nối với ch&uacute;ng t&ocirc;i</h3>
                    <ul>
                        <li><a class="follow-fb" href="#" target="_blank"></a></li>
                        <li><a class="follow-yt" href="#" target="_blank"></a></li>
                        <li><a class="follow-instagram" href="#" target="_blank"></a></li>
                    </ul>
                    
                </div>
                <div class="customer-cgv">
                    <h3>Chăm s&oacute;c kh&aacute;ch h&agrave;ng</h3>
                    <p style="line-height: 22px;">Hotline: 1900 6017 Giờ l&agrave;m việc: 8:00 - 22:00 Tất cả c&aacute;c ng&agrave;y bao gồm cả Lễ Tết Email hỗ trợ: <a href="">contacts@vooc.vn</a></p>
                    <span>Một sản phẩm đến từ <a href="#" style="color:blue">Khởi Phát, Ltd.</a></span>
                </div>
            </div>
        </div>
        
    </div>
</div>