<div class="header-language-background">
    <div class="header-container">
        <div class="header-language-right">
            <div class="header-career">
            </div>
            <div class="header-career">
                <p><a href="{% url 'contacts' %}">Liên hệ CGV</a></p>
            </div>
            <div class="header-language-container">
                <div class="store-language-container">
                    <div class="form-language">
                        <ul id="select-language" title="Ngôn ngữ">
                            <li value=""><a href=""><span>EN</span></a></li>
                            <li value="" class="current" selected="selected"><span>VN</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-top-account">
                <div class="account-header-wrapper">
                    <a href="{% url 'account_login'%}" class="topskip-link skip-account">
                        <span>Đăng nhập/ Đăng ký</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<header id="header" class="page-header">
    <div class="page-header-container">
        <a class="logo logo-large" href="{% url 'home'%}">
            <img src="{{ STATIC_URL }}assets/websites/images/metiz-logo.png" alt="CGV Cinemas" class="large" />
           
        </a>
       
        <!-- Navigation -->
        <div id="header-nav">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                         <a class="logo logo-small" href="{% url 'home'%}">
                                <img src="{{ STATIC_URL }}assets/websites/images/metiz-logo.png" alt="CGV Cinemas" class="small" />
                            </a>
                            <a class="logo logo-medium text-center" href="{% url 'home'%}">
                                <img src="{{ STATIC_URL }}assets/websites/images/metiz-logo.png" alt="CGV Cinemas" class="medium" />
                            </a>
                         <div class="skip-links">
                            <button class=" skip-link skip-nav navbar-toggle " data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                                <span class="icon"></span>
                                <span class="label">Menu</span>
                            </button>
                            <button class=" skip-link skip-search navbar-toggle "
                            data-toggle="collapse" data-target="#header-search" aria-expanded="false" >
                                <span class="icon"></span>
                                <span class="label">Tìm kiếm</span>
                            </button>
                            <a href="{% url 'account_login'%}"><button class=" skip-link skip-account navbar-toggle ">
                                    <span class="icon"></span>
                                    <span class="label">Đăng nhập/ Đăng ký</span>
                            </button></a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#test-popup" class="open-popup-link" >Lịch chiếu</a>
                                
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Phim </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li ><a href="{% url 'showing'%}">Phim Đang Chiếu</a></li>
                                    <li ><a href="{% url 'comingsoon'%}">Phim Sắp Chiếu</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="{% url 'news'%}">Khuyến mãi</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Thành viên</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'account_login'%}">Đăng nhập</a></li>
                                    <li><a href="{% url 'account_create'%}">Đăng kí</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">Đánh giá</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
         <div id="header-search" class="skip-content">
            <div class="header-search-left">
                <p><a href="{% url 'news'%}"><img alt="" src="{{ STATIC_URL }}assets/websites/images/tin-moi-uu-dai.gif" /></a></p>
                <form id="search_mini_form" action="#" method="get">
                    <div class="input-box">
                        <label for="search">Search:</label>
                        <input id="search" type="search" name="q" value="" class="input-text required-entry" maxlength="128" placeholder="Tìm kiếm" />
                        <button type="submit" title="Tìm kiếm" class="button search-button"><span><span>Tìm kiếm</span></span>
                        </button>
                    </div>
                    <div id="search_autocomplete" class="search-autocomplete" style="display: none;"></div>
                    
                </form>
            </div>
            <div class="header-search-right">
                <p><a href="{% url 'showing' %}"><img alt="" src="{{ STATIC_URL }}assets/websites/images/mua-ve_ngay.png" /></a></p>
            </div>
        </div>
        <!-- Account -->
        <div id="header-account" class="skip-content">
            <div class="links">
                <ul>
                    <li class="first"><a href="#" title="Tài khoản">Tài khoản</a></li>
                    <li><a href="#" title="Giỏ hàng" class="top-link-cart">Giỏ hàng</a></li>
                    <li><a href="#" title="Thanh toán" class="top-link-checkout">Thanh toán</a></li>
                    <li><a href="#/" title="Đăng ký">Đăng ký</a></li>
                    <li class=" last"><a href="#" title="Đăng nhập">Đăng nhập</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
