<!DOCTYPE html> 
{% load i18n %} 

<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}"> 

    <link href="{{ STATIC_URL }}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css">


    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "{{ STATIC_URL }}assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>




    <script src = "{{STATIC_URL}}assets/js/input.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.77/jquery.form-validator.min.js"></script>

    <script type="text/javascript">
        var STATIC_URL = '{{STATIC_URL}}';
    </script>


    <script src = "{{STATIC_URL}}assets/websites/js/ajaxSetup.js"></script>

    
    {% block metacontent %}{% endblock %}
    {% block meta_title_home %}
      <title>{% block meta_title %}{% endblock %}</title>
    {% endblock %}
    
    
    {% block extrastylesheet %}{% endblock %}
    
    {% block extrascript %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}">

    <section id="main" >
        <div class="row"></div>
        
        <div id="main_wrapper" class="wrapper">
            <div class="row-fluid">
                <div id="container" class="">  
                    <div id="content">
                        {% block content %} 
                        {% endblock %}
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <!-- #main -->
    <!-- Footer -->
    <footer class="footer">
        
       
    </footer>
</body>

</html>
