<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    
    <!-- Set FB app id -->
    <meta property="fb:app_id" content="{{FB_APP_ID}}"/>
    {% block metacontent %}{% endblock %}

    <link href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" rel="icon">
    <link href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <META HTTP-EQUIV="Content-language" CONTENT="vi">

    <link href="{{ STATIC_URL }}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/magnific-popup.css" media="all" />
    <!-- font -->
    <link href="{{ STATIC_URL }}assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}assets/websites/css/font-global.css" rel="stylesheet">
    <!-- vnpay -->
    <link href="https://pay.vnpay.vn/lib/vnpay/vnpay.css" rel="stylesheet"/>
    <!-- Home, header -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/g-erp-metiz.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/custom-metiz.css" media="all" />
    <!-- header -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/header.css" />
    <!-- modal -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/movies_showtime.css" media="all" />
    <!-- footer -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/footer.css" media="all" />
    <!-- all file -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/layout.css" media="all" />
   
    {% block extrastylesheet %}{% endblock %}

    <title>{% block title %}{% endblock title %}</title>

    <!-- Get key captcha -->
    <script type="text/javascript">
        var recaptchaKey = '{{RECAPTCHA_PUBLIC_KEY}}';
        var movieIdTest = '{{MOVIE_ID_TEST}}';
        var STATIC_URL = '{{ STATIC_URL }}';
        var MEDIA_URL = '{{ MEDIA_URL }}';
    </script>
    
    <!-- Google Analytics -->
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-112174997-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <!-- facebook setting -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId={{FB_APP_ID}}';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- end facebook setting -->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '642148775924492');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" 
        src="https://www.facebook.com/tr?id=642148775924492&ev=PageView&noscript=1" 
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/bootstrap.min.js"></script>
    <!-- signup, modal, profile -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.validate-1.17.0.min.js" ></script>
    <!-- modal popup -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.magnific-popup.min.js"></script>
    <!-- vnpay -->
    <script src="https://pay.vnpay.vn/lib/vnpay/vnpay.js"></script>

    
    <!-- film detail -->
    <!-- list_film-->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/ajaxSetup.js"></script>
     <!-- js for header -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/header.js"></script>
    <!-- js for footer -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/footer.js"></script>
    <!-- message result -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/message_result.js"></script>
    <!-- all file -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/layout.js"></script>
    <!-- Translate Message File -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_booking/translate.js"></script>

    <!-- Load js for movie showtimes -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_booking/build_html_movie_showtime.js?time={% now 'd-m-Y-H:i' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_booking/validation_showtime.js?time={% now 'd-m-Y-H:i' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_booking/showtimes_handle_show_popup.js?time={% now 'd-m-Y-H:i' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_booking/showtimes.js?time={% now 'd-m-Y-H:i' %}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_booking/validation_form_booking_infomation.js?time={% now 'd-m-Y-H:i' %}"></script>
    <!-- End Load js for movie showtimes -->
    
    

    {% block extrascript %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{%endblock%}">

    <div class="wrapper">
        <noscript>
            <div class="global-site-notice noscript">
                <div class="notice-inner">
                    <p>
                        <strong>JavaScript seems to be disabled in your browser.</strong>
                        <br /> You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
                </div>
            </div>
        </noscript>
        <div class="page layout cd-main-content">

        <!-- Start Header -->
        {% include 'header.html' %}
        <!-- End Header -->

        <!-- Start Body -->

        <div class="main-container page-detail {% block container_class %}{% endblock %}">
            {% block main_content %} {% endblock %}
            <!-- Include Showtime html using for popup or page schedules -->
            {% include "websites/movies/showtimes.html" %}
        </div>

        <!-- message reult -->
        {% include 'message_result.html' %}

        <!-- End Body -->
        
        
        
        <!-- End Modal -->
        <!-- Start Footer -->
        {% include 'footer.html' %}
        <!-- End Footer -->
        </div>
    </div>
</body>
</html>
