<!DOCTYPE html> 
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}"> 
    <link href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" rel="icon">
    <link href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <META HTTP-EQUIV="Content-language" CONTENT="vi">
    
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery-3.2.1.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/jquery.magnific-popup.min.js"></script>
    <!-- film detail -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/star-rating.min.js"></script>
    <!-- film detail -->
    <!-- showing -->
    <!-- coming_soon-->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/facebook.js"></script>
    <!-- home -->
    <!-- gold class -->
    <!-- imax -->
    <!-- lamour -->
    <!-- premium -->
    <!-- screenx -->
    <!-- starium -->
    <!-- sweetbox -->
    <!-- 4dx-->
    <script src="{{ STATIC_URL }}assets/js/lightslider.js"></script> 
    <script src="{{ STATIC_URL }}assets/js/lightslider/slide_home.js"></script>

    <!-- <link href="{{ STATIC_URL }}assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="{{ STATIC_URL }}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/magnific-popup.css" media="all" />
    <!-- film detail -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/star-rating.min.css" media="all" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/g-erp-cgv.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/custom-cgv.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/header.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/modal.css" media="all" />
    
    <!-- careers_cluster-->
    <!-- careers_unit-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/careers_cluster.css" media="all" />
    <!-- home use 2 file lightslider and slide_home -->
    <!-- 4dx -->
    <!-- gold class -->
    <!-- imax -->
    <!-- lamour -->
    <!-- premium -->
    <!-- screenx -->
    <!-- starium -->
    <!-- sweetbox -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/special_cinema.css" media="all" />
    <link rel="stylesheet"  href="{{ STATIC_URL }}assets/css/lightslider.css"/>
    <link rel="stylesheet"  href="{{ STATIC_URL }}assets/css/lightslider/slide_home.css"/>

    <title>{% block title %}{% endblock title %}</title>
    {% block metacontent %}{% endblock %}
    
    {% block extrastylesheet %}{% endblock %}

    {% block extrascript %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{%endblock%}">
    <div class="mtw_banner_left" style="display: none;">
        <div class="content-banner">
            <a class="load-popup-banners cboxElements" href="#" target="_blank"> 
                <img alt="" src="{{ STATIC_URL }}assets/websites/images/banner/baner-left-vn.jpg" /> </a>
        </div>
    </div>
    <div class="mtw_banner_right" style="display: none;">
        <div class="content-banner banner-verion-vn">
            <div class="banner-culture-day"><a href="#" target="_blank"> <img alt="" src="{{ STATIC_URL }}assets/websites/images/banner/en-banner-right-1.png" /> </a></div>
            <div class="banner-happy-day"><a href="#" target="_blank"> <img alt="" src="{{ STATIC_URL }}assets/websites/images/banner/en-banner-right-2.png" /> </a></div>
            <div class="banner-first-show"><a href="#"> <img alt="" src="{{ STATIC_URL }}assets/websites/images/banner/vn-banner-right-3.png" /> </a></div>
            <div class="banner-student"><a href="#" target="_blank"> <img alt="" src="{{ STATIC_URL }}assets/websites/images/banner/vn-banner-right-4.png" /> </a></div>
        </div>
    </div>
    <div class="wrapper">
        <noscript>
            <div class="global-site-notice noscript">
                <div class="notice-inner">
                    <p>
                        <strong>JavaScript seems to be disabled in your browser.</strong>
                        <br /> You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
                </div>
            </div>
        </noscript>
        <div class="page layout cd-main-content">

        <!-- Start Header -->
        {% include 'header.html' %}
        <!-- End Header -->

        <!-- Start Body -->

        <div class="main-container {% block container_class %}{% endblock %}">
            {% block main_content %} {% endblock %}

        </div>
        <!-- End Body -->
        <!-- Start Modal -->
        {% include 'modal.html' %}
        <!-- End Modal -->
        <!-- Start Footer -->
        {% include 'footer.html' %}
        <!-- End Footer -->
        </div>
    </div>
</body>
</html>