<!DOCTYPE html> 
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" {% endif %}>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}"> 
    <link href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" rel="icon">
    <link href="{{ STATIC_URL }}assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <META HTTP-EQUIV="Content-language" CONTENT="vi">

    <script type="text/javascript" src="https://www.cgv.vn/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/noconflict.js"></script>
 
    <script type="text/javascript" src="https://www.cgv.vn/js/varien/js.js"></script>
   
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/modernizr.custom.min.js"></script>
    
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/enquire.js"></script>
    
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/app.js"></script>
    <!-- hoang custom -->
    <!-- <script type="text/javascript" src="https://www.cgv.vn/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/jquery/noconflict.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/lib/ccard.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/prototype/validation.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/builder.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/effects.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/dragdrop.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/controls.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/scriptaculous/slider.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/varien/js.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/varien/form.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/mage/translate.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/mage/cookies.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/js/google/ga.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/selectivizr.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/matchMedia.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/matchMedia.addListener.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/enquire.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/cgv.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/app.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.swipe.min.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/jquery.cycle2.carousel.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/slideshow.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/lib/imagesloaded.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/enterprise/js/scripts.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/minicart.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/enterprise/js/enterprise/catalogevent.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/enterprise/js/enterprise/wishlist.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/configurableswatches/product-media.js"></script>
    <script type="text/javascript" src="https://www.cgv.vn/skin/frontend/cgv/default/js/configurableswatches/swatches-list.js"></script> -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600" />
   
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/colorbox.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/g-erp-cgv.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/custom-cgv.css" media="all" />
    

    <title>{% block title %}{% endblock title %}</title>
    {% block metacontent %}{% endblock %}
    
    {% block extrastylesheet %}{% endblock %}

    <!-- <script src = "{{ STATIC_URL }}assets/websites/js/ajaxSetup.js"></script> -->
    {% block extrascript %}{% endblock %}

</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{%endblock%}cms-index-index cms-home">
    <div class="mtw_banner_left" style="display: none;">
        <div class="content-banner">
            <a class="load-popup-banners cboxElements" href="https://www.cgv.vn/default/cgv-online" target="_blank"> 
                <img alt="" src="https://www.cgv.vn/media/wysiwyg/banner/baner-left-vn.jpg" /> </a>
        </div>
    </div>
    <div class="mtw_banner_right" style="display: none;">
        <div class="content-banner banner-verion-vn">
            <div class="banner-culture-day"><a href="https://www.cgv.vn/default/newsoffer/cgv-culture-day/" target="_blank"> <img alt="" src="https://www.cgv.vn/media/wysiwyg/banner/en-banner-right-1.png" /> </a></div>
            <div class="banner-happy-day"><a href="https://www.cgv.vn/default/newsoffer/happy-wednesday/" target="_blank"> <img alt="" src="https://www.cgv.vn/media/wysiwyg/banner/en-banner-right-2.png" /> </a></div>
            <div class="banner-first-show"><a href="https://www.cgv.vn/default/newsoffer/first-show" target="_blank"> <img alt="" src="https://www.cgv.vn/media/wysiwyg/banner/vn-banner-right-3.png" /> </a></div>
            <div class="banner-student"><a href="https://www.cgv.vn/default/newsoffer/student-price/" target="_blank"> <img alt="" src="https://www.cgv.vn/media/wysiwyg/banner/vn-banner-right-4.png" /> </a></div>
        </div>
    </div>
    <div class="wrapper">
        <noscript>
            <div class="global-site-notice noscript">
                <div class="notice-inner">
                    <p>
                        <strong>JavaScript seems to be disabled in your browser.</strong>
                        <br /> You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
                </div>
            </div>
        </noscript>
        <div class="page layout cd-main-content">

        <!-- Start Header -->
        {% include 'header.html' %}
        <!-- End Header -->

        <!-- Start Body -->
        <div class="main-container col1-layout">
            {% block main_content %} {% endblock %}

        </div>
        <!-- End Body -->

        <!-- Start Footer -->
        {% include 'footer.html' %}
        <!-- End Footer -->
        </div>
    </div>
</body>
</html>