{% load modal_data_tags %}
{% load i18n %}
<input type="hidden" value="">
<div id="modal-popup" class="white-popup mfp-hide">
    <div class="div-login">
        <div class="top">
            Lịch chiếu 
        </div>
        <div class="container">
            <div class="col-xs-12 row city">
                <h3>{% trans 'Select City' %}</h3>
                <div class="list-item clearfix">
                    <ul>
                    {% get_cites as all_cites %}
                    {% for city in all_cites.data %}
                        <li class="active"><a data-toggle='tab' href="#{{city}}" data='{{city}}'>{{city}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 row cinema ">
                <h3>{% trans 'Select Cinema' %}</h3>
                <div class="tab-content">
                    <div class="list-cinema active clearfix tab-pane " id="id_cinema_detail">
                        <ul class="">
                            <li><a class="btn active" href="#" data-id-server="1">Metiz Cinema</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-booking">
            <section class="section-lightpink">
                <h3 class="title">{% trans 'Select date play' %}</h3>
                <div class="calendar-popup ">
                    <div class="month" >
                       <strong id="center-month"></strong>
                    </div>
                    <div class="row">
                        <ul class="days-popup" id="play-date-slider">
                        {% get_date_showing as list_date_present %}
                        {% for item in list_date_present %}
                            <li class="available popup-movie-schedule" data-date-select="{{item|date:'Y-m-d'}}">
                                <div class="hide-month">{{ item|date:'M'}}</div>
                                <div class="dayofweek">{{ item|date:'D'}}</div>
                                <span class="badge">{{ item|date:'d' }}</span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
            <section class="section-white">
            <h3 class="title">Chọn lịch chiếu</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="list-schedule">
                                <!-- schedule film-->
                            </div>
                         </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- button to skip warnning modal -->
    <button type="button" id="btn-skip" data-dismiss="modal" data-toggle='modal' 
                  data-target='{% if user.is_authenticated %}#profile {% else %}#confirm {% endif %}'></button>

     <!-- Modal warning -->
    <div class="modal" id="warning" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h2 class="modal-title">Cảnh báo</h2>
                </div>
                <div class="modal-body">
                    <p id='content-warnning'></p>
                </div>
                <div class="modal-footer warning-footer">
                  <button type="button" class="btn btn-login" data-dismiss="modal" data-toggle='modal' 
                  data-target='{% if user.is_authenticated %}#profile {% else %}#confirm {% endif %}'>Tôi đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal confirm -->
    <div class="modal fade" id="confirm" data-toggle="modal" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <ul class="nav nav-tabs tab-header">
                        <li class="active"><a data-toggle="tab" href="#member">Đăng nhập</a></li>
                        <li><a data-toggle="tab" href="#guest">Khách</a></li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <!-- MEMBER -->
                        <div id="member" class="tab-pane fade in active">
                            <div class="row">
                                <form class="signin" id='member_form' method="post" action="">
                                    {% csrf_token %}
                                    <div class="col-sm-12">
                                        <div id="error"></div>
                                        <input type="hidden" name="id_server" id="id_server">
                                        <input type="hidden" name="id_showtime" id="id_showtime">
                                        <input type="hidden" name="id_movie_name" id="id_movie_name">
                                        <input type="hidden" name="id_movie_time" id="id_movie_time">
                                        <input type="hidden" name="id_movie_date_active" id="id_movie_date_active">
                                        <div class="form-group">
                                            <label>{% trans "Email" %}</label>
                                            <input type="text" name="email" id="email" placeholder="{% trans 'Enter Email Here' %}" class="form-control">
                                            <label class="form-error" for="email" id='email-error'></label>
                                        </div>
                                        <div class="form-group">
                                            <label>{% trans "Password"%}</label>
                                            <input type="password" name="password" id="password" class="form-control"  placeholder="{% trans 'Enter Password Here' %}">
                                            <label class="form-error" for="password" id='password-error'></label>
                                        </div>
                                        <button type="submit" class="btn btn-login">{% trans 'Login' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- GUEST -->
                        <div id="guest" class="tab-pane fade">
                            {% get_term as term %}
                            <textarea class="guest-policy" rows="8" cols="5" contenteditable="true">{{ term|safe }}
                            </textarea>
                            <div class="row checkbox-term">
                                <input name="agree_term" id="agree_term" required="requierd" class="checkbox validation-passed" autocomplete="off" type="checkbox"> 
                                <label class="agree_term" for="agree_term">Tôi đã đọc, hiểu và đồng ý với các điều khoản.</label>
                            </div>
                            <div class="row">
                                <form class='form-popup' id='guest_form' method="post" action="{% url 'booking' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_server" id="id_server">
                                    <input type="hidden" name="id_showtime" id="id_showtime">
                                    <input type="hidden" name="id_movie_name" id="id_movie_name">
                                    <input type="hidden" name="id_movie_time" id="id_movie_time">
                                    <input type="hidden" name="id_movie_date_active" id="id_movie_date_active">

                                    <div class="col-sm-12">
                                        <div id="error"></div>
                                         <div class="form-group">
                                            <label>{% trans "Full Name" %}</label>
                                            <input type="text" name="name" id="name" class="form-control"  placeholder="{% trans 'Enter Full Name Here' %}" value="{{request.session.full_name}}">
                                            <label class="form-error" for="name" id='name-error'></label>
                                        </div>
                                        <div class="form-group form-phone">
                                            <label>{% trans "Phone" %}</label>
                                            <div class="country-code">+84</div>
                                            <input type="number" name="phone" id="phone" placeholder="{% trans 'Enter Phone Here' %}" class="form-control textPhone" value="{{request.session.phone}}">
                                            <label  class="form-error" for="phone" id='phone-error'></label>
                                        </div>
                                        <div class="form-group">
                                            <label>{% trans "Email" %}</label>
                                            <input type="text" name="email" id="email" placeholder="{% trans 'Enter Email Here' %}" class="form-control" value="{{request.session.email}}">
                                            <label  class="form-error" for="email" id='email-error'></label>
                                        </div>
                                        <button type="submit" id="submit" class="btn btn-login submit" disabled>Đặt vé</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>   
                </div>
            </div>
        </div>
    </div>

    <!-- modal update profile -->
    <div class="modal fade" id="profile" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h2 class="modal-title">Xác nhận thông tin</h2>
                </div>
                <div class="modal-body">
                    <p>Xác nhận thông tin sau đây là của bạn</p>
                    <div class="row">
                        <form class='form-popup' id='update_form'  method="post" action="{% url 'booking' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id_server" id="id_server">
                            <input type="hidden" name="id_showtime" id="id_showtime">
                            <input type="hidden" name="id_movie_name" id="id_movie_name">
                            <input type="hidden" name="id_movie_time" id="id_movie_time">
                            <input type="hidden" name="id_movie_date_active" id="id_movie_date_active">
                            
                            <div class="col-sm-12">
                                <div id="error"></div>
                                 <div class="form-group">
                                    <label>{% trans "Full Name" %}</label>
                                    <input type="text" name="name" id="name" class="form-control"  placeholder="{% trans 'Enter Full Name Here' %}" 
                                    value="{% if request.session.full_name %}{{request.session.full_name}}{% else %}{{user.full_name}}{% endif %}">
                                    <label  class="form-error" for="name" id='name-error'></label>
                                </div>
                                <div class="form-group form-phone">
                                    <label>{% trans "Phone" %}</label>
                                    <div class="country-code">+84</div>
                                    <input type="number" name="phone" id="phone" placeholder="{% trans 'Enter Phone Here' %}" class="form-control" 
                                    value="{% if request.session.phone %}{{request.session.phone}}{% else %}{{user.phone}}{% endif %}">
                                    <label  class="form-error" for="phone" id='phone-error'></label>
                                </div>
                                <div class="form-group">
                                    <label>{% trans "Email" %}</label>
                                    <input type="text" name="email" id="email" placeholder="{% trans 'Enter Email Here' %}" class="form-control" 
                                    value='{% if request.session.email %}{{request.session.email}}{% else %}{{user.email}}{% endif %}'>
                                    <label  class="form-error" for="email" id='email-error'></label>
                                </div>
                                <button type="submit" id='update' class="btn btn-login submit">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
