<div id="specialtheater-list" class="specialtheater-list">
	<ul class="special-items">
		
		<li class="item-icon item-sweetbox">
			<a title="Sweetbox" href="{% url 'special_sweetbox'%}">sweetbox</a>
		</li>
		
		<li class="item-icon item-4dx">
			<a title="Sweetbox" href="{% url 'special_4dx'%}">4dx</a>
		</li>
		
		<li class="item-icon item-dolby-atmos ">
			<a title="Sweetbox" href="{% url 'special_dolby_atmos'%}">dolby-atmos</a>
		</li>
		
		<li class="item-icon item-imax ">
			<a title="Sweetbox" href="{% url 'special_imax'%}">imax</a>
		</li>
		
		<li class="item-icon item-gold-class">
			<a title="Sweetbox" href="{% url 'special_gold_class'%}">gold-class</a>
		</li>
		
		<li class="item-icon item-lamour ">
			<a title="Sweetbox" href="{% url 'special_lamour'%}">lamour</a>
		</li>
		
		<li class="item-icon item-starium ">
			<a title="Sweetbox" href="{% url 'special_starium'%}">starium</a>
		</li>
		
		<li class="item-icon item-premium ">
			<a title="Sweetbox" href="{% url 'special_premium'%}">premium</a>
		</li>
		
		<li class="item-icon item-screenx ">
			<a title="Sweetbox" href="{% url 'special_screenx'%}">screenx</a>
		</li>
		
	</ul>
</div>