{% extends "layout.html" %}
{% load i18n %}
{% block title %}Thanh Toán{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
    <script src="{{ STATIC_URL }}assets/websites/js/vnpayment.js"></script>
{% endblock %}

{% block main_content %}
<div class="main">
    <div class="col-main vnpayment">
        <div class="page-title">
            <h2>
                {{ title }} 
                <div class="pull-right" id="time-cout-down">
                </div>
            </h2>
        </div>
        <div class="exceeds-time">Lưu ý: Thời gian giao dịch cho phép tối đa là 5 phút. Nếu làm mới hoặc thoát trang giao dịch này sẽ bị hủy.</div>
        <div class="table-responsive">
            <form action="{% url 'payment' %}" id="create_form" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="language">Loại hàng hóa </label>
                        <select name="order_type" id="order_type" class="form-control">
                            <option value="190001">Mua vé xem phim</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="order_id">Mã hóa đơn</label>
                        <input class="form-control" id="order_id"
                               name="order_id" type="text" value="{% now 'YmdHis' %}"  readonly />
                    </div>
                    <div class="form-group">
                        <label for="amount">Số tiền</label>
                        <input class="form-control" id="amount-text"
                               name="amount-text" type="number" value="{{ total_payment }}" {% if  total_payment > 0 %} readonly {% endif %}/>
                        <input type="hidden" name="amount" id="amount" value="{{ total_payment }}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bank_code">Ngân hàng</label>
                        <select name="bank_code" id="bank_code" class="form-control">
                            <option value="">Không chọn</option>
                            <option value="NCB"> Ngân hàng Quốc Dân</option>
                            <option value="AGRIBANK"> Ngân hàng Agribank</option>
                            <option value="SCB"> Ngân hàng Thương Mại Cổ Phần Sài Gòn</option>
                            <option value="SACOMBANK">Ngân hàng SacomBank</option>
                            <option value="EXIMBANK"> Ngân hàng EximBank</option>
                            <option value="MSBANK"> Ngân hàng MSBANK</option>
                            <option value="NAMABANK"> Ngân hàng Nam Á</option>
                            <option value="VNMART"> Vi điện tử VnMart</option>
                            <option value="VIETINBANK">Ngân hàng Vietinbank</option>
                            <option value="VIETCOMBANK"> Ngân hàng Vietcombank</option>
                            <option value="HDBANK">Ngân hàng HDBank</option>
                            <option value="DONGABANK"> Ngân hàng Đông Á</option>
                            <option value="TPBANK"> Ngân hàng Tiên Phong</option>
                            <option value="OJB"> Ngân hàng Đại Dương</option>
                            <option value="BIDV"> Ngân hàng BIDV</option>
                            <option value="TECHCOMBANK"> Ngân hàng Techcombank</option>
                            <option value="VPBANK"> Ngân hàng VPBank</option>
                            <option value="MBBANK"> Ngân hàng MBBank</option>
                            <option value="ACB"> Ngân hàng ACB</option>
                            <option value="OCB"> Ngân Hàng TMCP Phương Đông Việt Nam</option>
                            <option value="IVB"> Ngân Hàng INDOVINA</option>
                            <option value="VISA"> Thanh toán qua VISA/MASTER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language">Ngôn ngữ</label>
                        <select name="language" id="language" class="form-control">
                            <option value="vn">Tiếng Việt</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="order_desc">Nội dung thanh toán</label>
                        <textarea class="form-control" cols="20" id="order_desc" name="order_desc" rows="2" readonly>{% if not order_desc %}Phim: {{ id_movie_name }}, Ngày: {{ id_movie_date_active }}, Thời gian: {{ id_movie_time }}, Số ghế: {{ total_seats }}, Ghế: {{ seats }}, Rạp: Metiz Cinema.{% else %}{{ order_desc }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="text-center">
                    <input type="hidden" id="working_id" name="working_id" value="{{working_id}}" >
                    <input type="hidden" id="barcode" name="barcode" value="{{barcode}}" >
                    <input type="hidden" id="seats_choice" name="seats_choice" value="{{seats_choice}}" >
                    <input type="hidden" id="id_server" name="id_server" value="{{id_server}}" >
                    <input type="hidden" id="id_showtime" name="id_showtime" value="{{id_showtime}}" >
                    <input type="hidden" id="id_movie_name" name="id_movie_name" value="{{id_movie_name}}" >
                    <input type="hidden" id="id_movie_time" name="id_movie_time" value="{{id_movie_time}}" >
                    <input type="hidden" id="id_movie_date_active" name="id_movie_date_active" value="{{id_movie_date_active}}" >

                    <button type="submit" class="btn btn-default" id="btn-payment-seats">Thanh toán Redirect</button>
                </div>
                {% csrf_token %}
                <div class="form-group"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
