{% extends "layout.html" %}
{% load i18n %}
{% block title %}Kết Quả Thanh Toán{% endblock title %}

{% block extrastylesheet %}
 <!-- Payment and payment_return -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/payment.css" media="all" />
{% endblock %}

{% block extrascript %}
    <script src="{{ STATIC_URL }}assets/websites/js/payment_return.js"></script>
{% endblock %}
{% block main_content %}
<div class="main">
    <div class="col-main payment-return">
        <div class="table-payment">
            <div class="panel-heading"><h2>{{ title }}: {{ result }}</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-5 col-sm-3">
                        Mã đặt vé:
                    </div>
                    <div class="col-xs-7 col-sm-9">
                        {% if barcode %}{{barcode}}{% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-3">
                        Số tiền:
                    </div>
                    <div class="col-xs-7 col-sm-9">
                        <span class="amout-pay-return">{{ amount }}</span> VNĐ
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-3 payment-order-desc">
                        Mô tả đặt vé:
                    </div>
                    <div class="col-xs-7 col-sm-9 payment-order-desc">
                        {{ order_desc }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-3">
                        Số giao dịch:
                    </div>
                    <div class="col-xs-7 col-sm-9">
                        {{ vnp_TransactionNo }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 col-sm-3">
                        Kết quả giao dịch:
                    </div>
                    {% if vnp_ResponseCode == '00' %}
                        <div class="col-xs-7 col-sm-9">
                            Thành công
                        </div>
                    {% else %}
                        <div class="col-xs-7 col-sm-9">
                            Lỗi
                        </div>
                    {% endif %}
                </div>
                {% if msg %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <p class="alert-warning"> {{ msg }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <p class="back-link"><a href="/"><small>&laquo; </small>Quay lại trang chủ</a></p>
        </div>
    </div>
</div>
{% endblock %}
