{% extends "layout.html" %}
{% load i18n %}
{% block title %}Kết Quả Thanh Toán{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
{% endblock %}
{% block main_content %}
<div class="main">
    <div class="col-main payment-return">
        <div class="table-payment">
            <div class="panel-heading"><h2>{{ title }}: {{ result }}</h2></div>
            <div class="panel-body">
                <p>order_id:{{ order_id }}</p>
                <p>amount:{{ amount }}</p>
                <p>order_desc:{{ order_desc }}</p>
                <p>vnp_TransactionNo:{{ vnp_TransactionNo }}</p>
                {% if vnp_ResponseCode == '00' %}
                    <p>vnp_ResponseCode: {{ vnp_ResponseCode }} - Thành công</p>
                {% else %}
                    <p>vnp_ResponseCode: {{ vnp_ResponseCode }} - Lỗi</p>
                {% endif %}
                {% if msg %}
                    <p class="alert-warning"> {{ msg }}</p>
                {% endif %}
            </div>
            <p class="back-link"><a href="/"><small>&laquo; </small>Quay lại trang chủ</a></p>
        </div>
    </div>
</div>
{% endblock %}
