{% extends "layout.html" %}
{% load i18n %}
{% block title %}Thanh Toán{% endblock title %}

{% block extrastylesheet %}
{% endblock %}

{% block extrascript %}
    <script src="{{ STATIC_URL }}assets/websites/js/vnpayment.js"></script>
{% endblock %}

{% block main_content %}
<div class="main">
    <div class="col-main vnpayment">
        <div class="page-title">
            <h2>{{ title }}</h2>
        </div>
        <div class="table-responsive">
            <form action="{% url 'payment' %}" id="create_form" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="language">Loại hàng hóa </label>
                        <select name="order_type" id="order_type" class="form-control">
                            <option value="topup">Mua vé xem phim</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="order_id">Mã hóa đơn</label>
                        <input class="form-control" id="order_id"
                               name="order_id" type="text" value="{% now 'YmdHis' %}" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="amount">Số tiền</label>
                        <input class="form-control" id="amount"
                               name="amount" type="number" value="{{ total_payment }}" disabled/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="bank_code">Ngân hàng</label>
                        <select name="bank_code" id="bank_code" class="form-control">
                            <option value="">Không chọn</option>
                            <option value="NCB"> Ngân hàng Quốc Dân</option>
                            <option value="AGRIBANK"> Ngân hàng Agribank</option>
                            <option value="SCB"> Ngân hàng Thương Mại Cổ Phần Sài Gòn</option>
                            <option value="SACOMBANK">Ngân hàng SacomBank</option>
                            <option value="EXIMBANK"> Ngân hàng EximBank</option>
                            <option value="MSBANK"> Ngân hàng MSBANK</option>
                            <option value="NAMABANK"> Ngân hàng Nam Á</option>
                            <option value="VNMART"> Vi điện tử VnMart</option>
                            <option value="VIETINBANK">Ngân hàng Vietinbank</option>
                            <option value="VIETCOMBANK"> Ngân hàng Vietcombank</option>
                            <option value="HDBANK">Ngân hàng HDBank</option>
                            <option value="DONGABANK"> Ngân hàng Đông Á</option>
                            <option value="TPBANK"> Ngân hàng Tiên Phong</option>
                            <option value="OJB"> Ngân hàng Đại Dương</option>
                            <option value="BIDV"> Ngân hàng BIDV</option>
                            <option value="TECHCOMBANK"> Ngân hàng Techcombank</option>
                            <option value="VPBANK"> Ngân hàng VPBank</option>
                            <option value="MBBANK"> Ngân hàng MBBank</option>
                            <option value="ACB"> Ngân hàng ACB</option>
                            <option value="OCB"> Ngân Hàng TMCP Phương Đông Việt Nam</option>
                            <option value="IVB"> Ngân Hàng INDOVINA</option>
                            <option value="VISA"> Thanh toán qua VISA/MASTER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language">Ngôn ngữ</label>
                        <select name="language" id="language" class="form-control">
                            <option value="vn">Tiếng Việt</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="order_desc">Nội dung thanh toán</label>
                        <textarea class="form-control" cols="20" id="order_desc" name="order_desc" rows="2">Thanh toán đơn hàng : &#13;&#10; Thời gian: {% now "Y-m-d H:i:s" %} &#13;&#10; Số ghế: {{ total_seats }} &#13;&#10; Ghế: {{ seats }}</textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">Thanh toán Redirect</button>
                </div>
                {% csrf_token %}
                <div class="form-group"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
