{% extends "layout.html" %}

{% block extrastylesheet %}
    <!-- refund, query has datetimepicker -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/datetimepicker/jquery.datetimepicker.css">
     <!-- query, refund -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/query_refund.css" media="all" />
{% endblock %}

{% block extrascript %}
    <!-- refund, query has datetimepicker -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/query.js"></script>
{% endblock %}
{% block main_content %}

        <div class="container " id="content-query">
            <div class="col-lg-offset-1">
                <h3>{{ title }}</h3>
                <div class="table-responsive ">
                    <form action="{% url "query" %}" id="create_form" method="post">

                        <div class="form-group">
                            <label for="order_id">Mã hóa đơn</label>
                            <div class="inline">
                                <input class="form-control" id="order_id"
                                   name="order_id" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="order_id">Thời gian thanh toán</label>
                            <input class="form-control" id="trans_date"
                                   name="trans_date" type="text"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-metiz">Kiểm tra</button>
                        </div>

                        {% csrf_token %}
                    </form>
                    {% if data %}
                        {% for key,val in data.items %}
                         <div class="form-group">
                            <label>{{ key }}: {{ val }}</label>
                        </div>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}
