{% extends "layout.html" %}

{% block extrastylesheet %}
    <!-- refund, query has datetimepicker -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/datetimepicker/jquery.datetimepicker.css">
     <!-- query, refund -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/query_refund.css" media="all" />
{% endblock %}

{% block extrascript %}
    <!-- refund, query has datetimepicker -->
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/refund.js"></script>
{% endblock %}


{% block main_content %}
        <div class="container " id="content-refund">
            <div class="col-lg-offset-1">
                <h3>{{ title }}</h3>
                <div class="table-responsive">
                    <form action="{% url "query" %}" id="create_form" method="post">

                        <div class="form-group">
                            <label for="order_id">Mã hóa đơn</label>
                            <input class="form-control" id="order_id"
                                   name="order_id" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="order_id">Số tiền hoàn trả</label>
                            <input class="form-control" id="amount"
                                   name="amount" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="order_id">Nội dung/lý do hoàn trả</label>
                            <input class="form-control" id="order_desc"
                                   name="order_desc" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="order_id">Thời gian Thanh toán</label>
                            <input class="form-control" id="trans_time"
                                   name="trans_time" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="order_id">Ngày GD</label>
                            <input class="form-control" id="trans_date"
                                   name="trans_date" type="text"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Gửi</button>
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    

{% endblock %}
