{% load i18n %}
<div class="container hide-area">
    <div class="col-xs-12 row city">
        <h3>{% trans 'Select City' %}</h3>
        <div class="list-item clearfix">
            <ul>
                {% get_cites as all_cites %} {% for city in all_cites.data %}
                <li class="active"><a data-toggle='tab' href="#{{city}}" data='{{city}}'>{{city}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-xs-12 row cinema ">
        <h3>{% trans 'Select Cinema' %}</h3>
        <div class="tab-content">
            <div class="list-cinema active clearfix tab-pane " id="id_cinema_detail">
                <ul class="">
                    <li><a class="btn active" href="#" data-id-server="1">Metiz Cinema</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% get_rated as rated %}
    <p id='rated'>{{ rated }}</p>
</div>