{% load i18n %}
<div id="member" class="tab-pane fade in active">
    <div class="row form-user-info">
        <form class="signin" id='member_form' method="post" action="">
            {% csrf_token %}
            <div class="col-sm-12">
                <div id="error"></div>
                <div class="form-group">
                    <label>{% trans "Email" %}</label>
                    <input type="text" name="email" id="email_login" placeholder="{% trans 'Enter Email Here' %}" class="form-control">
                    <label class="form-error" for="email" id='email-error'></label>
                </div>
                <div class="form-group">
                    <label>{% trans "Password"%}</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="{% trans 'Enter Password Here' %}">
                    <label class="form-error" fo    r="password" id='password-error'></label>
                </div>
                <button type="submit" class="btn btn-login">{% trans 'Login' %}</button>
            </div>
        </form>
    </div>
</div>