<!-- Allow booking -->
<div class="modal" id="alert_allow_booking" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="modal-title">Thông báo</h2>
            </div>
            <div class="modal-body">
                <p class="member-card-info">Phim này hiện đang không mở đặt vé trực tuyến. Mời bạn chọn phim khác.</p>
            </div>
            <div class="modal-footer warning-footer">
                <button id="btn_add_card" type="button" class="btn btn-login" data-dismiss="modal" data-toggle='modal'>
                    Đồng ý
                </button>
            </div>
        </div>
    </div>
</div>