<!-- Modal warning -->
<div class="modal modal-schedule" id="warning" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Cảnh báo</h2>
            </div>
            <div class="modal-body">
                <p id='content-warnning'></p>
            </div>
            <div class="modal-footer warning-footer">
                <button type="button" class="btn btn-login" data-dismiss="modal" data-toggle='modal' data-target='#confirm'>Tôi đồng ý</button>
            </div>
        </div>
    </div>
</div>

