{% extends "layout_report.html" %}
{% block meta_title %}Booking Information Report{% endblock %}
{% block extrastylesheet %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
	<link href="{{ STATIC_URL }}assets/websites/css/booking_info_report.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block extrascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}assets/websites/js/booking_info_report.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content%}
	<h1 class="center">Booking Information Report</h1>
	<div class="container" id="card-information">
		<div class="col-md-12">
			<div class="panel panel-primary">
			    <div class="panel-heading">Search Fields</div>
			    <div class="panel-body">
			    	<form action="" method="POST" id="form-search" enctype="multipart/form-data" class="form-horizontal col-md-12">
                		{% csrf_token %}
                		<fieldset>
							<div class="form-group">
								<div class="col-md-2 align-right">
	                				<label for="id_order_id">Order ID</label>
	                			</div>
								<div class="col-md-4">
                					<input id="id_order_id" name="order_id"  class="form-control" type="text" placeholder="Order ID" data-sanitize="trim" data-validation="number" data-validation-optional="true" >
                				</div>
                				<div class="col-md-2 align-right">
	                				<label for="id_card_status">Date</label>
	                			</div>
                				<div class="col-md-2">
                					<input id="id_date_from" name="date_from" class="form-control" type="text" placeholder="From" data-validation="date" data-validation-format="dd/mm/yyyy" data-sanitize="trim" data-validation-optional="true" data-validation-require-leading-zero="false"/>
                				</div>
                				<div class="col-md-2">
					                <input id="id_date_to" name="date_to" class="form-control" type="text" placeholder="To" data-validation="date compare" data-validation-format="dd/mm/yyyy" type="text" data-sanitize="trim" data-validation-optional="true" data-validation-require-leading-zero="false"/>
                				</div>
							</div>
							<div class="form-group">
								<div class="col-md-2 align-right">
	                				<label for="id_order_status">Order Status</label>
	                			</div>
								<div class="col-md-4 multiple-custom">
                					<select id="id_order_status" multiple name="order_status" class="form-control">
                						<option value="pendding">Pending</option>
										<option value="cancel">Cancel</option>
										<option value="done">Done</option>
										<option value="confirm_error">Confirm Error</option>
										<option value="payment_error">Payment Error</option>
									</select> 

                				</div>
                				<div class="col-md-2 align-right">
	                				<label for="id_email">Email</label>
	                			</div>
								<div class="col-md-4">
                					<input id="id_email" name="email" class="form-control" type="email" placeholder="Email" data-sanitize="trim" data-validation="email" data-validation-optional="true">
                				</div>
							</div>
							<div class="form-group">
								
								<div class="col-md-2 align-right">
	                				<label for="id_barcode">Barcode</label>
	                			</div>
								<div class="col-md-4">
                					<input id="id_barcode" name="barcode" class="form-control" type="text" placeholder="BarCode" data-sanitize="trim" data-validation="number" data-validation-optional="true">
                				</div>
                				<div class="col-md-2 align-right">
	                				<label for="id_phone">Phone</label>
	                			</div>
								<div class="col-md-4">
                					<input id="id_phone" name="phone" class="form-control" type="text" placeholder="Phone" data-sanitize="trim" data-validation="number" data-validation-optional="true">
                				</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<button id ="search-btn" type="button" class="btn btn-primary pull-right">
	                                    <span class="bigger-110">Search</span>
	                                </button>
								</div>
							</div>
                		</fieldset>
                	</form>
			    </div>
			</div>

			<div class="panel panel-primary content-two">
				<div class="panel-heading">View Detail
					<div class="col-md-12">
				    	<button id="download-btn" type="button" class="btn btn-primary pull-right" style="margin-top: -27px;background-color: #fff;color: #555;">
	                        <span class="bigger-110">Download</span>
	                    </button>
	                    <a href="" class="dl-excel" target="_blank" class="hidden"></a>
                    </div>
				</div>
				    <div class="panel-body search-result">
				    	<div class="col-md-12">
							<div class="table-responsive">
								<table id="booking_info_table" class="table">
									<thead>
							            <tr>
							            	<th>Order ID</th>
							            	<th>Order Description</th>
							            	<th>Order Status</th>
							            	<th>Order Transaction</th>
							            	<th>Barcode</th>
							            	<th>Amount</th>
							            	<th>Full Name</th>
							            	<th>Email</th>
							            	<th>Phone</th>
							            	<th>Created Date</th>
							            </tr>
							        </thead>
								</table>
							</div>
						</div>
				    </div> 
				</div>
			</div>
		</div>
		
	</div>
{% endblock%}
