{% extends "layout.html" %}
{% load i18n %}

{% block title %}Đồng Bộ Lịch Chiếu Phim{% endblock title %}

{% block extrastylesheet %} 
    <!-- password reset form, done, complete, comfirm -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/password_reset.css" media="all" />
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/websites/js/movies_synchronize.js"></script>
{% endblock %}


{% block container_class%}col1-layout{% endblock%}

{% block main_content%}

<div class="main">            
    <div class="col-main pass-reset-form">
        <div class="form-forgot-pass">
            <div class="form-change-pass">
                <h2>Đồng Bộ Lịch Chiếu Phim</h2>
                <form action="#" method="post" id="form-validate" class="form-validate">
                    <div class="fieldset">          
                        <p class="form-instructions">Đồng Bộ Lịch Chiếu Phim Ngay Thời Điểm Hiện Tại. Vui Lòng Bấm Vào Nút Bên Dưới.</p>
                        
                    </div>
                    <div class="buttons-set">
                        <button id="btn-sync" style="border-radius: 25px; border: 1.5px solid #0e1d2f; font-weight: bold; background: #0e1d2f; margin-top: -10px; height: 50px; color: #fff; margin-right: 50%; padding: 0px 25px;" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Đang Đồng Bộ">Đồng Bộ</button>

                    </div>
                    <p id="msg-sync" style="margin-left: 30%; margin-top: 20px; font-size: 30px; color: rgb(51, 122, 183); display: none;"> Đồng Bộ Phim Thành Công </p>
                    <p id="msg-sync-error" style="margin-left: 30%; margin-top: 20px; font-size: 30px; color: #e71a0f; display: none;">Lỗi : Đồng Bộ Phim Thất Bại </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock%}
