{% extends "layout.html" %}
{% load i18n %}

{% block title %}MOVIES API ID{% endblock title %}

{% block extrastylesheet %}
    <link href="{{ STATIC_URL }}assets/css/dateBox/jtsage-datebox.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/websites/css/pos_movie_api_ids.css?version={{BUILD_VERSION}}" media="all" />
{% endblock %}
{% block extrascript %}
     <!-- datepiker for signup, profile -->
    <script src="{{ STATIC_URL }}assets/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}assets/js/dateBox/jtsage-datebox.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}assets/js/dateBox/messages-datebox.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}assets/websites/js/pos_movie_api_ids.js?version={{BUILD_VERSION}}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block main_content%}
<div class="main-container main-movie-api">
    <div class="main">
        <div class="movie-api-title">
            <h1>Danh sách movies API ID</h1>
        </div>
        <div class="row">
            <div class='col-md-12 form-get-movie-api-id'>
             <div class="form-group">
                <label for="lbl-request-date">Ngày Chiếu Phim</label>
                <input type="text" class="form-control" id="input-request-date" placeholder="yyyy-mm-dd">
                <p class="error_date"></p>
              </div>
            <button class="btn btn-get-movie-api-id">Get Movies API ID</button>

        </div>
        </div>
        
        <table class="table-display-movie-api table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Tên Phim</th>
              <th scope="col">Movie API ID</th>
            </tr>
          </thead>
          <tbody id="body-display-movies">
              
          </tbody>
        </table>

    </div>
</div>
{% endblock%}
